<div id="loginModal" class="modal-content  col-xs-12 col-md-12 mfp-hide">
    <form class="register" id="otpLoginForm" action="{{ path("fos_user_security_check") }}" method="post" novalidate="novalidate">
        <div class="modal-header">
            <h4 class="modal-title">LOGIN</h4>
        </div>
        <div class="modal-body">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <div class="panel-body">
                <span id="error"></span>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                        <input type="text" id="_username" data-action="{{ path(globalOption.subDomain ~ '_webservice_customer_mobile_validation') }}" autocomplete="false" name="_username" required="required" class="userMobile form-control" placeholder="Enter your mobile no">

                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input type="password" id="_password" name="_password" required="required" class="form-control secured" autocomplete="off" placeholder="Enter your password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Remember me!
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit"  class="btn btn-sm btn-primary pull-right" role="button">Log in</button>
        </div>

    </form>
</div>
<!-- Modal -->
