@import url("http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css");
.search-form{
    margin: 0!important;
}
.cashPayment{
    display: none;
}
.form .control-group .controls ul{
    margin-left: 0;
    margin-top: -10px;
}
#error-msg{
    color: #f0262f;
}


.select2-container{
    margin-left: 15px!important;
}
.select2Item{
    float: left!important;
    margin-left: 0!important;
}

.search-form{
    margin: 0!important;
}

.search-form .search-input{
    height: 34px !important;
    min-height: 34px!important;
}

.search-portlet.box{
    margin-bottom: 0!important;
    height: 34px!important;
    border-bottom: 1px solid #555555!important;
    border-top: 1px solid #555555!important;
}

#message {
    line-height: 21px;
    text-align: right;
    font-weight: bold;
    color: #ffffff;
}

.select2{
    margin-left: 0!important;
}

.leftMargin{
    margin-left: -23px!important;
}

.left-margin{
    margin-left: -23px!important;
}
.popover .popover-title {
    padding: 10px;
    margin-bottom: 5px!important;
}
.editable-input input.m-wrap{
    height: 20px!important;
}


table.DTFC_Cloned thead,table.DTFC_Cloned tfoot{background-color:white}div.DTFC_Blocker{background-color:white}div.DTFC_LeftWrapper table.dataTable,div.DTFC_RightWrapper table.dataTable{margin-bottom:0;z-index:2}div.DTFC_LeftWrapper table.dataTable.no-footer,div.DTFC_RightWrapper table.dataTable.no-footer{border-bottom:none}

th, td { white-space: nowrap; }
div.dataTables_wrapper {
    margin: 0 auto;
}
.red{
    background: red;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-top: 1px solid grey;
}

td, th {
    margin: 0;
    border: 1px solid grey;
    white-space: nowrap;
    border-top-width: 0px;
}

.table-div {
    width: 500px;
    overflow-x: scroll;
    margin-left: 5em;
    overflow-y: visible;
    padding: 0;
}

.headcol {
    position: absolute;
    width: 5em;
    left: 0;
    top: auto;
    border-top-width: 1px;
    /*only relevant for first row*/
    margin-top: -1px;
    /*compensate for top border*/
}

.headcol:before {
    content: 'Row ';
}

.long {
    background: yellow;
    letter-spacing: 1em;
}

.fix-column {
    float: left;
}
.thead {
    height: 40px;
    white-space: nowrap;
}
.thead > span {
    display: inline-block;
    width: 120px;
    line-height: 40px;
    box-shadow: inset 0 0 1px 0 rgba(0,0,0,.5);
    background-color: rgba(255,0,0,.3);
    text-align: center;
}
.trow {
    white-space: nowrap;
}
.trow > span {
    display: inline-block;
    width: 120px;
    box-shadow: inset 0 0 1px 0 rgba(0,0,0,.5);
    line-height: 80px;
    height: 80px;
}
.tbody {
    height: 300px;
    overflow: auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.fix-column > .tbody {
    overflow: hidden;
    /*padding-bottom: 50px;*/
}
/*.fix-column > .tbody > .trow:last-child {margin-bottom: 50px;}*/

.fix-column > .tbody > .trow {
    margin-top: -50px;
    margin-bottom: 50px;
}
.fix-column > .tbody > .trow:first-child {
    margin-top: 0px;
}

.rest-columns {
    width: 350px;
}
.rest-columns > .thead {
    /*padding-right: 50px;*/
    overflow: hidden;
}
/*.rest-columns > .thead > :last-child {margin-right: 50px;}*/
.rest-columns > .thead > span {
    margin-right: 50px;
    margin-left: -50px;
}
.rest-columns > .thead > :first-child {margin-left: 0px;}


.tooltip-inner{
    background-color: #d12610;
}
.tooltip.top .tooltip-arrow{
    color: #d12610 !important;
}
.close{
    background-image: none!important;
}
.dialogModal .dialogModal_top .dialogModal_header{
    width: 100%!important;
}
.dialogModal .dialogModal_body{
    width: 100%!important;
}
.dialogModal .dialogModal_content{

}
.dialogModal_content .mini{
    height: 20px!important;
}