@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

/* =============  Basic Settings modify Bootstarp ===============*/
a{
    color: #F88216;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #C66812;
}

p{
    line-height: 1.66667em;
    font-size: 1.1em;
}

.btn, .btn-group-sm>.btn, .btn-sm{
   /* border-radius: 0!important;*/
}
.box .info-links{
    line-height: 30px;
}

.tooltip{
    z-index: 100!important;
}
.form-control, .form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fff;
    color: #000;
}

.btn{
    border-radius: 0!important;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #285e8e;
    box-shadow:none;
    outline: 0 none;
}

#error{
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid transparent;
    border-color: #ebccd1;
    padding:5px;
    margin-bottom: 20px;
    display: inherit;
}
.help-block{
    margin-top: 0;
}

/*=================================== HEADER =====================================*/


#menu-bar {
    background-color: #187bb2;
    box-shadow: 0px 2px 0px #187bb2;
}

#header-menu ul a{
    text-transform: capitalize;
    font-size: 14px;
}
#header-menu ul a { color: #ffffff;}
#header-menu ul li:hover { background-color: #F88216; }
#header-menu ul li a:hover { background-color: #F88216; }

.input-group-field {
    display: table-cell;
    vertical-align: middle;
    border-radius: 4px;
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
    border-radius: 0 !important;
}

.input-group-field .form-control, .input-group-field .form-control {
    border-radius: inherit !important;
}

.input-group-field:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.input-group-field:not(:first-child):not(:last-child) .form-control {
    border-left-width: 0;
    border-right-width: 0;
}

.input-group-field:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

ul.dropdown-cart {
    min-width: 250px;
}

ul.dropdown-cart li .item {
    display: block;
    padding: 3px 10px;
    margin: 3px 0;
}

ul.dropdown-cart li .item:hover {
    background-color: #f3f3f3;
}

ul.dropdown-cart li .item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left {
    float: left;
}

ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info {
    float: left;
}

ul.dropdown-cart li .item-left span.item-info {
    margin-left: 10px;
}

ul.dropdown-cart li .item-left span.item-info span {
    display: block;
}

ul.dropdown-cart li .item-right {
    float: right;
}

ul.dropdown-cart li .item-right button {
    margin-top: 14px;
}

.search-box{
    border: 1px solid #ddd;
}
.search-box-bg{
    background-color: #187bb2;
    color: #ffffff;
}
.btn-group-search{
    height: 34px;
    margin-left: 0;
    width: 50px;
}

.btn-cart{

}
.input-group-lg{
    height: 46px;
    border: 0;
    border-left:1px solid #ddd;
}

.serarch-keyword{
    border:none!important;
    border-left:1px solid #ddd!important;
}


.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 34px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 0 !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}
/*=================================== END HEADER =====================================*/


.list-group-horizontal .list-group-item:first-child, .list-group-horizontal .list-group-item:last-child{
    border-radius: 0!important;
}

.list-group-item{
    border:0 !important;
}

.breadcrumb{
    border-radius: 0;
}

.footer-menu{
    padding-bottom: 30px;
}
.footer-menu h4{
    text-transform: uppercase;
}
.social-payment{
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 30px;
}

.social-payment .input-group .form-control:hover ,.bs-example-form .input-group .form-control:hover , .social-payment .input-group .form-control:active, .social-payment .input-group .form-control:focus , .bs-example-form .input-group .form-control:focus {
    background-color: #ffffee;
    color: #0b0e23;
}
.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn{
    font-size: 14px;
}

.social-payment .social-tooltip{
    margin-top: -2px;
}
.social-payment .social-tooltip a{

    height: 36px;
    width: 36px;
    background: #000;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    transition: all 0.15s ease;
    font-size: 18px;

}
.social-payment .social-tooltip a#facebook{
    background: linear-gradient(#4562a0, #3b5998);
    color:#ffffff
}
.social-payment .social-tooltip a#facebook:hover{
    background: linear-gradient(#3c5899, #3c5899);
    transition: all 1s ease;
}
.social-payment .social-tooltip a#twitter{
    background: linear-gradient(#00a0d1, #00a0d1);
    color:#ffffff
}
.social-payment .social-tooltip a#instagram{
    background: linear-gradient(#5b85aa, #4e799e);
    color:#ffffff
}
.social-payment .social-tooltip a#email{
    background: linear-gradient(#db4a39, #db4a39);
    color:#ffffff
}

.container-margin{
    margin-bottom: 30px;
}

/*======================== Slider Feature ======================================*/

.header-line-center h1:before, .header-line-center h2:before, .header-line-center h3:before, .header-line-center h4:before, .header-line-center h5:before, .header-line-center h6:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 50%;
    left: -50%;
    top: 50%;
    margin-top: -1px;
    background: #0a70e3;
}
.header-line-center h1:after, .header-line-center h2:after, .header-line-center h3:after, .header-line-center h4:after, .header-line-center h5:after, .header-line-center h6:after {
    position: absolute;
    content: "";
    background: #0a70e3;
    height: 2px;
    width: 50%;
    right: -50.5%;
    top: 50%;
    margin-top: -1px;
}

.owl-prev, .owl-next {opacity: 0 !important;}
.owl-carousel:hover .owl-controls .owl-buttons .owl-prev {opacity: 1 !important;}
.owl-carousel:hover .owl-controls .owl-buttons .owl-next {opacity: 1 !important;}
.owl-carousel .owl-controls .owl-buttons .owl-next , .owl-carousel .owl-controls .owl-buttons .owl-prev{}

.owl-carousel{
    position: inherit!important;
}
.feature-carousel , .page-carousel{
    position: relative!important;
}
.feature-carousel .owl-controls , .page-carousel .owl-controls {
    text-align: right;
    float: right;
    top: 0;
    position: absolute;
    right:5px;
    margin-top: -3px!important;
}
.feature-carousel .owl-buttons div , .page-carousel .owl-buttons div{
    position: relative;
    border-radius: 0;
    background: #807b87;
    padding: 7px 15px;
    transition: all 0.5s ease 0s;
}
.owl-theme .owl-controls .owl-buttons div{
    -webkit-border-radius:1px;
    border-radius:1px;
    padding: 5px 10px;
    font-size: 15px;

}

.feature-carousel .owl-prev:before, .owl-next:before , .page-carousel .owl-prev:before, .owl-next:before{
    content: normal;
}

.feature-carousel .owl-next:before , .page-carousel .owl-next:before{
    content: normal;
}

.tabCarousel .nav a small
{
    display: block;
}
.tabCarousel .nav
{
    background: #eee;
}
.tabCarousel .nav-justified > li > a
{
    border-radius: 0px;
}

#main-carousel{
    margin-bottom: 30px;
}

.slider-feature-thumbnail {
    border: 2px solid red !important;
    height: 141px;
    width: 100%;
    display: block;
}

.carousel-caption{
    bottom: 0;
    opacity: 0.8;
}

.carousel-post-control.carousel-right {
    text-align: right;
    float: right;
    display: inline-block;
    left: auto!important;
    right: 10px !important;
}

.carousel-post-control.carousel-left {
    text-align: left;
    float: left;
    text-decoration: none!important;
}

.carousel-post-control.carousel-right , .carousel-post-control.carousel-left {
    opacity: 0 !important;
    transition: transform 8s ease-out 0s;
}
#main-carousel:hover .carousel-post-control.carousel-left {
    transform: scale(1,1);
    transition: transform 8s ease-in 5s;
    opacity: 1 !important;
}
#main-carousel:hover .carousel-post-control.carousel-right {
    transform: scale(1,1);
    transition: transform 8s ease-in 5s;
    opacity: 1 !important;
}

.carousel-img{
    max-height:512px;
    height: 512px;
    width:100%
}
.carousel-tab-img{
    height: 359px;
    max-height:359px;
    width: 100%
}


#topTabCarousel .nav-pills>li>a{
    border-radius: 0;
    height: 60px;
    overflow: hidden;
}

#topTabCarousel .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color:#ffffff;
    color:#222222!important;
}

#topTabCarousel .tab-nav li.active:after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 10px solid  #ffffff;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}


#bottomTabCarousel .nav-pills>li>a{
    border-radius: 0;
    height: 60px;
    overflow: hidden;
}

#bottomTabCarousel .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color:#ffffff;
    color:#222222!important;
}

#bottomTabCarousel .tab-nav li.active:after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 10px solid #ffffff;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

/* list */
.rounded-list{
    width: 100%;
    margin-top: 15px;
}
.rounded-list ol
{
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}


/* item  */
.rounded-list ol > li
{
    position:relative; /* Create a positioning context */
    list-style:none; /* Disable the normal item numbering */
    background:#f6f6f6; /* Item background color */
    margin:0; /* Give each list item a left margin to make room for the numbers */
    padding-left: 10px; /* Add some spacing around the content */
    padding-bottom:0;
    padding-top:0;
    margin-left: 25px;
}


.rounded-list ol > li:first-child{
    margin-top: 5px;
}

/* number  */
.rounded-list ol > li p:before
{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -25px;
    top: 50%;

    /* number background */
    background: #222;
    height: 2em;
    width: 2em;
    margin-top: -1em;
    line-height: 1.3em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    color: #ffffff;
}

.widget-feature-center {

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    float: left;

}

.slider-left{
    position: relative;
    margin-right: -15px;
    margin-left: 15px;
}
.slider-right{
    position: relative;
    margin-left: -15px;
}

.ui-slider-tabs-list li.selected a:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ccc;
    border-width: 12px;
    margin-left: -14px;
}


/* ======================================= End Slider Feature ========================================*/


.order-widget{
    background-color: rgb(22, 22, 22); height: 70px;
}
.order-widget-block{
    padding: 10px;border: 1px solid #000;color: #fff;font-size: 20px;
}
.shop-now{
    margin-top: 7px;
    border: 3px solid #fff;
    border-radius: 15px;
    background: #000;
}

.card-grid {
    box-sizing: border-box;
    max-height: 100%;
    display:flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.card-grid:after {
    content: "";
    flex: 1 1 100%;
    max-width: 100%;
}

.card {
    flex: 1 1 100%;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    max-width: 100%;
    margin-top: 20px;
    background: white;
    color: black;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow;
    display: block;
    position: relative;
    padding: 5px;
}

.product-preview .team-content {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding:0 !important;
    background: rgba(255,255,255,0.8);
    transition: all 0.50s ease-in-out;
    color: #0b0e23;
}
.product-preview .view-link {
    padding: 0;
    margin: 0;
    position: relative;
    top: 80%;
}
.product-preview .view-link li {
    list-style: none;
    margin-right:0;
    display: inline-block;
    width: 100%;
    height: 40px;
}
.product-preview .view-link li a {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    color: #0b0e23;
}
.product-preview .view-link li a:hover {
    background: #002842;
    text-decoration: none;
    color: #FFFFFF;
    height: 40px!important;
}

/*==================================== Feature Widget CSS=======================================*/

.feature-widget-top-header{
    background-color: #1B1B1B;
}
.feature-widget-footer{
    background-color: #1B1B1B;
}

.feature-widget-body-top{
    background-color: #1B1B1B;
}
.feature-widget-body-bottom{
    background-color: #1B1B1B;
}
.feature-widget-sidebar-top{
    background-color: #1B1B1B;
}
.feature-widget-sidebar-bottom{
    background-color: #1B1B1B;
}

/*=====================================  Slider Widget ============================*/
.sidebar-top , .sidebar-footer{
    background-color: #F88216;
}
.sidebar-footer{
    display: table;
}
.div-vertical-center{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.product-title {
    line-height: 16px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    height: 25px;
}

.paginate-footer {
    margin-top: 0 !important;
    margin-bottom:0 !important;
    padding-top: 5px;
    border-top: 1px solid #F88216;
}

.pagination{
    margin:0!important
}

.pagination>li:first-child>a, .pagination>li:first-child>span , .pagination>li:last-child>a, .pagination>li:last-child>span{
    border-radius: 0!important;
}

.paginate{
    background: #F88216;
}
.input-selector{
    height: 33px !important;
}

.pagination>li>a, .pagination>li>span {
    color: #d58512;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
    background-color: #F88216;
    border-color: #d58512;
    color: #ffffff;
}


.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #F88216;
    border-color: #d58512;
}


.panel{
    border-radius: 0;
}
div.panel:first-child {
    margin-top:0;
    border-top:0;
}
.panel-heading{
    border-top: 1px solid transparent;
    border-radius: 0;
}


div.treeview, .treeview ul {
    margin:0;
    padding:0;
    list-style:none;
    color: #F88216;
}

.treeview ul {
    margin-left:5px!important;
    position:relative;
    width: 250px;
}
.treeview ul ul {
    margin-left:.5em
}
.treeview ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    left:0;
    border-left:1px solid;
    bottom:15px;
}
.treeview li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    position:relative
}
.treeview ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree-indicator {
    margin-right:5px;
    color: #F88216!important;
    cursor:pointer;
}
.treeview li a {
    text-decoration: none;
    color:#222222;
    cursor:pointer;
}
.treeview li a:hover{
    color: #F88216!important;
}
.treeview li button, .treeview li button:active, .treeview li button:focus {
    text-decoration: none;
    color:inherit;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

.scrollbar
{
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 25px;
    overflow-x: hidden;
}
.scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
    background-color: #f48024;
    border: 1px solid #C66812;
}

.rectangle-list{
    margin-left: 35px;
}
/* list */
.rectangle-list ol
{
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}

/* item  */
.rectangle-list ol > li
{
    position: relative;
    list-style:none; /* Disable the normal item numbering */
}

/* item hover */
.rectangle-list a
{
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    margin-bottom: 5px;
}

/* item hover */
.rectangle-list a:hover
{
    background: #F88216;
    color: #ffffff;
}

/* number  */
.rectangle-list a:before
{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #F88216;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: normal;
    color: #ffffff;
}

/* number hover */
.rectangle-list a:after
{
    position: absolute;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    content: '';
    border: .5em solid transparent;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.rectangle-list a:hover:after
{
    left: -.5em;
    border-left-color: #F88216;
    color: #ffffff;
}

.slider-handle{
    background-color: #F88216 !important;
    background-image: -o-linear-gradient(top, #F88216 0%, #F88216 100%) !important;
    background-image: -webkit-linear-gradient(top, #F88216 0%, #F88216 100%);
    background-image: linear-gradient(to bottom, #F88216 100%, #F88216 100%);
}

.page-content{
    line-height: 25px;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 30px;

}

#footer {
    width: 100%;
    font-size: 12px;
    background-color: #1E1E1E;
    display: block;
    color: #f7f7f7;
}
.myfooter {
    color: #9d9d9d;
    padding: 10px 0px;
}
#toTop {
    position: fixed;
    bottom: 38px;
    right: 10px;
    cursor: pointer;
    display: none;
}

.image, .rev-slidebg {
    transform: scale(1,1);
    transition:transform 8s ease-out 0s;
}
.image:hover ,.rev-slidebg:hover {
    transform: scale(1.2,1.2);
    transition:transform 10s linear 0s;
}

/* list */
.rectangle-list ol
{
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}

/* item  */
.rectangle-list ol > li
{
    position: relative;
    list-style:none; /* Disable the normal item numbering */
}

/* item hover */
.rectangle-list p
{
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

/* item hover */
.rectangle-list p:hover
{
    background: #fa8072;
}

/* number  */
.rectangle-list p:before
{
    content: counter(li);
    counter-increment: li;

    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;

    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

/* number hover */
.rectangle-list p:after
{
    position: absolute;
    left: -1em;
    top: 50%;
    margin-top: -.5em;

    content: '';
    border: .5em solid transparent;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.rectangle-list p:hover:after
{
    left: -.5em;
    border-left-color: #fa8072;
}

/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
    border-radius:0;
}

.carousel-caption {
    right: 0;
    bottom: 0%;
    z-index: 10;
    padding: 20px;
    color: #fff;
    max-width:40%;
}

.caption-left {
    left: 0;
    text-align: left;
}

.caption-center {
    left: 30%;
    text-align: center;
}

.caption-right {
    left: 60%;
    text-align: right;
}


.carousel-caption h4{
    font-weight:bolder;
}
.carousel-caption span{
    font-size: 12px;
    display: inline-block;
    padding-bottom: 10px;
}

.carousel-indicators {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    margin: 0;
    padding: 0 25px 25px 0;
    text-align: right;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}
.slide_title {
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 47px;
}

/*Revolution Slider*/
.slide_subtitle {
    background-color: #0da3e2;
}

.tp-leftarrow.default:hover,
.tp-rightarrow.default:hover {
    background-color: #0da3e2 !important;
}

.img-responsive-feature{

    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    transform: scale(1,1);
    transition:transform 7s linear 0s;
}
.img-responsive-feature:hover{

    filter: none;
    -webkit-filter: grayscale(0);
    transform: scale(1.2,1.2);
    transition:transform 10s linear 0s;
    cursor:pointer;

}


.img-responsive-preview {

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    opacity: 0.8;
    z-index: 9;
    color: #ffffff;
    background-color: #0b0e23;
    float: left;
    font-size:20px;
}

.img-responsive-preview-top-left {
    top: 5%;
    left: 23%;
}
.img-responsive-preview-top-center {
    top: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.img-responsive-preview-top-right {
    top: 20%;
    left: 95%;
    margin-right: -100%;
    transform: translate(-100%, -100%);

}
.img-responsive-preview-bottom-left {
    top: 95%;
    left: 23%;
}
.img-responsive-preview-bottom-center {
    top: 95%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.img-responsive-preview-bottom-right {
    top: 95%;
    left: 95%;
    margin-right: -100%;
    transform: translate(-100%, -100%);

}

.caption .brand{
    height: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.caption .brand a{
    color: #f4493e;
}

.caption .product-name a{
    color: #EEF1F4;
}

.caption .product-name a:hover{
    color: #f39426;
}

.deliveryBox{
    padding:5px 0 ;
}
.deliveryBox .delivery-icon{
    background:#58B25E;
    height: 50px;
    width: 50px;
    border-radius:50%;
    text-align: center;
    float: left;
}
.deliveryBox .delivery-icon.red{
    background:#F35958;
}
.deliveryBox .delivery-icon.blue{
    background:#02A2DD;
}
.deliveryBox .delivery-icon.purple{
    background:#9F84C4;
}
.deliveryBox .delivery-icon.darkCyan{
    background:#008B8B;
}
.deliveryBox .delivery-icon.strongcyan{
    background:#1ABC9C;
}
.deliveryBox .delivery-icon i{
    font-size:20px;
    color: #fff;
    line-height: 50px;
}
.deliveryBox .delivery-content {
    margin-left: 65px;
}
.deliveryBox .delivery-content h3{
    color: hsl(0, 0%, 20%);
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
}
.deliveryBox .delivery-content p{
    color:hsl(0, 0%, 47%);
    line-height: 1.6em;
}
.deliveryBox .read{
    color: #61D3E2;
    text-decoration: none;
}
.deliveryBox .read i{
    font-size: 16px;
    margin-left: 10px;
}

/* ================= Comment override ==========================*/


.fos_comment_comment_metas{
    background-color: #222222 !important;
}
.fos_comment_submit input[type="submit"], .fos_comment_comment_reply_show_form{
    background-color: #222222 !important;
}

/*============================= Product Details carousel =========================================*/

.carousel-inner {
    position: relative;
    width: 100%;
    min-height: 300px;
}

#carousel-custom .custom-carousel-control {
    position: absolute;
    top:48%;
}

#carousel-custom .custom-carousel-control.right {
    right: 0;
    left: auto;
    background-image: none !important;
    background-repeat: repeat-x;
}
#carousel-custom .custom-carousel-control.left {
    left: 0;
    right: auto;
    background-image: none !important;
    background-repeat: repeat-x;
}

#carousel-custom {
    margin: 20px auto;
    width: 400px;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    overflow:hidden;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: 75px;
    border: 1px solid #F8F8F8;
    text-align: center;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}
.carousel-indicators li img {
    height: 70px;
    width: 70px;
}

/*================== Product Details ====================================*/

/*================== Product Details Share Button ====================================*/


.mbm_social {
    font-size: 0;
    float:left;
    width:100%;
    background:#fff;
    text-align:left;
    margin-top: 20px;
    padding-left: 0;
}
.mbm_social li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 8px 0 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}
.mbm_social > li:last-child {
    margin: 0;
}
.mbm_social a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color:#fff;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    width: 50px;
    height: 31px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    z-index: 2;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.mbm_social a:hover {
    color: #fff;
}
.mbm_social a:hover .tooltip {
    display: block;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0, -33px);
    transform: translate(0, -33px);
}
.mbm_social a:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.mbm_social .tooltip {
    opacity: 0;
    position: absolute;
    top: 2px;
    left: 50%;
    z-index: 1;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.mbm_social .tooltip span {
    font-size: 10px;
    font-weight: bold;
    left: -50%;
    line-height: 1;
    padding: 6px 8px 5px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}
.mbm_social .tooltip span:after {
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
}
.mbm_social .social-twitter {
    background: #00abdc;
    background: -webkit-linear-gradient(#00abdc, #00abdc);
    background: linear-gradient(#00abdc, #00abdc);
    border-bottom: 1px solid #00abdc;
}
.mbm_social .social-twitter:hover {
    color: #fff;
    text-shadow: 0px 1px 0px #00abdc;
}
.mbm_social .social-twitter span {
    background: #00abdc ;
    background: -webkit-linear-gradient(#00abdc, #00abdc);
    background: linear-gradient(#00abdc, #00abdc);
    color: #fff;
}
.mbm_social .social-twitter span:after {
    border-top-color: #00abdc;
}
.mbm_social .social-linkedin {
    background: #286580 ;
    background: -webkit-linear-gradient(#286580, #286580);
    background: linear-gradient(#286580, #286580);
    border-bottom: 1px solid #286580;
}
.mbm_social .social-linkedin:hover {
    color: #fff ;
    text-shadow: 0px 1px 0px #286580;
}
.mbm_social .social-linkedin span {
    background: #286580 ;
    background: -webkit-linear-gradient(#286580, #286580);
    background: linear-gradient(#286580, #286580);
    color: #fff;
}
.mbm_social .social-linkedin span:after {
    border-top-color: #286580 ;
}
.mbm_social .social-facebook {
    background: #325c94 ;
    background: -webkit-linear-gradient(#4562a0, #385693);
    background: linear-gradient(#4562a0, #385693);
    border-bottom: 1px solid #2f487c;
}
.mbm_social .social-facebook:hover {
    color: #fff;
    text-shadow: 0px 1px 0px #2f487c;
}
.mbm_social .social-facebook span {
    background: #3b5a9b;
    background: -webkit-linear-gradient(#5873aa, #3b5a9b);
    background: linear-gradient(#5873aa, #3b5a9b);
    color: #fff;
}
.mbm_social .social-facebook span:after {
    border-top-color: #325c94;
}
.mbm_social .social-google-plus {
    background: #ea4335;
    background: -webkit-linear-gradient(#ea4335, #ea4335);
    background: linear-gradient(#ea4335, #ea4335);
    border-bottom: 1px solid #ea4335;
}
.mbm_social .social-google-plus:hover {
    color: #fff ;
    text-shadow: 0px 1px 0px #ea4335;
}
.mbm_social .social-google-plus span {
    background: #ea4335;
    background: -webkit-linear-gradient(#ea4335, #ea4335);
    background: linear-gradient(#ea4335, #ea4335);
    color: #fff ;
}
.mbm_social .social-google-plus span:after {
    border-top-color: #ea4335 ;
}


.mbm_social .social-instagram {
    background: #3f729b;
    background: -webkit-linear-gradient(#3f729b, #3f729b);
    background: linear-gradient(#3f729b, #3f729b);
    border-bottom: 1px solid #3f729b;
}
.mbm_social .social-instagram:hover {
    color: #fff ;
    text-shadow: 0px 1px 0px #3f729b;
}
.mbm_social .social-instagram span {
    background: #3f729b;
    background: -webkit-linear-gradient(#3f729b, #3f729b);
    background: linear-gradient(#3f729b, #3f729b);
    color: #fff ;
}
.mbm_social .social-instagram span:after {
    border-top-color: #3f729b ;
}

.mbm_social i {
    position: relative;
    top: 1px;
    font-size: 14px;
}
.mbm_social small {
    font-size: 14px;
    margin: 0 0 0 9px;
    vertical-align: middle;
}
