<form class="design-form about-us" id="about"  action="" method="post" >
    <label>Name<a class="small-text align-right"  href="#"
                  data-interface="tooltip"
                  data-position="top"
                  data-content="Enter the name of your company. This name will appear at the top of every page of your mobile site."
                  data-shift="10"
                  data-defineClass = "bord"
                  data-radius = "0px"
                >help</a></label>
    <p><span class="fa-icon"><i class="fa  fa-pencil"></i></span><input id="name" type="text" value="{{ about.name }}" placeholder="Enter your name" name="name"></p>
    <label>Content<a class="small-text align-right"  href="#"
                     data-interface="tooltip"
                     data-position="top"
                     data-content="Enter a description of your company. This text will appear below the logo on the homepage on your mobile site."
                     data-shift="10"
                     data-defineClass = "bord"
                     data-radius = "0px"
                >help</a></label>
    <p><textarea class="aboutus-editor" id="content" name="content">{{ about.content|raw }}</textarea></p>

    <p class="align-right" >
        To keep these changes, click 'Update'&nbsp;&nbsp;&nbsp;<input type="submit" class="align-right tm-btn mini" value="update">
    </p>
</form>