{% extends ':bindu:base.html.twig' %}
{% block body %}
    <div id="tm-page-body">
        <div id="tm-template-default-fullwidth" class="tm-container">
            <div class="page-content">
                <div class="page-content-inner tm-content">
                    <div id="layerslider" style="100%;height:530px">
                        <div class="ls-slide" data-ls="slidedelay:8000;transition2d:75,79;">
                            <img src="../../assets/bindu/img/sample/home/slider/layerslider/1/bg.jpg" class="ls-bg" alt="Slide background"/>

                            <img class="ls-l" style="top:0;left:550px;white-space: nowrap;" data-ls="offsetxin:0;durationin:1000;delayin:100;easingin:easeInOutExpo;rotatexin:20;scalexin:0.8;scaleyin:0.8;transformoriginin:50% 50% -150;offsetxout:0;durationout:1000;rotatexout:-20;scalexout:0.8;scaleyout:0.8;transformoriginout:50% 50% -150;" src="../../assets/bindu/img/sample/home/slider/layerslider/1/1.jpg" alt="">

                            <img class="ls-l" style="top:193px;left:577px;white-space: nowrap;" data-ls="offsetxin:200;delayin:950;durationin:1000;offsetxout:200;" src="../../assets/bindu/img/sample/home/slider/layerslider/1/ipad.png" alt="">

                            <img class="ls-l" style="top:308px;left:751px;white-space: nowrap;" data-ls="offsetxin:200;delayin:1500;durationin:1000;offsetxout:200;" src="../../assets/bindu/img/sample/home/slider/layerslider/1/iphone.png" alt="">

                            <p class="ls-l" style="top:85px;left:20px;font-size:25px;color:#fff;white-space: nowrap;" data-ls="offsetxin:50;durationin:750;easingin:easeOutBack;skewxin:-50;offsetxout:-50;durationout:600;">
                                Fedora’s Hot Feature:
                            </p>

                            <p class="ls-l" style="top:115px;left:20px;font-size:35px;font-weight:bold;color:#fff;white-space: nowrap;" data-ls="offsetxin:-100;durationin:750;delayin:250;easingin:easeOutBack;skewxin:-50;offsetxout:100;durationout:600;">
                                WooCommerce Supported.
                            </p>

                            <p class="ls-l" style="top:170px;left:20px;font-size:14px;color:#fff;width:450px;line-height:24px;" data-ls="offsetxin:-150;durationin:750;easingin:easeOutBack;skewxin:-50;delayin:450;offsetxout:-50;durationout:600;">
                                Fedora will perfectly transform your website into a beautiful eCommerce store based on WooCommerce which is known as the incredibly stunning and functional toolkit for online storehouse.
                            </p>

                            <a href="home-shop.html" class="tm-btn big linelight ls-l" style="top:265px;left:20px;white-space: nowrap;" data-ls="offsetxin:0;rotatexin:-70;scalexin:3;scaleyin:3;offsetxout:0;durationout:1000;">View Shop</a>

                            <span class="ls-l" data-ls="offsetxin:-100;delayin:700;easingin:easeInOutCubic;offsetxout:300;durationout:1000;easingout:easeInOutCubic;" style="top:400px;width:110px;height:130px;left:0;background:rgba(0,0,0,.1)"></span>

                            <span class="ls-l" data-ls="offsetxin:-200;delayin:550;easingin:easeInOutCubic;offsetxout:200;durationout:1000;easingout:easeInOutCubic;" style="top:400px;width:110px;height:130px;left:110px;background:rgba(0,0,0,.2)"></span>

                            <span class="ls-l" data-ls="offsetxin:-300;delayin:400;easingin:easeInOutCubic;offsetxout:100;durationout:1000;easingout:easeInOutCubic;" style="top:400px;width:110px;height:130px;left:220px;background:rgba(0,0,0,.4)"></span>

                            <span class="ls-l" data-ls="offsetxin:-400;delayin:250;easingin:easeInOutCubic;offsetxout:100;durationout:1000;easingout:easeInOutCubic;" style="top:400px;width:110px;height:130px;left:330px;background:rgba(0,0,0,.6)"></span>

                            <span class="ls-l" data-ls="offsetxin:-500;delayin:100;easingin:easeInOutCubic;offsetxout:100;durationout:1000;easingout:easeInOutCubic;" style="top:400px;width:110px;height:130px;left:440px;background:rgba(0,0,0,1)"></span>
                        </div>

                        <div class="ls-slide" data-ls="slidedelay:8000;transition2d:75,79;">
                            <img src="../../assets/bindu/img/sample/home/slider/layerslider/2/bg.jpg" class="ls-bg" alt="Slide background"/>

                            <img class="ls-l" style="top:33px;left:362px;white-space: nowrap;" data-ls="offsetxin:0;durationin:1000;delayin:100;easingin:easeInOutExpo;rotatexin:20;scalexin:0.8;scaleyin:0.8;transformoriginin:50% 50% -150;offsetxout:0;durationout:1000;rotatexout:-20;scalexout:0.8;scaleyout:0.8;transformoriginout:50% 50% -150;" src="../../assets/bindu/img/sample/home/slider/layerslider/2/macbook.png" alt="">

                            <img class="ls-l" src="../../assets/bindu/img/sample/home/slider/layerslider/2/6.jpg" alt="" style="top:382px;left:538px;white-space: nowrap;" data-ls="offsetxin:0;durationin:750;delayin:1000;rotateyin:90;transformoriginin:left 50% 0;offsetxout:0;durationout:750;rotateyout:90;transformoriginout:right -50% 0;">

                            <img class="ls-l" src="../../assets/bindu/img/sample/home/slider/layerslider/2/7.jpg" alt="" style="top:382px;left:655px;white-space: nowrap;" data-ls="offsetxin:0;durationin:750;delayin:1300;rotateyin:90;transformoriginin:left 50% 0;offsetxout:0;durationout:750;rotateyout:90;transformoriginout:right -50% 0;">

                            <img class="ls-l" src="../../assets/bindu/img/sample/home/slider/layerslider/2/8.jpg" alt="" style="top:382px;left:772px;white-space: nowrap;" data-ls="offsetxin:0;durationin:750;delayin:1600;rotateyin:90;transformoriginin:left 50% 0;offsetxout:0;durationout:750;rotateyout:90;transformoriginout:right -50% 0;">

                            <img class="ls-l" src="../../assets/bindu/img/sample/home/slider/layerslider/2/9.jpg" alt="" style="top:382px;left:889px;white-space: nowrap;" data-ls="offsetxin:0;durationin:750;delayin:1900;rotateyin:90;transformoriginin:left 50% 0;offsetxout:0;durationout:750;rotateyout:90;transformoriginout:right -50% 0;">

                            <img class="ls-l" src="../../assets/bindu/img/sample/home/slider/layerslider/2/5.jpg" alt="" style="top:265px;left:889px;white-space: nowrap;" data-ls="offsetxin:0;durationin:750;delayin:2200;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;durationout:500;rotateyout:90;skewyout:1;transformoriginout:left 50% 0;">

                            <img class="ls-l" src="../../assets/bindu/img/sample/home/slider/layerslider/2/4.jpg" alt="" style="top:148px;left:889px;white-space: nowrap;" data-ls="offsetxin:0;durationin:750;delayin:2500;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;durationout:500;rotateyout:90;skewyout:1;transformoriginout:left 50% 0;">

                            <img class="ls-l" src="../../assets/bindu/img/sample/home/slider/layerslider/2/3.jpg" alt="" style="top:148px;left:655px;white-space: nowrap;" data-ls="offsetxin:0;durationin:750;delayin:2800;rotateyin:90;transformoriginin:right 50% 0;offsetxout:0;durationout:750;rotateyout:90;transformoriginout:left -50% 0;">

                            <img class="ls-l" src="../../assets/bindu/img/sample/home/slider/layerslider/2/2.jpg" alt="" style="top:265px;left:538px;white-space: nowrap;" data-ls="offsetxin:0;durationin:750;delayin:3100;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;durationout:500;rotateyout:90;skewyout:1;transformoriginout:left 50% 0;">

                            <img class="ls-l" src="../../assets/bindu/img/sample/home/slider/layerslider/2/1.jpg" alt="" style="top:148px;left:538px;white-space: nowrap;" data-ls="offsetxin:0;durationin:750;delayin:3400;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;durationout:500;rotateyout:90;skewyout:1;transformoriginout:left 50% 0;">

                            <img class="ls-l" src="../../assets/bindu/img/sample/home/slider/layerslider/2/circle.png" alt="" style="top:106px;left:0;white-space: nowrap;" data-ls="offsetxin:0;rotatexin:-70;scalexin:3;scaleyin:3;">

                            <h2 class="ls-l" style="top:205px;left:90px;white-space:nowrap; color:#29739D" data-ls="offsetxin:400;offsetxout:400;">
                                Masonry layout
                            </h2>
                            <div class="ls-l" style="height:1px; width:70px; background:#ddd;top:250px;left:122px" data-ls=""></div>
                            <p class="ls-l" style="top:270px;color:#666;left:47px;text-align:center;width:220px;line-height:20px" data-ls="offsetxin:-400;offsetxout:-400;">
                                Fedora was exclusively crafted using Mansory Layout in which the elements are placed like a mason fitting stones in a wall.
                            </p>

                            <div class="ls-l" style="width:50px;height:50px;text-align:center;border-radius:50px;-webkit-border-radius:50px;-o-border-radius:50px;top:245px;left:294px;background:#fff" data-ls="offsetxin:0;durationin:1500;delayin:400;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:1500;showuntil:1;easingout:linear;scalexout:2;scaleyout:2;"></div>

                            <div class="ls-l" style="width:50px;height:50px;text-align:center;border-radius:50px;-webkit-border-radius:50px;-o-border-radius:50px;top:245px;left:294px;background:#fff" data-ls="offsetxin:0;durationin:1500;delayin:1000;easingin:linear;scalexin:0;scaleyin:0;offsetxout:0;durationout:1500;showuntil:1;easingout:linear;scalexout:2;scaleyout:2;"></div>

                            <div class="ls-l" style="width:50px;height:50px;text-align:center;border-radius:50px;-webkit-border-radius:50px;-o-border-radius:50px;top:245px;left:294px;background:#008c71" data-ls="offsetxin:0;delayin:400;rotatexin:70">
                                <i class="fa fa-angle-right" style="color:#fff; font-size:28px;line-height:48px;"></i>
                            </div>

                        </div>
                    </div>

                    <div class="tm-row" style="padding:50px 0 80px; text-align:center; display: none">
                        <div class="tm-wrap">
                            <img alt="img" style="margin-bottom:20px" width="100" height="100" src="../../assets/bindu/img/sample/home/icons/mobile-icon.png">
                            <div class="header-line-center-bottom">
                                <h1>
                                    Creative design on desktop, tablet and mobile
                                </h1>
                            </div>
                            <p style="padding:30px 0">
                                Fedora is ready to WOW the web visitors no matter what devices they are using to surf the website. With responsive layout, your website will seamlessly displays and run smoothly on any device including desktop, tablet and mobile phone with any screen resolution.
                            </p>
                            <div class="setanimate">
                                <a><img alt="img" class="tm-animate slide-from-bottom" src="../../assets/bindu/img/sample/home/responsive.jpg">
                            </div>
                        </div>
                    </div>

                    <div class="tm-row" style="text-align:center;padding:50px 0 100px 0;background:#eee;">
                        <div class="tm-wrap">
                            <h1>Creative Application/Website on desktop, tablet and mobile</h1>

                        </div>
                    </div>

                    <div class="tm-row" style="margin:-50px 0 0 0">
                        <div class="tm-wrap">
                            <div class="one-third">
                                <div style="padding-top:100px">
                                    <ul class="tm-iconlist tm-style1">
                                        <li>
                                            <div class="iconlist-icon">
                                                <i class="fa fa-magic"></i>
                                            </div>
                                            <div class="iconlist-entry">
                                                <div class="iconlist-container">
                                                    <h3>Fully hosted Cloud Platform</h3>
                                                    <div class="iconlist-content">
                                                        <p>Robust scalable platform to build and manage websites.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="iconlist-icon">
                                                <i class="fa fa-hand-o-up"></i>
                                            </div>
                                            <div class="iconlist-entry">
                                                <div class="iconlist-container">
                                                    <h3>Full Marketing and Technical Support</h3>
                                                    <div class="iconlist-content">
                                                        <p>All the marketing and technical support you need to resell bindu.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="one-third">
                                <div id="container-form">
                                    <div class="entry-container">
                                        <section id="tm-comment">
                                            <section id="respond">
                                                <form id="commentform" action="create.php" >
                                                    <p><span class="fa-icon"><i class="fa  fa-user"></i></span><input id="name" type="text" value="" placeholder="Enter your name" name="name"></p>
                                                    <p><span class="fa-icon"><i class="fa  fa-mobile-phone"></i></span><input id="mobile" type="text" value="" name="mobile"  placeholder="Enter your mobile no" ></p>
                                                    <p style="color: #ffffff; text-align: left">Next enter the relevant information below to populate your site. (not required)</p>
                                                    <p>
                                                        <select id="businessGroup"   name="businessGroup">
                                                            <optgroup label="Building / Construction/ Property">
                                                                <option value="1">Architect</option>
                                                                <option value="1">Car Dealer</option>
                                                                <option value="1">Building Contractor</option>
                                                                <option value="1">Building Maintenance / Property Manager</option>


                                                            </optgroup>
                                                            <optgroup label="Cars Vehicles Transport">
                                                                <option value="1">Club / Association</option>
                                                                <option value="1">Community Organizations / Local Initiatives</option>

                                                            </optgroup>
                                                        </select>
                                                    </p>
                                                    <p><span class="fa-icon"><i class="fa  fa-building-o"></i></span><input id="businessName" type="text" value="" name="businessName"  placeholder="Enter your business name" ></p>
                                                    <p>

                                                        <select id="location"  name="location">

                                                            <option value="1">Architect</option>
                                                            <option value="1">Car Dealer</option>
                                                            <option value="1">Building Contractor</option>
                                                            <option value="1">Building Maintenance / Property Manager</option>
                                                            <option value="1">Club / Association</option>
                                                            <option value="1">Community Organizations / Local Initiatives</option>


                                                        </select>
                                                    </p>
                                                    <p class="form-suphobmit"><input type="checkbox"><span style="color: #ffffff;">&nbsp;&nbsp;I agree to the Google<a class="anchor-white" target="_blank" id="TosLink" href="/terms-of-service.html">Terms of Service</a> and <a class="anchor-white" target="_blank" id="PrivacyLink" href="/privacy-policy.html">Privacy Policy</a></span></p>
                                                    <p class="form-suphobmit" style="text-align:right"><input id="signup" class="tm-btn dark small" type="button" value="CREATE SITE" name="submit"></p>
                                                </form>
                                            </section>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <div class="one-third last">
                                <div style="padding-top:100px">
                                    <ul class="tm-iconlist tm-style1">
                                        <li>
                                            <div class="iconlist-icon">
                                                <i class="fa fa-crop"></i>
                                            </div>
                                            <div class="iconlist-entry">
                                                <div class="iconlist-container">
                                                    <h3>Easily Manage Your Sites</h3>
                                                    <div class="iconlist-content">
                                                        <p>Manage sites for your clients, run reports and analytics via the Online Management Dashboard.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="iconlist-icon">
                                                <i class="fa fa-eye"></i>
                                            </div>
                                            <div class="iconlist-entry">
                                                <div class="iconlist-container">
                                                    <h3>Easy to get Onboard</h3>
                                                    <div class="iconlist-content">
                                                        <p>Start building and selling goMobi sites today.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--page-content-->
        </div>
        <!--tm-container-->
    </div>
{% endblock %}
