{% extends ':bindu:base.html.twig' %}
{% block body %}
    <div id="tm-page-body">
        <div id="" class="tm-container tm-wrap">
            <div class="page-content">

                <div class="page-content-inner">
                    <div class="tm-row" >
                        <div class="header-double-line-right">
                            <h3 class="tm-title">{{ entity.name }}</h3>
                        </div>
                        {{ entity.content|raw }}
                    </div>

                </div>
            </div>
            <!--page-content-->
        </div>
        <!--tm-container-->
    </div>
{% endblock %}
