{% extends ':bindu:previewbase.html.twig' %}
{% block body %}
    <div id="" style="margin: 0 auto; width: 1275px" >
        <div class="mac_preview" id="laptop" style="display: block">
            <div class="laptop_wrap" style="width:1260px!important; margin: 0 auto">
                <iframe id="frame" frameborder="no" border="0" scrolling="yes" width="1170px" height="548px;" src="http://terminalbd.com"></iframe>
            </div>
        </div>
        <!--tm-container-->
    </div>
{% endblock %}

{% block documentready %}

  {#  $("#frame").attr("src", "http://bdeducation.dev/mobile/pis");#}
    $(".iframe").click(function () {
        var src = $(this).attr('id');
        $("#frame").attr("src", src);
    });


{% endblock %}
