{% extends ':bindu/mobile:base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <div id="tm-page-body">
        <div id="tm-template-default-fullwidth" class="tm-container">
            <div class="page-content">
                <div class="page-content-inner tm-content">

                    <div class="tm-row" style="text-align: center; line-height: 40px">
                        <h3>Forget Password</h3>
                    </div>

                    <div id="container-form">
                        <div class="entry-container" style="padding-bottom: 25px">
                            <section id="tm-comment">
                                <section id="respond">
                                    <!-- BEGIN FORM-->
                                    <div class="clear"></div>
                                    <form id="commentform" action="{{ path('fos_user_resetting_send_sms') }}" method="POST" class="fos_user_resetting_request" novalidate="novalidate">
                                        {% if invalid_username is defined %}
                                            <div class="tm-alert error">
                                                <strong>Error</strong> The user name or mobile no "{{ invalid_username }}" does not exist.
                                            </div>
                                        {% endif %}
                                        <div>
                                            <p style="margin-bottom:1px; color:#ffffff">Enter your mobile no below to reset your password.</p>
                                            <p> <span class="fa-icon"><i class="fa  fa-mobile"></i></span>
                                                <input type="text" id="username" autocomplete="off" name="username" required="required" class="" placeholder="Enter your mobile no">
                                            </p>
                                        </div>
                                        <div>
                                            <p class="form-suphobmit" style="float: right"><input  id="signup" class="tm-btn light small" type="submit" value="Reset Password" name="submit"></p>
                                        </div>

                                    </form>
                                    <div class="clear"></div>
                                </section>
                            </section>
                            <div class="clear"></div>
                            <blockquote class="tm-style2-overwrite">
                                <div class="forget-password">
                                    <h4>Login ?</h4>
                                    <p>
                                        Click <a href="{{ path('homepage') }}"  id="forget-password1">here</a>
                                        for login.
                                    </p>
                                </div>
                                <div class="create-account">
                                    <p>
                                        Don't have an account yet ?&nbsp;
                                        <a href="{{ path('bindu_web_bulder')  }}" id="register-btn1" >Create an account</a>
                                    </p>
                                </div>
                            </blockquote>
                        </div>
                    </div>

                </div>
            </div>
            <!--page-content-->
        </div>
        <!--tm-container-->
    </div>
{% endblock %}

{% block documentready %}

    $('#commentform').validate({
        rules: {
        username: {
        required: true
        }
        },
        submitHandler: function(form) {
            form.submit();
        }
    });

{% endblock %}


