{% if menus is defined and menus is not empty %}
    {% for menu in menus %}
        <li><a href="{{ path('bindu_page_content',{'slug':menu.slug}) }}">{{ menu.name }}</a></li>
    {% endfor %}
{% endif %}