{% if applications is defined and applications is not empty %}
{% for application in applications  %}
    <li><a href="{{ path('bindu_application',{'slug':application.slug}) }}">{{ application.name }}</a></li>
{% endfor %}
{% endif %}