#content{
    margin-bottom: 40px!important;
}

#footer-content{
    position: fixed;
    bottom: 0;
    background: #a3a3a3;
    width: 100%;
    margin: 0;
    height: 35px;
    z-index: 999999;
    overflow: visible;
    border-top:1px solid #666;

}

#footer-content .icon-footer-center{
    width: 225px;
    margin-left: auto;
    margin-right: auto;

}

#footer-content .icon-footer-center a{
    float:left;
    margin-left:5px;
    margin-right:5px;
}

.icon-background-white{
    /*background-color: #FFFFFF;*/
    background-repeat:no-repeat;
    background-size:31px 35px;
    height:35px;
    width:31px;
}
.icon-background-white-footer{
    /*background-color: #FFFFFF;*/
    background-repeat:no-repeat;
    background-size:28px 35px;
    height:35px;
    width:31px;
}



.facebook-footer{
    background-image:url(../images/icons/calendar.png);
}

.twitter-footer{
    background-image:url(../images/icons/calendar.png);
}

.icon-blackout{
    background-image:url(../images/icons/calendar.png);
}

.icon-timeline{
    background-image:url(../images/icons/calendar.png);
}

.icon-event-calender{
    background-image:url(../images/icons/calendar.png);
}

.icon-class-routine{
    background-image:url(../images/icons/calendar.png);
}

.icon-contact{
    background-image:url(../images/icons/address.png);
}

.icon-calender{
    background-image:url(../images/icons/calendar.png);
}
.icon-home{
    background-image:url(../images/icons/home.png);
}

.icon-maps{
    background-image:url(../images/icons/location.png);
}
.icon-mail{
    background-image:url(../images/icons/mail.png);
}

.icon-mobile{
    background-image:url(../images/icons/phone.png);
}

.icon-photo{
    background-image:url(../images/icons/photo.png);
}

.icon-sms{
    background-image:url(../images/icons/sms-phone.png);
}

.icon-scroll-top{
    background-image:url(../images/icons/up.png);

}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.wide-item{
    margin-bottom:3px;
}

.wide-item .responsive-image{
    margin-bottom:0px;
}

.wide-image{
    max-height:100px;
    overflow:hidden;
}

.wide-item-titles{
    position:relative;
    z-index:99999;
    top:30px;
    margin-bottom:-45px;
    pointer-events:none;
}

.wide-item-titles h4{
    font-family:'Open Sans', sans-serif;
    font-weight:200;
    font-size:16px;
    text-transform:uppercase;
    color:#FFFFFF;
    position:relative;
    z-index:999999;
    text-align:center;
    margin-bottom:5px;
}

.wide-item-titles p{
    color:#FFFFFF;
    margin-bottom:0px;
    color:rgba(255,255,255,0.5);
    text-align:center;
    position:relative;
    z-index:999999;
}

.wide-item-content{
    display:none;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
}


.wide-image{
    max-height:150px;
}

.wide-item-titles{
    top:55px;
    margin-bottom:-45px;
}