#slidx_button{
    position: absolute;
    margin: 0;
    padding: 0;
}
.slidx_open{
    margin-bottom: 35px!important;
    top: 60px!important;
}
#slidx_menu {
    background-color:#1c1c1c;
}
#slidx_menu ul{
   margin-top:1px;
}
#slidx_menu ul li.even{
   background: #CECECE;
}
#slidx_menu ul li.odd{
 background: #B9B9B9;
}
#slidx_menu ul li.even:hover{
   background: #D6D6D6;
}
#slidx_menu ul li.odd:hover{
 background: #969696;
}


#slidx_menu a {
    background-image: url("../images/misc/nav_selected.png");
    background-position: 8px 2px;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    color: #000;
    display: block;
    margin-bottom:0;
    padding-left: 25px;
    border-bottom: 1px solid #ffffff;

}

#slidx_menu a:hover {
    cursor: pointer;
    color: #008d71;
}
#slidx_button {
    background-color: #1c1c1c;
    color: #ffffff;
    padding-right: 10px;
    height: 27px;
    background-repeat: no-repeat;
    background-size: 24px;
    padding-left: 30px;
    background-image: url("../images/misc/landing.png");
    background-position: 2px 2px;
    background-repeat: no-repeat;
 }
#slidx_button:hover {
    cursor: pointer;
    background-color: #ddd8ce;
    color:#1c1c1c;
}