{% extends ':frontend/template/mobile:previewBase.html.twig' %}
{% block body %}
    <!--/welcome-->
    <div class="w3agile welcome">
        <div class="b-bottom">
            <div class="col-md-12">
                <h3 class="w3ls-title">{{ page.name }}</h3>
                <p><i>{{ page.content|raw }}</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--//welcome-->
{% endblock %}