{% extends ':frontend/template/mobile:previewBase.html.twig' %}
{% block body %}
    <!--/welcome-->
    <div class="w3agile welcome">
        <div class="b-bottom">
            <div class="col-md-12">
                <h3>{{ globalOption.homePage.name }}</h3>

                <p><i>{{ globalOption.homePage.content|raw }}</p>

                <div class="wthree_more wthree_more1">
                    <a href="{{ path('mobile_content_page',{'subdomain':globalOption.subDomain,'slug':'about-us'}) }}"
                       class="button--wayra button--border-thick button--text-upper button--size-s">More About
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--//welcome-->
{% endblock %}