/* Common styles for all types */
.bs-callout {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 2px;
    border-right-width: 2px;
    border-radius: 2px;
    text-align: center;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}

/* Tighten up space between multiple callouts */
.bs-callout + .bs-callout {
    margin-top: -5px;
}

/* Variations */
.bs-callout-danger {
    border-left-color: #ce4844;
    border-right-color: #ce4844;
}
.bs-callout-danger h4 {
    color: #ce4844;
}
.bs-callout-warning {
    border-left-color: #aa6708;
    border-right-color: #aa6708;
}
.bs-callout-warning h4 {
    color: #aa6708;
}
.bs-callout-info {
    border-left-color: #1b809e;
    border-right-color: #1b809e;
}
.bs-callout-info h4 {
    color: #1b809e;
}


.outer-div
{
    padding:0;
    margin-bottom: 30px;
}

.inner-div
{
    margin: 0 auto;
    height: auto;
    border-radius: 3px;
    text-align: center;
    width: 100%;
    background-color: #FFFFff;
    padding-bottom: 15px;
    padding-top: 15px;
}

.ic_caption .title {

    margin-top: 15px !important;
    line-height: 20px!important;
    padding-left: 8px!important;
    padding-right: 8px !important;
    clear: both;
    width: 100%;
    padding-bottom: 10px!important;
    height: auto;

}

.ic_caption p.title a{

    text-decoration: none !important;
    font-size: 16px;
}

.ic_caption p{
    padding: 0!important;
    margin: 0!important;
    display: block;
    height: 14px;
    line-height: 14px;
}

.product-details table{
    margin: 0!important;
    padding: 0!important;
    border: none;
    width: 100%;
}
.product-short-details{

    margin-top: 1px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 20px;
    margin-bottom: 10px!important;
    border-bottom: 1px solid  #f3f3f3;
}