# Bootstrap
app/bootstrap*

# Symfony directories
/vendor
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/*
web/img/*
web/images/*
web/js/*
web/assets
web/fonts/*
web/nano.save



# Configuration files
app/config/parameters.yml


# IDE
.idea/*
.nbproject/*

# OS
.DS_Store
Thumbs.db