_main_domain:
    prefix: /
    resource: "@BinduBundle/Resources/config/main.yml"
    host: "%domain.main%"


_xiidea_main_domain_app:
    prefix:     /
    host: "{subdomain}.%domain.main%"
    resource: "@FrontendBundle/Resources/config/routing/ecommercesubdomain.yml"
    name_prefix: "main_"
    defaults:
        subdomain: ""

_www_main_domain:
    prefix: /
    resource: "@BinduBundle/Resources/config/main.yml"
    host: "www.%domain.main%"

_uipoka_domain:
    prefix: /
    resource: "@BinduBundle/Resources/config/main.yml"
    host: "%domain.uipoka%"

_www_uipoka_domain:
    prefix: /
    resource: "@BinduBundle/Resources/config/main.yml"
    host: "www.%domain.uipoka%"

_xiidea_ecommerce_domain:
    prefix: /
    resource: "@FrontendBundle/Resources/config/routing/ecommerce.yml"
    host: "www.%domain.ecommerce%"

_xiidea_ecommerce_domain_app:
    prefix:     /
    host: "{subdomain}.%domain.ecommerce%"
    resource: "@FrontendBundle/Resources/config/routing/ecommercesubdomain.yml"
    defaults:
        subdomain: ""


#xiidea_education_domain_homepage:
#    path:     /
#    defaults: { _controller: XiideaDomainBundle:Default:educationHome }
#    host: "www.%education_domain%"
#
#xiidea_education_domain_app_homepage:
#    path:     /
#    host: "{subdomain}.%education_domain%"
#    defaults:
#            _controller: XiideaDomainBundle:Default:educationAppHome
#            subdomain: ""
#
#xiidea_education_domain_app_mobile_homepage:
#    path:     /
#    host: "m.{subdomain}.%education_domain%"
#    defaults:
#            _controller: XiideaDomainBundle:Default:educationAppMobileHome
#            subdomain: ""
#
#xiidea_domain_error_page:
#    path:     /
#    defaults: { _controller: XiideaDomainBundle:Default:error }