<form id="commentform" action="{{ path('domain_reset_password',{'id':entity.id}) }}" method="POST" class="fos_user_resetting_request" novalidate="novalidate">
    {% if invalid_username is defined %}
        <div class="tm-alert error">
            <strong>Error</strong>The user name or mobile no "{{ invalid_username }}" does not exist.
        </div>
    {% endif %}
    <!--/row-->
    <div class="row-fluid">
        <div class="span6 ">
            <div class="control-group">
                <label class="control-label" >Mobile/User name/Email address<span class="required">*</span></label>
                <div class="controls">
                    <div class="input-icon left">
                        <i class="icon-phone"></i>
                        <input type="text" id="username" autocomplete="off" name="username" required="required" class="span12 mobile" placeholder="Enter your mobile no or user name or email address">
                    </div>

                </div>
            </div>
        </div>
        <!--/span-->
    </div>
    <!--/row-->
    <div class="form-actions portlet box grey">
        <div class="pull-center">
            <button type="submit" class="btn green"><i class="icon-ok"></i>&nbsp;Reset Password</button>
        </div>
    </div>

</form>
