#hide{
    display: none;
}

.tooltip-inner{
    background-color: #d12610;
}
.tooltip.top .tooltip-arrow{
    color: #d12610 !important;
}
.close{
    background-image: none!important;
}
.dialogModal .dialogModal_top .dialogModal_header{
    width: 100%!important;
}
.dialogModal .dialogModal_body{
    width: 100%!important;
}
.dialogModal .dialogModal_content{

}
.dialogModal_content .mini{
    height: 20px!important;
}

.fos_comment_comment_metas{
    background: #649458 !important;
    padding:0;
    color: #fff;
    padding-left: 20px!important;
    margin-top: 0!important;
}

.fos_comment_comment_show{
    line-height: 30px;
    border: 1px solid #ddddff;
}
.fos_comment_comment_replies .fos_comment_comment_show{
    line-height: 30px;
    border: none !important;
}

#fos_comment_comment_body{
    border: 1px solid #ddddff;
    min-height: 120px;
    width: 96%;
    padding: 20px;
    background-color: #FFFFff;
}

.fos_comment_comment_body {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;

}
.fos_comment_comment_reply{
    margin-left: 20px;
    margin-bottom: 20px;
}

#fos_comment_thread h3{
    width: 100% !important;
}
.fos_comment_submit{
    text-align: right;
    margin-top: 5px;
}
.fos_comment_submit input[type="submit"]{
    text-align: center;
    padding: 5px 50px;
    display: inline-block;
    margin-bottom: 2px;
    margin-left: 2px;
    cursor: pointer;
    background-color: #479444;
    border: 1px solid #888;
    color: #FFFFFF;
    font-weight: bold;
}
.fos_comment_comment_reply_show_form{
    text-align: center;
    padding: 0 30px;
    display: inline-block;
    margin-bottom: 2px;
    margin-left: 2px;
    cursor: pointer;
    background-color: #479444;
    border: 1px solid #888;
    color: #FFFFFF;
    border-radius: 1px;
}
.fos_comment_comment_reply_cancel{

    text-align: center;
    padding: 5px 50px;
    display: inline-block;
    margin-bottom: 2px;
    margin-left: 2px;
    cursor: pointer;
    background-color:#B1070B;
    border: 1px solid #c1cbd0;
    color: #FFFFFF;
    font-weight: bold
}
.fos_comment_comment_replies{
    margin-left: 20px;
}