/***
Dashboard Stats 2
***/
.dashboard-stat2 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    padding: 15px 15px 30px 15px;
    margin-bottom: 20px;
}
.dashboard-stat2 .display {
    margin-bottom: 20px;
}
.dashboard-stat2 .display:before, .dashboard-stat2 .display:after {
    content: " ";
    display: table;
}
.dashboard-stat2 .display:after {
    clear: both;
}
.dashboard-stat2 .display .number {
    float: left;
    display: inline-block;
}
.dashboard-stat2 .display .number h3 {
    margin: 0 0 2px 0;
    padding: 0;
    font-size: 30px;
    font-weight: 400;
}
.dashboard-stat2 .display .number h3 > small {
    font-size: 23px;
}
.dashboard-stat2 .display .number small {
    font-size: 14px;
    color: #AAB5BC;
    font-weight: 600;
    text-transform: uppercase;
}
.dashboard-stat2 .display .icon {
    display: inline-block;
    float: right;
    padding: 7px 0 0 0;
}
.dashboard-stat2 .display .icon > i {
    color: #cbd4e0;
    font-size: 26px;
}
.dashboard-stat2 .progress-info {
    clear: both;
}
.dashboard-stat2 .progress-info .progress {
    margin: 0;
    height: 4px;
    clear: both;
    display: block;
}
.dashboard-stat2 .progress-info .status {
    margin-top: 5px;
    font-size: 11px;
    color: #AAB5BC;
    font-weight: 600;
    text-transform: uppercase;
}
.dashboard-stat2 .progress-info .status .status-title {
    float: left;
    display: inline-block;
}
.dashboard-stat2 .progress-info .status .status-number {
    float: right;
    display: inline-block;
}

/* Statistic Block */
.dashboard-stat.green-sharp {
    background-color: #4DB3A2;
}
.dashboard-stat.green-sharp.dashboard-stat-light:hover {
    background-color: #46a595;
}
.dashboard-stat.green-sharp .visual > i {
    color: #FFFFFF;
    opacity: 0.1;
    filter: alpha(opacity=10);
}
.dashboard-stat.green-sharp .details .number {
    color: #FFFFFF;
}
.dashboard-stat.green-sharp .details .desc {
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
}
.dashboard-stat.green-sharp .more {
    color: #FFFFFF;
    background-color: #46a595;
}

/* General Element */
.bg-green-sharp {
    border-color: #4DB3A2 !important;
    background-image: none !important;
    background-color: #4DB3A2 !important;
    color: #FFFFFF !important;
}

/* General Text & Icon Font Colors */
.font-green-sharp {
    color: #4DB3A2 !important;
}

.progress-bar.green-sharp {
    background: #4DB3A2 !important;
    color: #FFFFFF !important;
}

/***
Green Sharp
***/
/* Button */
.green-soft.btn {
    color: #FFFFFF;
    background-color: #3faba4;
}
.green-soft.btn:hover, .green-soft.btn:focus, .green-soft.btn:active, .green-soft.btn.active {
    color: #FFFFFF;
    background-color: #35918b;
}
.open .green-soft.btn.dropdown-toggle {
    color: #FFFFFF;
    background-color: #35918b;
}
.green-soft.btn:active, .green-soft.btn.active {
    background-image: none;
    background-color: #2f7e79;
}
.green-soft.btn:active:hover, .green-soft.btn.active:hover {
    background-color: #318680;
}
.open .green-soft.btn.dropdown-toggle {
    background-image: none;
}
.green-soft.btn.disabled, .green-soft.btn.disabled:hover, .green-soft.btn.disabled:focus, .green-soft.btn.disabled:active, .green-soft.btn.disabled.active, .green-soft.btn[disabled], .green-soft.btn[disabled]:hover, .green-soft.btn[disabled]:focus, .green-soft.btn[disabled]:active, .green-soft.btn[disabled].active, fieldset[disabled] .green-soft.btn, fieldset[disabled] .green-soft.btn:hover, fieldset[disabled] .green-soft.btn:focus, fieldset[disabled] .green-soft.btn:active, fieldset[disabled] .green-soft.btn.active {
    background-color: #3faba4;
}
.green-soft.btn .badge {
    color: #3faba4;
    background-color: #FFFFFF;
}

/* Button Strip */
.btn.green-soft-stripe {
    border-left: 3px solid #3faba4;
}

/* Portlet */
.portlet > .portlet-body.green-soft,
.portlet.green-soft {
    background-color: #3faba4;
}

.portlet.solid.green-soft > .portlet-title,
.portlet.solid.green-soft > .portlet-body {
    border: 0;
    color: #FFFFFF;
}
.portlet.solid.green-soft > .portlet-title > .caption {
    font-weight: 400;
}
.portlet.solid.green-soft > .portlet-title > .caption > i {
    color: #FFFFFF;
}

.portlet.box.green-soft {
    border: 1px solid #5bc2bc;
    border-top: 0;
}
.portlet.box.green-soft > .portlet-title {
    background-color: #3faba4;
}
.portlet.box.green-soft > .portlet-title > .caption {
    color: #FFFFFF;
}
.portlet.box.green-soft > .portlet-title > .caption > i {
    color: #FFFFFF;
}
.portlet.box.green-soft > .portlet-title > .actions .btn-default {
    background: transparent !important;
    background-color: transparent !important;
    border: 1px solid #87d3ce;
    color: #9adad6;
}
.portlet.box.green-soft > .portlet-title > .actions .btn-default > i {
    color: #a5deda;
}
.portlet.box.green-soft > .portlet-title > .actions .btn-default:hover, .portlet.box.green-soft > .portlet-title > .actions .btn-default:focus, .portlet.box.green-soft > .portlet-title > .actions .btn-default:active, .portlet.box.green-soft > .portlet-title > .actions .btn-default.active {
    border: 1px solid #ade1dd;
    color: #bfe7e5;
}

/* Statistic Block */
.dashboard-stat.green-soft {
    background-color: #3faba4;
}
.dashboard-stat.green-soft.dashboard-stat-light:hover {
    background-color: #3a9c96;
}
.dashboard-stat.green-soft .visual > i {
    color: #FFFFFF;
    opacity: 0.1;
    filter: alpha(opacity=10);
}
.dashboard-stat.green-soft .details .number {
    color: #FFFFFF;
}
.dashboard-stat.green-soft .details .desc {
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
}
.dashboard-stat.green-soft .more {
    color: #FFFFFF;
    background-color: #3a9c96;
}

/* General Element */
.bg-green-soft {
    border-color: #3faba4 !important;
    background-image: none !important;
    background-color: #3faba4 !important;
    color: #FFFFFF !important;
}

/* General Text & Icon Font Colors */
.font-green-soft {
    color: #3faba4 !important;
}

.progress-bar.green-soft {
    background: #3faba4 !important;
    color: #FFFFFF !important;
}

.progress-bar.red-haze {
    background: #f36a5a!important;
    color: #fff!important;
}

.progress-bar.green-sharp {
    background: #2ab4c0!important;
    color: #FFF!important;
}

.progress-bar.green-sharp {
    background: #2ab4c0!important;
    color: #FFF!important;
}
.progress-bar-success {
    background-color: #36c6d3;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.font-purple-soft {
    color: #8877a9!important;
}
.font-red-haze {
    color: #f36a5a!important;
}
.font-blue-sharp {
    color: #5C9BD1!important;
}

 .icon-btn{
     width: 100%;
     height: 50px!important;
 }
.icon-btn div{
    font-size: 15px;
    font-weight: bold;
    color: #26a69a;
}
.dashboard-stat .visual{
    width: auto;
    float: none;
    padding:0;
    padding-top: 15px;
    padding-bottom: 15px;
}
.dashboard-stat .visual:hover{
    text-decoration: none;
}
.dashboard-stat .more {
    clear: both;
    display: block;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    opacity:1;
    font-weight: bold;
}
.unstyled{
    height: 100px;
}

