@import url("http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css");
input[class*="span"].m-wrap {
    height: 28px!important;
}
.numeric input {
    margin-bottom: 0;
    min-height: 15px!important;
    width: 70px;
    height: 15px!important;
    border: 1px solid #999;
    font-size: 13px!important;
    line-height: 15px!important;
}

.td-inline-input input{
    height: 15px!important;
    line-height: 13px!important;
    min-height: 15px!important;
    font-size: 13px!important;
    border: 1px solid #999;
    width: 70px;
}


.td-inline-label{
    height: 15px!important;
    line-height: 20px!important;
    min-height: 15px!important;
    font-size: 13px!important;
}

.head-blue {
    background: #4b8df8;
}
.head-blue th{
    color: #ffffff;
    font-weight: 400;
}
#purchaseItem td{
    vertical-align: middle;
}
#purchaseItem .input-append, .input-prepend{
    margin-bottom: 0;
}
.payment-label{
    line-height: 34px;
    text-align: right;
}
.center-input{
    width: 105px!important;
}

.payment-red {
    color: red!important;
}

.payment-yellow {
    color: blue !important;
}
#cartMethod , #bkashMethod{
    display: none;
}

.form .control-group .controls ul{
    margin-left: 0;
    margin-top: -10px;
}
#error-msg{
    color: #f0262f;
}


.select2-container{
    margin-left: 15px!important;
}
.select2Item{
    float: left!important;
    margin-left: 0!important;
}

.search-form{
    margin: 0!important;
}


.search-portlet.box{
    margin-bottom: 0!important;
    height: 34px!important;
    border-bottom: 1px solid #555555!important;
    border-top: 1px solid #555555!important;
}

.select2-container .select2-choice {
    height: 30px!important;
}

#message {
    line-height: 21px;
    text-align: right;
    font-weight: bold;
    color: #ffffff;
}

.select2{
    margin-left: 0!important;
}
.input-append .add-on, .input-prepend input[class*="numeric"]{
    font-size: 13px!important;
}
.input-append .add-on, .input-prepend .add-on{
    display: inline-block;
    width: auto;
    height: 20px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 11px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
}

.input-append-border{
    border-bottom: 1px solid #28b779;
}
.add-on-custom{
    width: 153px !important;
    text-align: right !important;
}
#chequeCardNo , #sales_mobile{

    border-right: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
}
.left-margin{
    margin-left: -23px!important;
}

.popover .popover-title {
    padding: 10px;
    margin-bottom: 5px!important;
}
.editable-input input.m-wrap{
    height: 20px!important;
}
