.dropdown-menu .divider{
    margin: 0;
}
#showPayment{
    display: none;
}
.particular-info{
    background: #b2aaaa;
    padding:0;
    padding-top: 10px;
    padding-bottom: 8px;
}

.btn-show{
    display: block!important;
}

.table-striped tbody>tr.min:nth-child(odd)>td, .table-striped tbody>tr.min:nth-child(odd)>th{
    background-color: yellow;
}

input.m-wrap.input-error , select.m-wrap.input-error{
    border: 1px solid red !important;
}

.input-error{
    border: 1px solid red !important;
}

.controls ul li , .control-group ul li {
    list-style: none;
    color: #f0262f;
    padding-left: 6px;
    line-height: 24px;
}

#particular-table .table-fixed {
    width: 100%;
}

#particular-table  thead tr th{
    background-color: #a48334;
    border-color:#a48334;
}
.referred-add{
    display: none;
}

.referred-add{
    display: none;
}
.select2Item{

}
.sales-right{
    padding-right: 10px;
}
.sales-right input{
    width: 110px;
    font-weight: bold;
    margin-top: -5px;
    text-align: left;
    border: 1px solid #a48334;
    height: 23px
}
.select2-search{
    padding-left: 0;
    padding-right: 0;
}
.select2-search input{
    border: 1px solid #35aa47!important;
}
.patient-info{

}
.form-horizontal .patient-info .control-group{
    margin-bottom: 0!important;
}
.form-horizontal .patient-info .control-label{
    float: left;
    text-align: left;
    background: #E7DFBF;
    color: #000;
    line-height:20px;
    height: 25px;
    margin:0!important;
    width: 99.5%;
    font-size: 14px;
    border: 1px solid #DDD09E;
}

.referred-info{
    border: 1px solid #D7EAE5;
}
.form-horizontal .referred-info .control-group{
    margin-bottom: 0!important;
}
.form-horizontal .referred-info .control-label{
    float: left;
    text-align: left;
    background: #F1F9F7;
    color: #000;
    line-height:20px;
    height: 25px;
    margin:0!important;
    width: 100%;
    font-size: 14px;
}
.form-horizontal .payment-info .control-group{
    margin-bottom: 0!important;
    border-bottom: 1px solid #dbb233;
}
.form-horizontal .payment-info .control-label{
    float: left;
    text-align: left;
    background: #a48334;
    color: #fff;
    font-weight: bold;
    line-height: 32px;
    height: 33px;
    margin:0!important;
    width: 100%;
    font-size: 14px;
}

.form-horizontal .patient-info .control-label span ,  .form-horizontal .referred-info .control-label span , .form-horizontal .payment-info .control-label span{
    padding-left: 8px;
}

.form-horizontal .controls{
    margin-left: 0;
}

input[class*="span"].m-wrap  {
    height: 34px!important;
    background: #ffffff;
}

.select-custom{
    height: 33px!important;
}

.payment-info{
    border: 1px solid #222;
}

.select2-container .select2-choice {
    height: 30px!important;
}
.grandTotal{
    font-weight: bold;
    font-size:15px;
}

.yellow-alert td{
    background-color: yellow!important;
}

.particular{
    height: 45px!important;
}

.select2-search input {
    border: 5px solid #e5e5e5!important;
}
.select2-container.req_place .select2-default .select2-chosen {
    color:#FFF !important;
    height: 45px!important;
}

.select2-container .select2-choice {
    padding: 5px 10px;
    height: 45px;
    font-size: 12px;
    width: 100%!important;
}

.select2-container .select2-choice .select2-arrow {
    padding: 4px 12px;
}

.select2-container .select2-choice abbr {
    display: none;
    width: 12px;
    height: 12px;
    right: 60px;
    top: 14px;
}

.form-horizontal .payment-info .control-label {
    float: left;
    text-align: left;
    background: #000;
    color: #fff;
    font-weight: bold;
    line-height: 32px;
    height: 42px;
    margin: 0!important;
    width: 100%;
    font-size: 14px;
}

.select2-results .select2-result-label {
    margin: 0;
    cursor: pointer;
    min-height:1.5em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    line-height: 1.5em;
    border-bottom: 1px solid #ddd;

}

.select2-results .select2-highlighted {
    background: #000!important;
    color: #fff!important;
}

.select2-search input {
    width: 100%;
    margin: 0;
    outline: 0;
    border: 1px solid #e5e5e5;
    color: #333333;
    height: auto !important;
    min-height:42px;
    padding: 6px 6px !important;
    line-height: 20px;
    font-size: 13px;
    vertical-align: top;
    background-color: #ffffff;
    filter: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

input.payment {
    border: 5px solid #EAB513!important;
    font-size: 20px!important;
    min-height: 50px!important;
}
input.discount{
    border: 5px solid #EAB513!important;
    font-size: 20px!important;
    min-height: 50px!important;
}
.sales-right{
    width: 157px;
    font-size: 16px;
    font-weight: bold;
}


input[class*="span"].m-wrap , select[class*="span"].m-wrap, textarea[class*="span"].m-wrap {
    background: #ffffff;
    font-size: 14px;
    font-weight: bold;
}
.btn-large {
    padding: 11px 17px;
}

#percentage{
    margin-top: 17px;
    color: red;
}

#payment-info{
    padding:15px;
    background-color:#E5E7E7;
    border: 5px solid #c2c0c1;
}

.input-append, .input-prepend{
    margin-bottom: 0!important;
}

#receiveBtn , #saveBtn{
    font-size: 20px;
    font-weight: bold;
    height: 60px;
}
.category{
    padding: 7px 10px !important;
    background: grey !important;
    color: #fff;
    font-weight: bold;
}
.customer{
    display: none;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 2px 10px;
}

.fixedElement {
    background-color: #c0c0c0;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}

.payment-info {
    border: 15px solid #c2c0c1;
}

.form-horizontal .payment-info .control-group {
    margin-bottom: 0!important;
    border-bottom: 1px #999 solid;
}

.form-horizontal .payment-info .control-group {
    margin-bottom: 0!important;
    border-bottom: 1px #fff solid;
}
.form-horizontal .payment-info .control-label {
    float: left;
    text-align: left;
    background: #c2c0c1;
    color: #000;
    font-weight: bold;
    line-height: 32px;
    height: 40px!important;
    margin: 0!important;
    width: 100%;
    font-size: 14px;
}
.add-on-custom{
    line-height: 42px;
}

.select2CustomerName .select2-choice{
    padding: 2px 9px !important;
    height: 28px!important;
    font-size: 15px;
    font-weight:normal !important;
    width: 100%!important;
    border: 1px solid #999;
}

.select2CustomerName .select2-choice .select2-arrow {
    padding: 3px 7px;
}

.select2CustomerName .select2-choice abbr {
    top: 10px;
    right:42px;
}

.select2CustomerName .select2-search input {
    border: 1px solid #35aa47!important;
}

.numeric input {
    margin-bottom: 0;
    min-height: 15px!important;
    width: 70px;
    height: 15px!important;
    border: 1px solid #999;
    font-size: 13px!important;
    line-height: 15px!important;
}

.td-inline-input{

    height: 15px!important;
    line-height: 13px!important;
    font-size: 13px!important;
    border: 2px solid #4d90fe!important;
    width: 50px;
    margin-bottom:0!important;
}

.td-inline-label{

    height: 15px!important;
    line-height: 20px!important;
    min-height: 15px!important;
    font-size: 13px!important;
}



