.btn-ajax-loading {
    position:inherit;
}
.big {
    font-size: 16px!important;
}
.tabbable-custom .nav-tabs > li{
    height: 34px!important;
}

.dropdown-menu .divider{
    margin: 0;
}
#showPayment{
    display: none;
}
.particular-info{
    background: #ddd;
    padding: 10px;
    padding-left:0;
    padding-right: 4px;
}

.top-payment{
    line-height: 36px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}

div.checker {
    border: 3px solid red;
    margin-top: -4px;
}

.btn-show{
    display: block!important;
}

.table-striped tbody>tr.min:nth-child(odd)>td, .table-striped tbody>tr.min:nth-child(odd)>th{
    background-color: yellow;
}

input.m-wrap.input-error , select.m-wrap.input-error{
    border: 1px solid red !important;
}

.input-error{
    border: 1px solid red !important;
}

.controls ul li , .control-group ul li {
    list-style: none;
    color: #f0262f;
    padding-left: 6px;
    line-height: 24px;
}

#particular-table .table-fixed {
    width: 100%;
}

#particular-table  thead tr th{
    background-color: #a48334;
    border-color:#dbb233;
}
.referred-add{
    display: none;
}

.referred-add{
    display: none;
}
.select2Item{
    border: 5px solid #4b8df8
}
.sales-right{
    padding-right: 10px;
    float: right;
    text-align: right;
    width: 140px;
}
.sales-right input[class*="span"].m-wrap{
    font-weight: bold;
    margin-top: -1px;
    text-align: right;
    border: 2px solid #4b8df8!important;
    height: 23px!important;
}
.select2-search{
    padding-left: 0;
    padding-right: 0;
}
.select2-search input{
    border: 1px solid #35aa47!important;
}

.discount-type{
    margin-left: 8px!important;
    height: 20px!important;
    border: 2px solid red !important;
}

.patient-info{

}
.form-horizontal .patient-info .control-group{
    margin-bottom: 0!important;
}
.form-horizontal .patient-info .control-label{
    float: left;
    text-align: left;
    background: #e6e0e0;
    color: #000;
    margin:0!important;
    width: 100%;
    font-size: 14px;
    border: 1px solid #888888;
}

.referred-info{
    border: 1px solid #D7EAE5;
}
.form-horizontal .referred-info .control-group{
    margin-bottom: 0!important;
}
.form-horizontal .referred-info .control-label{
    float: left;
    text-align: left;
    background: #F1F9F7;
    color: #000;
    line-height:20px;
    height: 25px;
    margin:0!important;
    width: 100%;
    font-size: 14px;
}
.form-horizontal .payment-info .control-group{
    margin-bottom: 0!important;
    border-bottom: 1px solid #2e2e2e;
}
.form-horizontal .payment-info .control-label{
    float: left;
    text-align: left;
    background: #f9f9f9;
    color: #000;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    margin:0!important;
    width: 100%;
    font-size: 14px;
}

.form-horizontal .payment-info .control-label .label {
    padding-left: 8px!important;
    background: none;
    font-weight: bold;
    color: #000;
    font-size: 14px;
}

.form-horizontal .patient-info .control-label span ,  .form-horizontal .referred-info .control-label span {
    padding-left: 8px;
}

.form-horizontal .controls{
    margin-left: 0;
}

input[class*="span"].m-wrap  {
    height: 34px!important;
    background: #ffffff;
}

.select-custom{
    height: 33px!important;
}

.payment-info{
    border: 1px solid #222;
}

.select2-container .select2-choice {
    height: 30px!important;
}
.grandTotal{
    font-weight: bold;
    font-size:15px;
}


.label-custom{
    background: transparent;
    padding: 0;
    width: 180px;
    display: inline-block;
    text-align: right;
    padding-right: 15px;
}

.yellow-alert td{
    background-color: yellow!important;
}

.tooltip-inner{
    background-color: #d12610;
}
.tooltip.top .tooltip-arrow{
    color: #d12610 !important;
}
.close{
    background-image: none!important;
}
.dialogModal .dialogModal_top .dialogModal_header{
    width: 100%!important;
}
.dialogModal .dialogModal_body{
    width: 100%!important;
}
.dialogModal .dialogModal_content{

}
.dialogModal_content .mini{
    height: 20px!important;
}

.check-list label{
    width: 97%;
}
.feeds .col1 .cont .cont-col2 .desc{
    margin-left: 10px;
}
.portlet.box .form .form-actions, .portlet.solid .form .form-actions {
    margin-top: -9px !important;
}
.row-fluid label{
    line-height: 30px!important;
}

input[class*="span"].wrap-custom{
    height: 30px!important;
}

li.active > a {
    color: #d12610 !important;
}
.tabs-right.tabbable-custom .nav-tabs > li a, .tabs-left.tabbable-custom .nav-tabs > li a {
    padding: 8px 10px;
    font-weight: bold;
}

.select2-container-multi .select2-choices {
    min-height: 30px;
}
.select2-container-multi .select2-choices .select2-search-choice div {
    color: #000!important;
    text-align: center;
}
.form-control-select{
    width: 100%;
    overflow-y:scroll;
}
#project-label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
}
#project-icon {
    float: left;
    height: 32px;
    width: 32px;
}
#project-description {
    margin: 0;
    padding: 0;
}

.checkbox-custom.focus{
    border:red 1px solid ;
}
.preview-print{
    float: right;
}

/* TAB & PRODUCT */
.tabbable-custom .nav-tabs > li{
    height: 39px!important;
    border-top: 0!important;
}

.tabbable-custom .nav-tabs > li > a{
    height: 36px!important;
    box-shadow:-2px 0px 2px -2px rgba(0, 0, 0, .1);
    top: 1px;
    border-width: 1px 1px 0 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    background: linear-gradient(to bottom,#5cb85c 0%,#4cae4c 100%);
    border-color: #4cae4c;
    border-style: solid;
    margin-right: -1px;
    min-height: 1px;
    font-size: 13px;
    padding: 0px 12px;
    line-height: 36px;
    font-weight: bold;
    color: #FFFFff!important;
}

.tabbable-custom .nav-tabs > li > a:hover {
    background: #21ADDF;
}

.tabbable-custom .nav-tabs > li.active > a{
    background: #fff;
    font-weight: bold;
    color: #0487BD!important;
}

.bs-calltoaction{
    position: relative;
    width:auto;
    padding: 15px 25px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.bs-calltoaction > .row{
    display:table;
    width: calc(100% + 40px);
}

.bs-calltoaction > .row > [class^="col-"],
.bs-calltoaction > .row > [class*=" col-"]{
    float:none;
    display:table-cell;
    vertical-align:middle;
}

.cta-contents{
    padding-top: 10px;
    padding-bottom: 10px;
    height:75px;
}

.cta-title {
    padding: 0px 5px 0px 8px;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}
.cta-desc{
    padding: 0;
}

.cta-desc p:last-child{
    margin-bottom: 0;
}

.cta-button{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 75px;
}

@media (max-width: 991px){
    .bs-calltoaction > .row{
        display:block;
        width: auto;
    }

    .bs-calltoaction > .row > [class^="col-"],
    .bs-calltoaction > .row > [class*=" col-"]{
        float:none;
        display:block;
        vertical-align:middle;
        position: relative;
    }

    .cta-contents{
        text-align: center;
    }
}
.bs-calltoaction.bs-calltoaction-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.bs-calltoaction.bs-calltoaction-primary{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.bs-calltoaction.bs-calltoaction-info{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.bs-calltoaction.bs-calltoaction-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.bs-calltoaction.bs-calltoaction-warning{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.bs-calltoaction.bs-calltoaction-danger{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.bs-calltoaction.bs-calltoaction-primary .cta-button .btn,
.bs-calltoaction.bs-calltoaction-info .cta-button .btn,
.bs-calltoaction.bs-calltoaction-success .cta-button .btn,
.bs-calltoaction.bs-calltoaction-warning .cta-button .btn,
.bs-calltoaction.bs-calltoaction-danger .cta-button .btn{
    border-color:#fff;
}
/* TAB & PRODUCT */

.portlet.box.royal-blue{
    margin-bottom: 0!important;
    padding-bottom: 0!important;
}
#invoiceForm{
    margin-bottom: 0!important;
}
.btn.receiveBtn{
    color: #fff !important;
}
.btn.royal-blue,.btn.royal-blue:focus{
    background-color: #004de0 !important;
    color: #fff !important;
}

.btn.royal-blue:hover,.btn.royal-blue:focus,
.btn.royal-blue:active,
.btn.royal-blue.active,
.btn.royal-blue.disabled,
.btn.royal-blue[disabled] {
    background-color: #004de0 !important;
    color: #fff !important;
}

.portlet.box.royal-blue {
    border: 1px solid #125de9;
    border-top: 0;
}

.portlet.box.royal-blue > .portlet-title {
    background-color: #004de0;
}

.head-royal-blue {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #125de9;
    background-color: #055bff;
}

select.m-wrap.sales-by{
   border: 5px solid #055bff!important;
    height: 54px!important;
}


.contentWrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    border-bottom: 10px solid #ff5a00;
}

.tabsWrapper {
    width: 100%;
    height: 110px;
    overflow: hidden;
    position: relative;
    margin-left: 30px;
}
.table-tab{
    margin-right: 36px!important;
}
.tabs {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: -25px;
    left: 60px;
    right: 0;
    white-space: nowrap;
    overflow: auto;
}
.tabs li {
    display: inline-block;
    background-color:#004acb;
    padding: 15px 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    min-width: 90px;
    text-align: center;
    height: 80px;
}
.table-tab li.active {
    background-color:#ff5a00;
}
.next, .previous {
    position: absolute;
    padding: 45px 30px;
    top: 0;
    background-color:#444d58;
    font-size: 30px;
    color: #ffffff;
}
.next {
    right: 0px;
}
.previous {
    left: 0px;
}
.next:hover, .previous:hover {
    background-color: #333333;
    cursor:move;
}

.table-sales-time{
    background: #dddddd;
    display: inline-flex;
    padding: 5px;
    font-size: 12px;
    color: #ff5a00;
    margin-top: 1px;
}

.group-label{
    font-weight: bold;
    border-bottom: 1px solid #337ab7
}
.bar-tabs>li{
    float: left;
    list-style: none;
}
.bar-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    position: relative;
    display: block;
    padding: 10px 15px;
    width: 150px
}

.bar-tabs>.active>a, .bar-tabs>.active>a:hover, .bar-tabs>.active>a:focus {
    color: #ffffff !important;
    cursor: default;
    background-color: #c49f47;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs>li{
    width: 100%;
}
.nav-tabs>li>a {
    line-height: 32px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px #ddddff solid;
    color: #ffffff!important;
}


.nav-tabs>.active>a, .nav-tabs>li>a:hover, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    color: #ffffff !important;
    cursor: hand!important;
    background-color: #055bff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.form-control{
    margin-left: 15px;
}
.select2-container .select2-choice {
    height: 46px!important;
    z-index: 99999!important;
    border: 1px solid #055bff;
}

.select2-container .select2-choice > .select2-chosen {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 44px;
    font-size: 25px;
}

.table-tab .process{
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.table-tab .Created{
    background: #333333;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.table-tab .New{
    background: #5f39d7;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.table-tab .Kitchen{
    background:#5f39d7;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.table-tab .Free{
    background:red;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.table-tab .Hold{
    background: #dbac14;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.table-tab .Cancel{
    background: #ff2515;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.table-tab .Order{
    background: #0e6d1f;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.table-tab .Reserved{
    background: #925d4e;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.table-tab .Delivered , .table-tab .Done{
    background: #0a7265;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.sales-right {
    width: 50%;
}

input[type="text"].inline-m-wrap {
    width: 30px;
    font-size: 12px;
    border: 1px solid #c49f47;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    height: 11px;
}

input[type="text"].inline-medium-wrap {
    width: 60px;
    font-size: 12px;
    border: 1px solid #555555;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    height: 24px;
}

div.checker {
    border: 3px solid #c49f47;
    margin-top: 2px;
    margin-bottom: 3px;
}

input[class*="span"].m-wrap-bg{
    height: 50px!important;
    background: #ffffff;
    font-size: 30px;
}

input.m-wrap , select.m-wrap , textarea.m-wrap{
    border: 1px solid #004de0!important;
}
table.table {
    clear: both;
    margin-bottom: 0 !important;
    max-width: none !important;
    font-size: 11px;
}

.table th, .table td{
    padding: 0;
    margin: 0;
    padding-left: 0px;
}

select.m-wrap {
    height: 34px!important;
}

.product-content{
    width: 100%;
    margin-bottom: 13px;
    text-align: center;
    float: left;
    font-size: 12px!important;
    cursor: pointer;
}
.payment-info{
    border: transparent;
}
.form-horizontal .payment-info .control-group {
    margin-bottom: 0!important;
    border-bottom:transparent;
}

.sales-right input[class*="span"].payment, .sales-right input[class*="span"].discount, .sales-right input[class*="span"].discountCoupon{
    border: 1px solid #004de0!important;
    font-size: 15px;
}

.input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child{
    width: auto;
    min-width: 40px;
}

input[class*="span"].payment{
    font-size: 20px;
    height: 50px!important;
    min-width: 120px;
    text-align: center;
}

.bankHide , .mobileBankHide , .customer{
    display: none;
}
.all-product-box{
    overflow-y: scroll;

}
.label-custom {
    width: 150px;
}
.accordion-container {
    position: relative;
    width: 100%;
    border: 1px solid #0079c1;
    border-top: none;
    outline: 0;
    cursor: pointer
}

.accordion-container .accordion-title {
    display: block;
    position: relative;
    margin: 0;
    padding: 0.625em 0.625em 0.625em 2em;
    font-size: 1.25em;
    font-weight: normal;
    color: #fff;
    background: #000;
    cursor: pointer;
}

.accordion-container .accordion-title:hover,
.accordion-container .accordion-title:active,
.accordion-container .content-entry.open .accordion-title {
    background-color: #00aaa7;
    color: white;
}

.accordion-container .accordion-title:hover i:before,
.accordion-container .accordion-title:hover i:active,
.accordion-container .content-entry.open i {
    color: white;
}
.accordion-container .accordion-title {
    background: #00584F;
    cursor: pointer;
    border-top: 1px solid #fff;
    padding: 0.625em 0.625em 0.625em 8px;
}
.accordion-title{
    position: relative;
}

.accordion-title:after {
    content: "";
    position: absolute;
    right: 25px;
    top: 38%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.accordion-title.open:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 45%;
}
.table-list{
    width: 33%;
    float: left;
    line-height: 20px;
    display: flex;
}
.table-list .checkbox{
    width: 24px;
    float: left;
    display: flex;
}
.table-list span{
    padding-left: 3px;
}

.user-list{
    width: 50%;
    float: left;
    line-height: 20px;
    display: flex;
}
.user-list .checkbox{
    width: 24px;
    float: left;
    display: flex;
}
.user-list span{
    padding-left: 3px;
}

.calltoaction-royal-blue {
    color: #fff;
    background-color: #055bff;
    border-color: #e9ecef;
}

.table th.product-title {
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    text-align: right;
    padding-right: 5px;
}
.table th.product-title-name {
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    text-align: left;
    padding-right: 5px;
}

.table td.product-title {
    font-size: 12px;
    height: 36px;
    color: #000;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 12px;
}

.table-bordered th, .table-bordered td {
    border-left: none!important;
    border-top:none!important;
}

.table td .checkbox {
    width: 24px;
    margin-top: -5px;
}

.accordion-content {
    display: none;
    padding:15px;
}

/* CSS for CodePen */
.accordion-container {
    margin-bottom:7px;
}
#restaurant_invoice_payment{
    width: 35%;
    height: 46px !important;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.process-payment{
    display: none;
}

.receiveBtn{
    width: 49%!important;
}

.transaction-box{
    background: #dddddd;
    padding: 15px;
    height: 110px;
    margin-bottom: 15px;
    margin-top: -7px;
    border: 5px solid #055bff;
}

.payment-box{
    background: #dddddd;
    padding: 15px;
    margin-bottom:0;
    margin-top: -5px;
    border: 5px solid#337ab7;
}

.switch-field {
    display: flex;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color:#444d58;
    color:#ffffff;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 11px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
    width: calc(100% /5);
    font-weight: bold;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color:#ff5a00;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.switch-method {
    display: flex;
}

.switch-method input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-method label {
    background-color: #444d58;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
    width: calc(100% /3);
    color: #ffffff;
    font-weight: bold;
}

.switch-method label:hover {
    cursor: pointer;
}

.switch-method input:checked + label {
    background-color: #337ab7;
    box-shadow: none;
}

.switch-method label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-method label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.display {
    width: 100%;
    height: 60px;
    padding: 40px 0;
    background: #FF0509;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.cal-button {
    width: calc(100% /10)!important;
    height: 60px;
    float: left;
    padding: 0;
    box-sizing: border-box;
    background: #ecedef;
    border: 1px solid #333333;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    color: #5E5858;
    cursor: pointer;

}

.cal-button-lg {
    width: calc(100% /5)!important;
    height: 60px;
    float: left;
    padding: 0;
    box-sizing: border-box;
    background:#055bff;
    border: 1px solid #055bff;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
}

.red {
    background: #FF0509 !important;
    color: #ffffff !important;
}
.grid-products {
    width: 100%;
    display: grid;
    grid-gap: 0;
}
.grid-products {
    grid-template-columns: repeat(3, calc(100%/3));
}
.input-append .add-on-height, .input-prepend .add-on-height {
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    width: 40px;
    border: 1px solid #004de0!important;
}
#barcode {
    height: 50px !important;
    font-size: 30px;
}



