.print-header .title-center{
    float: none!important;
    text-align: center;
    text-transform: uppercase;
}
.print-header .barcode-left{
    float: left;
    padding-left: 10px;
}
.print-header .barcode-right{
    float: right;
    padding-right: 10px;
}
.print-footer .left{
    margin-left: 30px;
}
.print-footer .center{
    text-align: center;
}
.print-footer .right{
    float: right;
    padding-right:30px;
}

.left{
    float: left;
}
.center{
    text-align: center;
}
.right{
    float: right;
}


.table thead tr th.text-right , .table-bordered tr td.text-right{
    text-align:right!important;
}
.text-center{
    text-align:center!important;
}

.span4 {
    width: 31.623931623931625%;
}

.table thead tr th{
    font-size:15px;
}

.table td{
    font-size: 15px;
}
.service-group{
    background-color: #ddddff!important;
}
table.table{
    margin-bottom: 0!important;
}
.table td {
    line-height: 18px;
    padding-left: 8px;
    padding-right: 8px;
}
.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
     background-color:#fff!important;
}
table.table-border{
    border: 1px solid #fff!important;
}
.print-header{
    border: 1px solid #c0c5c9!important;
}
.head-black{
    border: 1px solid #c0c5c9!important;
}
.table-bordered tr td{
    border: 1px solid #fff!important;
}

.span12{
    width: 100%
}
.span9{
    width:75%
}
.span8{
    width:66.66666667%
}
.span6{
    width: 50%
}
.span4{
    width: 33.33333333%!important;
}
.span3{
    width: 25%
}
.span2{
    width: 12.50%
}
.span1{
    width: 8.33333333%
}

