<div class="navbar hor-menu hidden-phone hidden-tablet">

    <div class="navbar-inner">
        {{ knp_menu_render('DocudexCoreBundle:MenuBuilder:mainMenu', {'currentClass': 'active', 'template': 'DocudexCoreBundle:Menu:knp_menu.html.twig'}) }}
    </div>

</div>