.category-list {
    position: relative;
    z-index: 15;
    width: 300px;
    float: left;
    margin: 0 20px 0 0;
}
.box-category-heading {
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    text-align: left;
    background: #E12454;
    color: #ffffff;
    position: relative;
    background-position: right 30px center;
    background-repeat: no-repeat;
    background-size: 12px;
    padding: 20px 60px 20px 30px;
}

.box-category-heading:before {
    content: '';
    display: block;
    position: absolute;
    left: 30px;
    right: auto;
    top: auto;
    bottom: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #E12454 transparent transparent transparent;
}

.home-category.widget_product_categories {
    display: none;
    position: absolute;
    z-index: 6;
    background: #ffffff;
    width: 100%;
    top: 100%;
    padding: 6px 0;
    margin: 30px 0 0;
    text-align: left;
    left: 0;
    right: 0;
    border: 2px solid #E12454;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius:5px;
    -moz-border-radius: 5px;
}

.home-category.widget_product_categories h3.widget-title {
    display: none;
}
.header-bottom.sticky-menu .home-category.widget_product_categories ul {
    display: none;
}
.widget_product_categories ul {
    list-style: none;
    margin:0;
    padding:5px 0px 0;
}
.widget_product_categories a {
    display: block;
    padding: 10px 8px;
    position: relative;
    font-size: 13px;
    color: #212121;
}
.home-category.widget_product_categories a{
    border-bottom: 1px solid #dddddd;
}
.home-category.widget_product_categories .cat-item{
    padding:0 25px;
}
.home-category.widget_product_categories .children .cat-item a{
    border-bottom:none;
}
.home-category.widget_product_categories li:last-child a{
    border-bottom:none;
}
.home-category.widget_product_categories .cat-parent{position:relative;}
@media (min-width: 980px) {
    .home-category.widget_product_categories .cat-parent:before {
        content: "\f105";
        font-family: fontawesome;
        position: absolute;
        top: 7px;
        color: #000000;
        padding: 0px 8px;
        right: 20px;
    }
    .home-category.widget_product_categories .cat-parent.mega-hover:before{color: #FF9D02;}
}
.home-category .product-categories .children{
    display: none;
    position: absolute;
    background: #fff;
    left: 100%;
    top: 0;
    width: auto;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -khtml-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;

    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
}
#content .category-tab .shortcode-title {
    width: auto;
    float: left;
}
@media only screen and (min-width: 980px) {
    .home-category ul li:hover ul.children ul.children,
    .home-category ul li:hover ul.children ul.children ul.children,
    .home-category ul li:hover ul.children ul.children ul.children ul.children {
        display: none;
        -webkit-transition: opacity 1s ease-out;
        opacity: 0;
    }
    .home-category ul li:hover ul.children, .home-category ul li ul.children li:hover ul.children,
    .home-category ul li ul.children li ul.children li:hover ul.children,
    .home-category ul li ul.children li ul.children li ul.children li:hover {
        display: block;
        opacity: 1;
        -webkit-transition: opacity 1s ease-out;
        animation: fadeInLeft 0.5s;
    }
    @keyframes fadeInLeft {
        from {
            opacity: 0;
            transform: translate3d(-10%, 0, 0);
        }
        to {
            opacity: 1;
            transform: none;
        }
    }
}
.home-category.widget_product_categories .cat-parent .children a {
    width: 100%;
    padding: 2px;
    text-transform: capitalize;
    font-size: 13px;
    line-height: 26px;
    font-weight: 400;
}
.sidebar-category-inner .cat-parent .children li {
    width: auto;
    height: auto !important;
    line-height: 20px;
    padding: 5px 0px;
    margin-left: 5px;
}
.home-category .sidebar-category-inner ul.children li.mega-hdr {
    float: left;
    height: auto !important;
    line-height: 20px;
    padding: 5px 20px;
    width: 170px;
}
.home-category .sidebar-category-inner ul.children li.mega-hdr a, .sidebar-category-inner .cat-parent .children li a {
    display: inline-block;
    padding: 0;
}
.sidebar-category-inner li .sub li.mega-hdr a.mega-hdr-a {
    /* color: #ff9d02;
     display: block;
     font-size: 13px;
     font-weight: 500;
     margin: 5px 0;
     text-transform: capitalize;
     height: auto !important;*/
}
.sidebar-category-inner .sub.children ul {
    border: medium none !important;
    display: block !important;
    margin: 0;
    padding: 0 !important;
    left: 0!important;
}
.sidebar-category-inner ul.children {
    clear: both;
}
.category-list .sidebar-category-inner .cat-parent .children li {
    width: 200px;
    padding: 5px 0;
    margin-left: 25px;
}
/*********** end home-category *********************/
