.dropdown-menu .divider{
    margin: 0;
}
#showPayment{
    display: none;
}
.particular-info{
    background: red;
    padding: 10px;
    padding-left:0;
    padding-right: 4px;
}

.btn-show{
    display: block!important;
}

.table-striped tbody>tr.min:nth-child(odd)>td, .table-striped tbody>tr.min:nth-child(odd)>th{
    background-color: yellow;
}

input.m-wrap.input-error , select.m-wrap.input-error{
    border: 1px solid red !important;
}

.input-error{
    border: 1px solid red !important;
}

.controls ul li , .control-group ul li {
    list-style: none;
    color: #f0262f;
    padding-left: 6px;
    line-height: 24px;
}

#particular-table .table-fixed {
    width: 100%;
}

#particular-table  thead tr th{
    background-color: #f39c12;
    border-color:#dbb233;
}
.referred-add{
    display: none;
}

.referred-add{
    display: none;
}
.select2Item{
    border: 5px solid #4b8df8
}
.sales-right{
    padding-right: 10px;
}
.sales-right input{
    width: 110px;
    font-weight: bold;
    margin-top: -5px;
    text-align: left;
    border: 1px solid #a48334;
    height: 23px
}
.select2-search{
    padding-left: 0;
    padding-right: 0;
}
.select2-search input{
    border: 1px solid #35aa47!important;
}
.patient-info{

}
.form-horizontal .patient-info .control-group{
    margin-bottom: 0!important;
}
.form-horizontal .patient-info .control-label{
    float: left;
    text-align: left;
    background: #E7DFBF;
    color: #000;
    line-height:20px;
    height: 25px;
    margin:0!important;
    width: 99.5%;
    font-size: 14px;
    border: 1px solid #DDD09E;
}

.referred-info{
    border: 1px solid #D7EAE5;
}
.form-horizontal .referred-info .control-group{
    margin-bottom: 0!important;
}
.form-horizontal .referred-info .control-label{
    float: left;
    text-align: left;
    background: #F1F9F7;
    color: #000;
    line-height:20px;
    height: 25px;
    margin:0!important;
    width: 100%;
    font-size: 14px;
}
.form-horizontal .payment-info .control-group{
    margin-bottom: 0!important;
    border-bottom: 1px solid #dbb233;
}
.form-horizontal .payment-info .control-label{
    float: left;
    text-align: left;
    background: #a48334;
    color: #fff;
    font-weight: bold;
    line-height: 32px;
    height: 33px;
    margin:0!important;
    width: 100%;
    font-size: 14px;
}

.form-horizontal .patient-info .control-label span ,  .form-horizontal .referred-info .control-label span , .form-horizontal .payment-info .control-label span{
    padding-left: 8px;
}

.form-horizontal .controls{
    margin-left: 0;
}

input[class*="span"].m-wrap  {
    height: 34px!important;
    background: #ffffff;
}

.select-custom{
    height: 33px!important;
}

.payment-info{
    border: 1px solid #222;
}

.select2-container .select2-choice {
    height: 30px!important;
}
.grandTotal{
    font-weight: bold;
    font-size:15px;
}

.yellow-alert td{
    background-color: yellow!important;
}