fos_js_routing:
    resource: "@FOSJsRoutingBundle/Resources/config/routing/routing.xml"

app_pos:
    resource: "@PosBundle/Resources/config/routing.yml"
    prefix:   /app-pos

app_report:
    resource: "@ReportBundle/Resources/config/routing.yml"
    prefix:   /app-report

assests:
    resource: "@AssetsBundle/Resources/config/routing.yml"
    prefix:   /assets

site_domain_control:
    resource: "dynamic/sites.yml"
    type:     rest

site_domain_ajax_control:
     resource: "@FrontendBundle/Resources/config/routing/ajax.yml"
     prefix:    /ajax

android_portal_api:
    resource: "@BinduBundle/Resources/config/apiPortal.yml"
    prefix:   /android-api-portal

android_sales_api:
    resource: "@BinduBundle/Resources/config/apiSales.yml"
    prefix:   /android-api

android_ecommerce_api:
    resource: "@BinduBundle/Resources/config/apiEcommerce.yml"
    prefix:   /android-api-ecommerce

election:
    resource: "@ElectionBundle/Resources/config/routing.yml"
    prefix:   /election

organization_committee:
    resource: "@ElectionBundle/Resources/config/routingcommittee.yml"
    prefix:   /organization-committe

hotel:
    resource: "@HotelBundle/Resources/config/routing.yml"
    prefix:   /hotel-restaurant

doctor_prescription:
    resource: "@DoctorPrescriptionBundle/Resources/config/routing.yml"
    prefix:   /doctor-prescription

education:
    resource: "@EducationBundle/Resources/config/routing.yml"
    prefix:   /education

business:
    resource: "@BusinessBundle/Resources/config/routing.yml"
    prefix:   /business

medicine:
    resource: "@MedicineBundle/Resources/config/routing.yml"
    prefix:   /medicine

appstore_dms:
    resource: "@DmsBundle/Resources/config/routing.yml"
    prefix:   /dms

appstore_restaurant:
    resource: "@RestaurantBundle/Resources/config/routing.yml"
    prefix:   /restaurant

human_resource:
    resource: "@HumanResourceBundle/Resources/config/routing.yml"
    prefix:   /human-resource

hospital:
    resource: "@HospitalBundle/Resources/config/routing.yml"
    prefix:   /hms

core_user_bundle:
    resource: "@UserBundle/Resources/config/routing.yml"

customer:
    resource: "@CustomerBundle/Resources/config/routing.yml"
    prefix:   /customer

accounting:
    resource: "@AccountingBundle/Resources/config/routing.yml"
    prefix:   /accounting

domain_user:
    resource: "@DomainUserBundle/Resources/config/routing.yml"
    prefix:   /


appstore_ecommerce:
    resource: "@EcommerceBundle/Resources/config/routing.yml"
    prefix:   /e-commerce

setting_advertisment:
    resource: "@SettingAdvertismentBundle/Resources/config/routing.yml"
    prefix:   /

product_product:
    resource: "@ProductProductBundle/Resources/config/routing.yml"
    prefix:   /admin

setting_tool:
    resource: "@SettingToolBundle/Resources/config/routing.yml"
    prefix:   /

setting_content:
    resource: "@SettingContentBundle/Resources/config/routing.yml"
    prefix:   /

setting_appearance:
    resource: "@SettingAppearanceBundle/Resources/config/routing.yml"
    prefix:   /

setting_media:
    resource: "@SettingMediaBundle/Resources/config/routing.yml"
    prefix:   /

setting_location:
    resource: "@SettingLocationBundle/Resources/config/routing.yml"
    prefix:   /admin

fos_comment_api:
    type: rest
    resource: "@FOSCommentBundle/Resources/config/routing.yml"
    prefix: /api
    defaults: { _format: html }

domain_control:
    resource: "@XiideaDomainBundle/Resources/config/routing.yml"
    type:     rest

bindu:
    resource: "@BinduBundle/Resources/config/main.yml"
    prefix:   /