<div class="tm-wrap">
    <div class="tm-column tm4">
        <div class="header-line-bottom">
            <h3>PATIENT’S HISTORY INFORMATION</h3>
        </div>
        <ul>
            <li>Chief Complaints</li>
            <li>Presenting Complaints</li>
            <li>Past Medical History</li>
            <li>Drug History</li>
            <li>General Examination</li>
            <li>Investigation</li>
            <li>Diagnosis</li>
            <li>Advice</li>
            <li>Special Advice</li>
            <li>Attach File of X-ray</li>
        </ul>
    </div>
    <div class="tm-column tm4">
        <div class="header-line-bottom">
            <h3>TREATMENT PLANNING & DIAGNOSIS</h3>
        </div>
        <ul>
            <li>Diagnosis</li>
            <li>Treatment Plan</li>
            <li>Treatment Done</li>
            <li>Estimate, Received</li>
            <li>Cheque & Credit Card Payment</li>
            <li>Imaging (Compatible with all imaging Devices)</li>
            <li>Graphical Presentation of all tooth no</li>
            <li>Patients Work Status at a glance</li>
        </ul>
    </div>
    <div class="tm-column tm4">
        <div class="header-line-bottom">
            <h3>>DIGITAL PRESCRIPTION</h3>
        </div>
        <ul>
            <li>Medicine With Dosage & No of Days</li>
            <li>Here You Will Find Maximum Medicine & Generic Name to Prescribe</li>
            <li>Option of Including New Medicine</li>
            <li>Special Instructions</li>
            <li>Fully Customisable</li>
            <li>And Many More</li>
        </ul>
    </div>
</div>