{% extends ':frontend/mobile:base.html.twig' %}
{% block body %}
    <div class="bannerPane">
        <div class="overlay"></div>
        <div class="s-banner-content">
            <div><img width="100" src="{{ asset('assets/frontend/img/bdeducations.png') }}" /></div>
            Business Location Available
        </div>
    </div>
    <div id="content">
        {% render controller("BinduBundle:Widget:location") %}
    </div>
{% endblock %}