{% extends "login.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <!-- BEGIN LOGO -->
    <div class="logo">
        <img style="background-color: #FFFFff" src="{{ asset('assets/img/logo.png') }}" height="80" width="420" alt="" />
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <img style="background-color: #FFFFff" src="{{ asset('assets/img/maintenance.jpeg') }}" height="450" width="420" alt="" />
    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">
        {{ "now"|date('Y') }} &copy; Terminalbd.com.
    </div>
    <style>
        input{
            width: 88%;
        }
    </style>
    <!-- END COPYRIGHT -->
{% endblock body %}
