<div style="height: auto;" id="accordion1-1" class="accordion collapse">
    <form action="" method="post" id="credential" >
        <label class="control-label">User name</label>
        <input type="text" placeholder="John" class="m-wrap span8" name="username"  value="{{ user.username }}"/>
        <label class="control-label">Email address</label>
        <input type="text" placeholder="enter your valid email address" name="email"  value="{{ user.email }}" class="m-wrap span8" />
         <div class="submit-btn">
             <input type="hidden" name="user_id" value="{{ user.id }}">
             <input type="submit" class="btn green" id="profile-submit"  name="submit" value="Save Changes">
             <a href="javascript:" class="btn">Cancel</a>
        </div>
    </form>
</div>