body {
    font-family: "Open Sans", sans-serif;
    font-size: 12px !important;
    color: #000000;
    font-weight: 400;
    position: relative;
    max-width: 100%;
    min-width: 1024px;
    margin: 0 auto;
}

body.body{
    margin: 0 15px;
}
a{
    text-decoration: none;
    color: #000000;
    display: inline-block;
}
a:hover{
    color: #0b84fe;
    text-decoration:black;
}

.print-bar{
    margin-bottom:10px;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right:0;
    background-color: #b5b5b5;
}
.print-header{
    background: #d0d0d0;
    border: 1px solid #ccc;
    padding:15px;
    text-transform: uppercase;
    text-align: left;
    line-height: 60px;
    width: 100% !important;
    display: block;
}

.btn-margin-left{
    margin-left:16px!important;
}

.btn-go-back {
    background-color: #0098ef;
    border-color: #0090e2;
    margin-top: 10px;
    float: right;
}

.list-inline {
    display: block;
    font-size: 12px;
    margin-top: 20px;
}
.list-inline li{display:inline-block;}
.list-inline li:after{content:'|'; margin:0 10px;}
.list-inline li:last-child:after{content:''; margin:0 10px;}
.print-header-content{
    height: 100px;
}
.print-header-content img{
    width: 100%;
    height: 100%;
}
.print-footer-content{
    height: 100px;
    margin-top: 15px;
}
.print-footer-content img{
    height: 75px;
    margin-top: 15px;
    width: 100%;
}

.card-block{
    min-height:  29.7cm!important;
}
#print-area{
    min-height:  29.7cm!important;
}


.page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
.page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}
.page[size="A4"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;
}
ul , ul li{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 20px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.col-md-1, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,.col-md-10, .col-md-11, .col-md-12{
    float: left;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
}
.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
.col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-md-6 {
    flex: 0 0 50%;
    width: 50%;
}

.col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-md-4 {
    flex: 0 0 33.333333%;
    width: 33.333333%;
}
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}


.col-md-9 {
    max-width: 75%;
}

.col-md-8 {
    max-width: 66.666667%;
}

.col-md-7 {
    max-width: 58.333333%;
}

.col-md-6 {
    width: 50%;
}

.col-md-5 {
    max-width: 41.666667%;
}
.col-md-4 {
    width: 33.333333%;
}
.col-md-3 {
    max-width: 25%;
}

.col-md-2 {
    max-width: 16.666667%;
}

/*.table th.span-1, .table th.span-12, .table th.span-2, .table th.span-3, .table th.span-4, .table th.span-5, .table th.span-6, .table th.span-7, .table th.span-8, .table th.span-9,.table th.span-10, .table th.span-11, .table th.span-12{
    float: left;
}
.table th.span-12 {
    max-width: 100%;
    width: 100%;
}
.table th.span-11 {
    max-width: 91.666667%;
    width: 91.666667%;
}
.table th.span-10 {
    max-width: 83.333333%;
    width: 83.333333%;
}
.table th.span-9 {
    max-width: 75%;
    width: 75%;
}

.table th.span-8 {
    max-width: 66.666667%;
    width: 66.666667%;
}

.table th.span-7 {
    max-width: 58.333333%;
    width: 58.333333%;
}

.table th.span-6 {
    width: 50%;
    max-width: 50%;
}

.table th.span-5 {
    max-width: 41.666667%;
    width: 41.666667%;
}
.table th.span-4 {
    width: 33.333333%;
    max-width: 33.333333%;
}
.table th.span-3 {
    max-width: 25%;
    width: 25%;
}

.table th.span-2 {
    max-width: 16.666667%;
    width: 16.666667%;
}

.table th.span-1 {
    max-width: 8.333333%;
    width: 8.333333%;
}*/

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.pt-0, .py-0 {
    padding-top: 0!important;
}

.pt-1, .py-1 {
    padding-top: .25rem!important;
}

.pt-2, .py-2 {
    padding-top: .5rem!important;
}

.pb-2{
    padding-bottom: .5rem!important;

}

.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}

.pt-5, .py-5 {
    padding-top: 3rem!important;
}

p{
    line-height: 17px;
    margin: 0;
    padding: 0;
}

p strong{
    line-height: 20px;
}

.table {
    display: table;
    border-collapse: collapse!important;
    border-spacing: 0!important;
    border-color: #000000;
    width: 100%;
    table-layout: auto;
}

.table th, .table td{
    padding-left: 5px;
    padding-right: 5px;
}

.table th {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}

.table td{
    display: table-cell;
    vertical-align: middle;
}
.table td, .table th {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    border:1px solid #ccc;
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 12px;
}

.table.even{
    border-collapse:collapse;
}
.table.even tr td, th{
    border:1px solid #ccc;
    padding:5px;
}
.table.even tr:nth-child(2n){
    background: #f1f1f1;
}
.table.even tr:nth-child(2n){
    background: #f1f1f1;
}

.table.even td:nth-child(odd) {
    background-color: #ffffff;
}

.table.even td:nth-child(even) {
    background-color: #f4f7fa;
}

.table.even td:nth-last-child(0) {
    background-color: #eea207;
}

.table th {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    background: #ddd;
    height: 24px;
}


.Text-Right, .text-right{
    text-align: right!important;
}

.Text-Left , .text-left{
    text-align: left!important;
}

.Text-Center , .text-center{
    text-align: center!important;
}

.text-justify{
    text-align: justify;
    line-height: 20px;
}
.fa {
    color: #fff;
}
.btn{
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #000000 !important;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: rgb(239, 239, 239);
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 2px 6px;
    border-width: 1px;
    border-style: outset;
    border-color: rgb(133, 133, 133);
    border-image: initial;
    text-decoration: none !important;
    border-radius: 3px;

}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius:0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: .25rem .5rem;
    font-size: .875rem;
    color: #fff!important;
}

.blue-bg {
    background: #214ED3;
}

.btn-print {
    background-color: #f4c22b;
    border-color: #f4c22b;
}

.btn-download {
    background-color: #0098ef;
    border-color: #0090e2;
}

.btn-download:hover {
    background-color: #0668a0!important;
    border-color: #0668a0!important;
}


.btn-back {
    background-color: #28a745;
    border-color: #29a345;
    margin-top: 8px;
    float: right;
}

.footer-msg{
    position: relative;
}
.footer-msg .footer-msg-inner{
    bottom: 0;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    font-size: 10px;
}
.header-block{
    margin-bottom: 20px;
}
.header-block p, .header-block ul li{
    line-height: 17px !important;
    /*font-size: 12px !important;*/
    letter-spacing: 0.3px !important;
}
.invoice-header{
    line-height: 17px;
}

.signature{
    padding: 15px; margin-bottom: 15px; text-align: center
}
.signature .signature-image{
    height: 60px;
}

.grid-comment-signature {
    width: 100%;
    display: grid;
    grid-gap: 0;
}
.grid-comment-signature {
    grid-template-columns: repeat(4, calc(100%/4));
}

.div-br-15{
    height: 15px;
}
.div-br-30{
    height: 30px;
}
.div-br-40{
    height: 40px;
}

.uneditable-input, textarea.m-wrap, input[type="text"].m-wrap, input[type="password"].m-wrap, input[type="datetime"].m-wrap, input[type="datetime-local"].m-wrap, input[type="date"].m-wrap, input[type="month"].m-wrap, input[type="time"].m-wrap, input[type="week"].m-wrap, input[type="number"].m-wrap, input[type="email"].m-wrap, input[type="url"].m-wrap, input[type="search"].m-wrap, input[type="tel"].m-wrap, input[type="color"].m-wrap {
    -webkit-appearance: none !important;
    color: #333333;
    outline: 0;
    height: 32px;
    padding: 6px 6px !important;
    line-height: 32px;
    font-size: 14px;
    font-weight: normal;
    vertical-align: top;
    background-image: none !important;
    filter: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #ffffff;
}
