#popup, #element_to_pop_up, .bMulti {

    background-color: #fff;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 96%;
    padding: 25px;
    left: 5px!important;
    height:80%!important;
    top: 75px!important;
}


.bpopup-button {
    background-color: #1c1c1c;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 3px 13px;
    text-align: center;
    text-decoration: none;
    line-height:25px!important;
}

.bpopup-button.b-close , .bpopup-button.bClose {
    box-shadow: none;
    line-height:25px;
    font: bold 131% sans-serif;
    position: absolute;
    right: 10px;
    top: 10px;

}

.button>span {
    font-size: 84%;
}

.module{
    height: 90%!important;
    overflow: scroll!important;
}
