@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

/* =============  Basic Settings modify Bootstarp ===============*/
a{
    color: #ffc400;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #555555;
}

.btn-info{

    background: #ffc400;
    color: #ffffff;
    border-color:#FFD033;
}
.btn-info:hover{
    background: #303030;
    color: #ffc400;
    border-color:#555555;
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover{
    border-color: #ffc400;
}

#toTop{
    background: #ffc400;
    border-color: #FFEE21;
}

#toTop:hover{
    background: #555555;
    border-color: #444444;
}

p{
    line-height: 1.66667em;
    font-size: 1.1em;
}

.btn, .btn-group-sm>.btn, .btn-sm{
   /* border-radius: 0!important;*/
}
.box .info-links{
    line-height: 30px;
}

.tooltip{
    z-index: 100!important;
}
.form-control, .form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fff;
    color: #000;
}

.btn{
    border-radius: 0!important;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #555555;
    box-shadow:none;
    outline: 0 none;
    border-radius: 0!important;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input{
    border-color: #dddddd;
    box-shadow:none;
    outline: 0 none;
    border-radius: 0!important;
}

#error{
    color:red;
    background-color: #f2dede;
    border: 1px solid transparent;
    border-color: #ebccd1;
    padding:5px;
    margin-bottom: 20px;
    display: inherit;
}
.help-block{
    margin-top: 0;
}

/*=================================== HEADER =====================================*/


.header-inner-menu{

}

#menu-bar {
    background-color: #ffc400;
    box-shadow: 0 2px 0 #ffc400;
}


#header-menu ul a { color: #ffffff; cursor: pointer!important;}
#header-menu ul li:hover { background-color: #ffc400; }
#header-menu ul li a:hover { background-color: #ffc400; }
#header-menu ul > li > ul{
   padding-top: 16px;
}
#header-menu ul > li > ul > li:first-child{
    border-top: 1px solid #ffc400;
}

#header-menu ul ul li:hover > ul {
    padding-top:0;
    border:none;
}
#header-menu ul ul li:hover > ul > li:first-child{
    border-top:none!important;
}

.input-group-field {
    display: table-cell;
    vertical-align: middle;
    border-radius: 4px;
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
    border-radius: 0 !important;
}

.input-group-field .form-control, .input-group-field .form-control {
    border-radius: inherit !important;
}

.input-group-field:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.input-group-field:not(:first-child):not(:last-child) .form-control {
    border-left-width: 0;
    border-right-width: 0;
}

.input-group-field:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

ul.dropdown-cart {
    min-width: 250px;
}

ul.dropdown-cart li .item {
    display: block;
    padding: 3px 10px;
    margin: 3px 0;
}

ul.dropdown-cart li .item:hover {
    background-color: #f3f3f3;
}

ul.dropdown-cart li .item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left {
    float: left;
}

ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info {
    float: left;
}

ul.dropdown-cart li .item-left span.item-info {
    margin-left: 10px;
}

ul.dropdown-cart li .item-left span.item-info span {
    display: block;
}

ul.dropdown-cart li .item-right {
    float: right;
}

ul.dropdown-cart li .item-right button {
    margin-top: 14px;
}

.search-box{
    border: 1px solid #ddd;
}
.search-box-bg{
    background-color: #ffc400;
    color: #ffffff;
}
.btn-group-search{
    height: 34px;
    margin-left: 0;
    width: 50px;
}

.btn-cart{

}
.input-group-lg{
    height: 46px;
    border: 0;
    border-left:1px solid #ddd;
}

.serarch-keyword{
    border:none!important;
    border-left:1px solid #ddd!important;
}


.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 34px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 0 !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}
/*=================================== END HEADER =====================================*/

/* ================================= MEGA MENU =======================================*/

.navbar {
    border-radius: 0;
    margin-bottom:0 !important;
    min-height:0!important;
}

#menu-bar {
    box-shadow: none;
}


#header{
    width: 100%;
    background: #222;
    text-align: left;
    z-index: 999;
    opacity:0.8;
}

.fixed-top{
    top:0!important;
    opacity: 1!important;
    transition: all 0.4s ease;
    position: fixed!important;
}

.sticky{
    transition: all 0.4s ease;
}

#header{
    position: relative;
}

.fixed-top .img-logo img{
    height:60px;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.navbar-inverse .navbar-nav>li>a {
    color: #FFFFff;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: #ffc400;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 5px;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #222222;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}

.container-margin{
    margin-bottom: 30px;
}


.carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;

}

.carousel-main-control{
    color: #ffc400;
}
.carousel-main-control.carousel-left {
    left: 6% !important;
    text-decoration: none!important;
}

.carousel-main-control.carousel-right{
    right: 6% !important;
    text-decoration: none!important;
}

.left.carousel-control {
    right: 30px;
    left: inherit;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
    border-radius:0;
}

.carousel-caption {
    right: 0;
    bottom: 0%;
    z-index: 10;
    padding: 20px;
    color: #fff;
    max-width:40%;
}

.caption-left {
    left: 0;
    text-align: left;
}

.caption-center {
    left: 30%;
    text-align: center;
}

.caption-right {
    left: 60%;
    text-align: right;
}


.carousel-caption h4{
    font-weight:bolder;
}
.carousel-caption span{
    font-size: 12px;
    display: inline-block;
    padding-bottom: 10px;
}

.carousel-indicators {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 94%;
    z-index: 15;
    margin: 0;
    padding: 0 5px 15px 0;
    text-align: right;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    font-size: 12px;
    background-color: #fff;
    line-height: 30px;
    text-shadow: none;
    color: #333;
    border: 1px solid #ddd;
}

/*======================== Slider Feature ======================================*/

.feature-carousel .owl-buttons div , .page-carousel .owl-buttons div{
    background: #ffc400;
}
.owl-theme .owl-controls .owl-buttons div{
    background: #ffc400;
}
.owl-theme .owl-controls .owl-buttons div:hover{
    background: #555555;
}
.owl-theme .owl-controls .owl-buttons div a{
    color: #FFFFff;
}

.tabCarousel .nav
{
    background: #eee;
}

.slider-feature-thumbnail {
    border: 2px solid red !important;
}

.carousel-img{
    max-height:800px;
    height: 800px;
    width:100%
}
.carousel-tab-img{
    height: 359px;
    max-height:359px;
    width: 100%
}

#topTabCarousel .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color:#ffffff;
    color:#222222!important;
}

#topTabCarousel .tab-nav li.active:after {
    border-bottom: 10px solid  #ffffff;
}

#bottomTabCarousel .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color:#ffffff;
    color:#222222!important;
}

#bottomTabCarousel .tab-nav li.active:after {
    border-bottom: 10px solid #ffffff;
}


.navbar-mega-menu {
    margin-bottom: 0;
    border: none;
}

.header-carousel-left , .header-carousel-right{
    top:53%;
}
.header-carousel-left{
    float: left;
    left:-2%;
}
.header-carousel-right{
    float: right;
    left:90.2%;
}
.menu-carousel-inner{
    min-height:100% !important;
    margin-top:10px;
}
.menu-slider h4 small{
    font-size: 12px;
    text-transform: capitalize;
}
.menu-slider-button{
    width: 100%;
    display: inline-block;
}

/* ================================= MEGA MENU ===========================*/

.list-group-horizontal .list-group-item:first-child, .list-group-horizontal .list-group-item:last-child{
    border-radius: 0!important;
}

.list-group-item{
    border:0 !important;
}

.breadcrumb{
    border-radius: 0;
}


/* ================================ Footer Menu==================================*/

.footer-menu a{
    color: #FFFFff;
}
.footer-menu a:hover{
    color: #ffc400;
}

.social-payment .input-group .form-control:hover ,.bs-example-form .input-group .form-control:hover , .social-payment .input-group .form-control:active, .social-payment .input-group .form-control:focus , .bs-example-form .input-group .form-control:focus {
    background-color: #ffffee;
    color: #0b0e23;
}


/* ================================ Menu Search ==================================*/

.search-form .form-group {
    background-color: #fff;
    border: 1px solid #ccc;
}

.search-form .form-group input.form-control {
    border: 1px solid #ffc400;
}
.search-form .form-group:hover{
    width: 100%;
    z-index: 9999;
}
.search-form .form-group span.form-control-feedback {
    color: #ffc400;
}

/* ================================ Page Title ==================================*/


.header-line-center .header-line-border:before{
    background: #ffc400;
}
.header-line-center .header-line-border:after{
    background: #ffc400;
}

.header-line-center .header-line-border{
    border: 2px solid #ffc400;
    color: #555555;
}

.page-title:after {
    background-color:#ffc400;
}
.page-title:before {
    background-color:#222;
}

.bottom-line:after {
    background-color:#222222;
}
.bottom-line:before {
    background-color:#eeeeee;
}

.bottom-line:after {
    background-color:#222222;
}
.section-header::before {
    background-color: #555555;
}
.section-header::after {
    background-color: #ffc400;
}




/* list */
.rounded-list{
    width: 100%;
    margin-top: 15px;
}
.rounded-list ol
{
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}


/* item  */
.rounded-list ol > li
{
    position:relative; /* Create a positioning context */
    list-style:none; /* Disable the normal item numbering */
    background:#f6f6f6; /* Item background color */
    margin:0; /* Give each list item a left margin to make room for the numbers */
    padding-left: 10px; /* Add some spacing around the content */
    padding-bottom:0;
    padding-top:0;
    margin-left: 25px;
}


.rounded-list ol > li:first-child{
    margin-top: 5px;
}

/* number  */
.rounded-list ol > li p:before
{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -25px;
    top: 50%;

    /* number background */
    background: #222;
    height: 2em;
    width: 2em;
    margin-top: -1em;
    line-height: 1.3em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    color: #ffffff;
}

.widget-feature-center {

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    float: left;

}

.slider-left{
    position: relative;
    margin-right: -15px;
    margin-left: 15px;
}
.slider-right{
    position: relative;
    margin-left: -15px;
}

.ui-slider-tabs-list li.selected a:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ccc;
    border-width: 12px;
    margin-left: -14px;
}


/* ======================================= End Slider Feature ========================================*/


.order-widget{
    background-color: rgb(22, 22, 22); height: 70px;
}
.order-widget-block{
    padding: 10px;border: 1px solid #000;color: #fff;font-size: 20px;
}
.shop-now{
    margin-top: 7px;
    border: 3px solid #fff;
    border-radius: 15px;
    background: #000;
}

.card-grid {
    box-sizing: border-box;
    max-height: 100%;
    display:flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.card-grid:after {
    content: "";
    flex: 1 1 100%;
    max-width: 100%;
}

.card {
    flex: 1 1 100%;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    max-width: 100%;
    margin-top: 20px;
    background: white;
    color: black;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    will-change: box-shadow;
    display: block;
    position: relative;
    padding: 5px;
}

.product-preview .team-content {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding:0 !important;
    background: rgba(255,255,255,0.8);
    transition: all 0.50s ease-in-out;
    color: #0b0e23;
}
.product-preview .view-link {
    padding: 0;
    margin: 0;
    position: relative;
    top: 80%;
}
.product-preview .view-link li {
    list-style: none;
    margin-right:0;
    display: inline-block;
    width: 100%;
    height: 40px;
}
.product-preview .view-link li a {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    color: #0b0e23;
}
.product-preview .view-link li a:hover {
    background: #002842;
    text-decoration: none;
    color: #FFFFFF;
    height: 40px!important;
}

/*==================================== Feature Widget CSS=======================================*/

.feature-widget-top-header{
    background-color: #1B1B1B;
}
.feature-widget-footer{
    background-color: #1B1B1B;
}

.feature-widget-body-top{
    background-color: #1B1B1B;
}
.feature-widget-body-bottom{
    background-color: #1B1B1B;
}
.feature-widget-sidebar-top{
    background-color: #1B1B1B;
}
.feature-widget-sidebar-bottom{
    background-color: #1B1B1B;
}

/*=====================================  Slider Widget ============================*/
.sidebar-top , .sidebar-footer{
    background-color: #ffc400;
}
.sidebar-footer{
    display: table;
}
.div-vertical-center{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.product-title {
    line-height: 16px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    height: 25px;
}

.paginate-footer {
    margin-top: 0 !important;
    margin-bottom:0 !important;
    padding-top: 5px;
    border-top: 1px solid #ffc400;
}

.pagination{
    margin:0!important
}

.pagination>li:first-child>a, .pagination>li:first-child>span , .pagination>li:last-child>a, .pagination>li:last-child>span{
    border-radius: 0!important;
}

.paginate{
    background: #ffc400;
}
.input-selector{
    height: 33px !important;
}

.pagination>li>a, .pagination>li>span {
    color: #d58512;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
    background-color: #ffc400;
    border-color: #d58512;
    color: #ffffff;
}


.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #ffc400;
    border-color: #d58512;
}


.panel{
    border-radius: 0;
}
div.panel:first-child {
    margin-top:0;
    border-top:0;
}
.panel-heading{
    border-top: 1px solid transparent;
    border-radius: 0;
}


div.treeview, .treeview ul {
    margin:0;
    padding:0;
    list-style:none;
    color: #ffc400;
}

.treeview ul {
    margin-left:5px!important;
    position:relative;
    width: 250px;
}
.treeview ul ul {
    margin-left:.5em
}
.treeview ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    left:0;
    border-left:1px solid;
    bottom:15px;
}
.treeview li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    position:relative
}
.treeview ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree-indicator {
    margin-right:5px;
    color: #ffc400!important;
    cursor:pointer;
}
.treeview li a {
    text-decoration: none;
    color:#222222;
    cursor:pointer;
}
.treeview li a:hover{
    color: #ffc400!important;
}
.treeview li button, .treeview li button:active, .treeview li button:focus {
    text-decoration: none;
    color:inherit;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

.scrollbar
{
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 25px;
    overflow-x: hidden;
}
.scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
    background-color: #f48024;
    border: 1px solid #C66812;
}

.rectangle-list{
    margin-left: 35px;
}
/* list */
.rectangle-list ol
{
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}

/* item  */
.rectangle-list ol > li
{
    position: relative;
    list-style:none; /* Disable the normal item numbering */
}

/* item hover */
.rectangle-list a
{
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    margin-bottom: 5px;
}

/* item hover */
.rectangle-list a:hover
{
    background: #ffc400;
    color: #ffffff;
}

/* number  */
.rectangle-list a:before
{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #ffc400;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: normal;
    color: #ffffff;
}

/* number hover */
.rectangle-list a:after
{
    position: absolute;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    content: '';
    border: .5em solid transparent;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.rectangle-list a:hover:after
{
    left: -.5em;
    border-left-color: #ffc400;
    color: #ffffff;
}
.slider.slider-horizontal{
    width: 230px !important;
}
.slider-handle{
    background-color: #ffc400 !important;
    background-image: -o-linear-gradient(top, #ffc400 0%, #ffc400 100%) !important;
    background-image: -webkit-linear-gradient(top, #ffc400 0%, #ffc400 100%);
    background-image: linear-gradient(to bottom, #ffc400 100%, #ffc400 100%);
}

.page-content{
    line-height: 25px;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 30px;

}

#footer {
    width: 100%;
    font-size: 12px;
    background-color: #1E1E1E;
    display: block;
    color: #f7f7f7;
}
.myfooter {
    color: #9d9d9d;
    padding: 10px 0px;
}
#toTop {
    position: fixed;
    bottom: 38px;
    right: 10px;
    cursor: pointer;
    display: none;
}

.image, .rev-slidebg {
    transform: scale(1,1);
    transition:transform 8s ease-out 0s;
}
.image:hover ,.rev-slidebg:hover {
    transform: scale(1.2,1.2);
    transition:transform 10s linear 0s;
}

/* list */
.rectangle-list ol
{
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}

/* item  */
.rectangle-list ol > li
{
    position: relative;
    list-style:none; /* Disable the normal item numbering */
}

/* item hover */
.rectangle-list p
{
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

/* item hover */
.rectangle-list p:hover
{
    background: #fa8072;
}

/* number  */
.rectangle-list p:before
{
    content: counter(li);
    counter-increment: li;

    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;

    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

/* number hover */
.rectangle-list p:after
{
    position: absolute;
    left: -1em;
    top: 50%;
    margin-top: -.5em;

    content: '';
    border: .5em solid transparent;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.rectangle-list p:hover:after
{
    left: -.5em;
    border-left-color: #fa8072;
}

/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: auto;
}


.slide_title {
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 47px;
}

/*Revolution Slider*/
.slide_subtitle {
    background-color: #0da3e2;
}

.tp-leftarrow.default:hover,
.tp-rightarrow.default:hover {
    background-color: #0da3e2 !important;
}

.img-responsive-feature{

    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    transform: scale(1,1);
    transition:transform 7s linear 0s;
}
.img-responsive-feature:hover{

    filter: none;
    -webkit-filter: grayscale(0);
    transform: scale(1.2,1.2);
    transition:transform 10s linear 0s;
    cursor:pointer;

}


.img-responsive-preview {

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    opacity: 0.8;
    z-index: 9;
    color: #ffffff;
    background-color: #0b0e23;
    float: left;
    font-size:20px;
}

.img-responsive-preview-top-left {
    top: 5%;
    left: 23%;
}
.img-responsive-preview-top-center {
    top: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.img-responsive-preview-top-right {
    top: 20%;
    left: 95%;
    margin-right: -100%;
    transform: translate(-100%, -100%);

}
.img-responsive-preview-bottom-left {
    top: 95%;
    left: 23%;
}
.img-responsive-preview-bottom-center {
    top: 95%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.img-responsive-preview-bottom-right {
    top: 95%;
    left: 95%;
    margin-right: -100%;
    transform: translate(-100%, -100%);

}

.caption .brand{
    height: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.caption .brand a{
    color: #f4493e;
}

.caption .product-name a{
    color: #EEF1F4;
}

.caption .product-name a:hover{
    color: #f39426;
}

.deliveryBox{
    padding:5px 0 ;
}
.deliveryBox .delivery-icon{
    background:#58B25E;
    height: 50px;
    width: 50px;
    border-radius:50%;
    text-align: center;
    float: left;
}
.deliveryBox .delivery-icon.red{
    background:#F35958;
}
.deliveryBox .delivery-icon.blue{
    background:#02A2DD;
}
.deliveryBox .delivery-icon.purple{
    background:#9F84C4;
}
.deliveryBox .delivery-icon.darkCyan{
    background:#008B8B;
}
.deliveryBox .delivery-icon.strongcyan{
    background:#1ABC9C;
}
.deliveryBox .delivery-icon i{
    font-size:20px;
    color: #fff;
    line-height: 50px;
}
.deliveryBox .delivery-content {
    margin-left: 65px;
}
.deliveryBox .delivery-content h3{
    color: hsl(0, 0%, 20%);
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
}
.deliveryBox .delivery-content p{
    color:hsl(0, 0%, 47%);
    line-height: 1.6em;
}
.deliveryBox .read{
    color: #61D3E2;
    text-decoration: none;
}
.deliveryBox .read i{
    font-size: 16px;
    margin-left: 10px;
}

/* ================= Comment override ==========================*/


.fos_comment_comment_metas{
    background-color: #222222 !important;
}
.fos_comment_submit input[type="submit"], .fos_comment_comment_reply_show_form{
    background-color: #222222 !important;
}

/*============================= Product Details carousel =========================================*/

.carousel-inner {
    position: relative;
    width: 100%;
    min-height: 300px;
}

#carousel-custom .custom-carousel-control {
    position: absolute;
    top:48%;
}

#carousel-custom .custom-carousel-control.right {
    right: 0;
    left: auto;
    background-image: none !important;
    background-repeat: repeat-x;
}
#carousel-custom .custom-carousel-control.left {
    left: 0;
    right: auto;
    background-image: none !important;
    background-repeat: repeat-x;
}

#carousel-custom {
    margin: 20px auto;
    width: 400px;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    overflow:hidden;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: 75px;
    border: 1px solid #F8F8F8;
    text-align: center;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}
.carousel-indicators li img {
    height: 70px;
    width: 70px;
}

/*================== Product Details ====================================*/


/* ==================================== MODULE OVERRIDE ======================================= */

.pageFeature {
    border:1px solid #ffc400;
}
.pageFeature:hover .pageFeature-icon{
    background:#ffc400;
    color:#fff;
}
.pageFeature-image{
    background:#fff;
    color:#ffc400;
}
.pageFeature .pageFeature-image > a > img{
    border: 3px solid #ffc400;
}

.pageFeature h3 {
    color:#555;
}
.pageFeature h3:before{
    background:#ffc400;
}
.pageFeature h3:after{
    background:#ffc400;
}
.pageFeature:hover .pageFeature-image > a > img{
    border: 3px solid #555;
}

.sidebar-serviceBox{
    border: 1px solid #ededed;
}
.sidebar-serviceBox:hover{
    border-color: #ffc400;
}
.sidebar-serviceBox:before,
.sidebar-serviceBox:after{
    background: #ffc400;
}
.sidebar-serviceBox .service-icon{
    color: #ffc400;
}
.sidebar-serviceBox:hover .service-icon{
    opacity: 1;
}
.sidebar-serviceBox .title{
    color: #222;
}
.sidebar-serviceBox .description{
    color: #666;
}

.client-sidebar .social-links li a{
    color: #ffffff;
    background: #ffc400;
}
.client-sidebar .social-links li a:hover {
    text-decoration: none;
}
.client-sidebar .social-links li .fa-link:hover{
    color: #ffffff;
}
.client-sidebar .over-layer{
    background: #ffc400;
}

.pricingTable.black, .pricingTable.black .pricingTable-header > span {
    background: #555;
    border-color: #ededed;
}

.our-portfolio .team-prof a:hover{
    color:#ffc400;
}
.our-portfolio .team-prof small{
    color:#ffc400;
}

.our-portfolio .social-link li a{
    color:#fff;
    background:#555;
}

.our-portfolio .social-link li a:hover{
    background:#ffc400;
}

.our-team .social-links li a{
    background: #ffc400;
    cursor: pointer;
}
.our-team .over-layer{
    background:#555;
    opacity: 0.8;
}

.our-team .over-layer:before{
    border-top: 5px solid #ffc400;
    border-left: 5px solid #ffc400;
}
.our-team .post:after {
    background: #555555;
}
.our-team .team-content {
    background: #ffc400;
}
.our-team .team-title {
    color: #fff;
}
.our-team .post {
    color: #000;
}

.testimonial-list .pic:before{
    border-bottom: 3px solid #ffc400;
    border-left: 3px solid #ffc400;
}
.testimonial-list .pic:after{
    border-top: 3px solid #ffc400;
    border-right: 3px solid #ffc400;
}
.testimonial-list .testimonial-list-title{
    color: #ffc400;
}

.box-sidebar-portfolio .social-links li a{
    color: #ffffff;
    background: #ffc400;
}
.box-sidebar-portfolio .social-links li a:hover {
    text-decoration: none;
}
.box-sidebar-portfolio .social-links li .fa-link:hover{
    color:#fff;
    background: #555555;
}

.notice-slide .post-content {
    background: #fff;
    border: 1px solid #f0f4f7;
}
.notice-slide .post-date {
    background: #555555;
}
.notice-slide .month{
    color: #fff;
    background: #ffc400;;
}
.notice-slide .date{
    color: #fff;
}

.notice-slide .post-title a:hover{
    color:#333;
}
.notice-slide .post-description{
    color: #999;
}
.notice-slide .post-bar{
    background: #ffc400;
}

.notice-slide .post-bar li a{
    color: #fff;
}
.notice-slide .post-bar li a:hover{
    color:#333;
}
.notice-slide .post-bar li i{
    color:#fff;
}

#accordion .panel-title a{
    color: #FFFFff;
    background: #ffc400;
    text-decoration: none;
}
#accordion .panel-title a.collapsed{
    color: #ffffff!important;
    background: #555555;
    border-bottom: 1px solid #ffc400;
}
#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after{
    background: #555555;
}
#accordion .panel-title a.collapsed:after{
    background: #ffc400;
}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
    background: #FBFBFB;
    color: #ffc400;

}
#accordion .panel-title a.collapsed:before{
    color: #FBFBFB;
    background: #ffc400;
}
#accordion .panel-body{
    background: #FBFBFB;
    color:  #000;
}
#accordion .panel-body:after{
    background: #FBFBFB;
}

.post-comment simple{
    color: #0b0e23;
}
.event-sidebar{
    border: 1px solid #d3d3d3;
}
.event-sidebar .overlay{
    background: rgba(0, 0, 0, 0.6);
}
.event-sidebar .overlay > i{
    color:#ffc400;
}

.event-sidebar .post-review{
    background: #fff;
}

.event-sidebar .post-comment li{
    color:darkgray;
}

.event-sidebar:hover .post-comment li{
    color:#ffc400;
}
.event-sidebar .post-comment li a,
.event-sidebar:hover .post-comment li small{
    color:darkgray;
}
.event-sidebar .post-comment li:after{
    border-bottom:1px solid lightgray;
}
.event-sidebar .post-title > a{
    color: #ffc400;
}
.event-sidebar .post-title > a:hover{
    color:#555555;
}
.event-sidebar .post-description{
    color:gray;
}
.sidebar-blog .post-link li a{
    color:#fff;
    background:#ffc400;
}

address{
    text-align: left;
}

