.commentform p{
    position: relative;
}
#checking {
    position: relative;
    display: block;
    float: right;
    top: -30px;
    width: 16px;
    right: 25px;
    color: red;
}
.loadingImg {
    background-position: right center;
    position: absolute;
    top: 0;
    left: 15px;
    display: block;
}