{% extends ':bindu/mobile:base.html.twig' %}
{% block body %}
    <div class="bannerPane bannerPane-business-locaton">
        <div class="overlay"></div>
        <div class="s-banner-content">
            <div><img width="100" src="{{ asset('assets/frontend/img/logo.png') }}" /></div>
            {{ entity.name }}
        </div>
    </div>
    <div id="content">
        {{ entity.content }}
        <div class="clear"></div>
    </div>
{% endblock %}