{% extends ':template:base.html.twig' %}
{% block body %}
<div class="bannerPane bannerPane-webbuilder"  {% if details.webPath() is defined and details.webPath() is not empty %} style="background-repeat:no-repeat!important; background-position:center center!important;background:url('{{ image(details.webPath()).resize() }}')" {% endif %} >
    <div class="overlay"></div>
    <div class="s-banner-content">
        <div><img width="100" src="{{ image(globalOption.templateCustomize.webPath('logo')).resize() }}" /></div>
       Dashboard
    </div>
</div>
<div id="content" class="content-margin">
Well come dashboard
</div>
{% endblock %}

