{% extends ':mobile:base.html.twig' %}
{% block documentready %}
     var width = ( $(window).width());
     var height = ( $(window).height()-90);
     $('iframe').attr('width',width);
     $('iframe').attr('height',height);
{% endblock %}
{% block body %}
    <div class="content" style="margin-top:40px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14606.826205939857!2d90.35883561641566!3d23.75784164620104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755bf5125907689%3A0xb55fb5b3c082f1b2!2sLalmatia+Mohila+College!5e0!3m2!1sen!2sbd!4v1450783065460" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
{% endblock %}
