<!--tm-page-body-->
<div id="tm-page-footer">
    <div class="tm-sidebar-footer">
        <div class="tm-wrap">
            <div class="tm-sidebar-footer-inner">
                <div class="tm-column tm3">
                    <aside class="widget widget_text">
                        <div class="textwidget" style="text-align:justify">
                            <img alt="img" src="{{ asset('assets/poskeeper/logo.png') }}" width="139" height="24">
                            {% render controller("FrontendBundle:Widget:aboutFooter") %}
                        </div>
                    </aside>
                </div>


                <div class="tm-column tm3">
                    <aside class="widget tm-list-style1">
                        <h3 class="tm-title">About Us</h3>
                        <ul>
                           {# {% render controller("FrontendBundle:Widget:footerMenu",{'sector':'portal','parent':'about-us'}) %}#}
                        </ul>

                    </aside>
                </div>
                <div class="tm-column tm3">
                    <aside class="widget tm-list-style1">
                        <h3 class="tm-title">Business Promotion</h3>
                        <ul>
                            {% render controller("FrontendBundle:Widget:footerMenu",{'sector':'portal','parent':'promotion'}) %}
                        </ul>

                    </aside>
                </div>
                <div class="tm-column tm3">
                    <aside class="widget widget_tag_cloud">
                        <h3 class="tm-title">Contact Us</h3>
                        <div>
                            <address class="margin-bottom-40">
                               29 Gausul Azam Avenue<br>
                                Sector-14, Uttara,Dhaka-1230<br>
                                Bangladesh<br>
                                Phone: +88 01828 148 148<br>
                                Email: <a href="mailto:info@poskeeper.com">info@poskeeper.com</a><br>
                                Facebook: <a href="https://facebook.com/terminalbd">terminalbd</a>

                            </address>
                        </div>
                    </aside>
                </div>

            </div>
        </div>
    </div>
</div>
<!--tm-page-page-footer-->
<footer>
    <div class="tm-wrap tm-table">
        <div class="copyright">
            <p>© Copyright - www.poskeeper.com</p>
        </div>
        <div class="tm-social-icons">
            <a class="tm-icon-facebook" href="#">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="tm-icon-twitter" href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="tm-icon-dribbble" href="#">
                <i class="fa fa-dribbble"></i>
            </a>
        </div>
    </div>
</footer>
<!-- Go to top -->
<a href="#" id="tm-gotop">
    <i class="fa fa-hand-o-up"></i>
</a>
