<header>
    <style>
        .sub-menu ul li{

        }
        .sub-menu ul li a{
            font-size: 12px;
            text-transform: capitalize;
            font-weight: normal;
            padding: 0;

        }
        header #tm-header-nav nav.tm-nav ul.tm-menu > li > ul.sub-menu li{
            padding: 0px!important;
            padding-left: 0!important;
            padding-bottom: 0!important;
            padding-right: 0!important;
            width: 100%!important;

        }
        header #tm-header-nav nav.tm-nav ul.tm-menu > li > ul.sub-menu li a {
            font-size: 12px;
            text-transform: capitalize;
            font-weight: normal;
            padding: 0;
        }
        header #tm-header-nav nav.tm-nav ul.tm-menu > li > ul.sub-menu li a {
            color: #000000;
            padding: 15px!important;
            display: block;
            padding-bottom: 10px!important;
            padding-top: 10px!important;
        }

    </style>

    <div id="tm-header-top">
        <div class="tm-wrap tm-table">
            <div class="one-half">
                <div class="tm-logo">
                    <a href="/" class="tm-logo-simple" style="margin-top: 30px">
                        <img alt="Logo" width="230"  src="{{ asset('assets/poskeeper/logo.png') }}">
                    </a>
                    <a href="/" class="tm-logo-retina">
                        <img alt="Logo" width="230"  src="{{ asset('assets/poskeeper/logo.png') }}">
                    </a>
                </div>
            </div>
            <div  style="text-align: right; height: 100px;">
                <div style="line-height:80px;font-weight: bold;font-size: 16px;"> <i class="fa  fa-mobile"></i> <a href="tel:+088 01828148148"> +088 01828148148</a> <i class="fa  fa-envelope-o"></i> <a href="mailto:info@poskeeper.com"> sales@poskeeper.com</a> </div>
              {#  {% render controller("BinduBundle:Widget:login") %}#}
                <div class="clearfix"></div>
            </div>
        </div>
        <!--tm-wrap-->
    </div>
    <!--tm-header-top-->
    <div id="tm-header-nav" class="tm-menu-style1 tm-sticky-menu">
        <div class="tm-wrap tm-table">
            {% render controller("BinduBundle:Widget:headerMenu") %}
        </div>
    </div>
    <!--tm-header-nav-->
   {# <div id="tm-page-title" style="padding:1px; background:#e6e6e6; display: block!important">
        <div class="tm-wrap tm-table">
            {% render controller("BinduBundle:Widget:search") %}
        </div>
    </div>#}
</header>

