{% extends "base.html.twig" %}

{% block title %}{{ parent() }} : User Group{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="/">Home</a>
            <i class="icon-angle-right"></i>
            <span>Configuration</span>
            <i class="icon-angle-right"></i>
            <span>Groups</span>
        </li>
    </ul>
{% endblock %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('success-status') %}
        <div class="alert alert-success">
            <button class="close" data-dismiss="alert"></button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% include "UserBundle:Group:list_content.html.twig" %}

{% endblock body %}
