{% extends ':bindu/mobile:base.html.twig' %}
{% block body %}
    <script>
        var divWidth = ($('.bannerPane').width());
        $('#map').width(divWidth);
        $('iframe').width(divWidth);

    </script>
    <div class="bannerPane" style="height: 450px">
        <div id="map" style="height:300px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14594.287840388863!2d90.3893963!3d23.8693288!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6a16dae10800a953!2sPUL%20Tower!5e0!3m2!1sen!2sbd!4v1619191736524!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
    <div id="content">
        <br />
        <h3 class="title"><i class="fa fa-home"></i>&nbsp;<strong>Address</strong></h3>
        <p>
            29 Gausul Azam Avenue<br/>
            Sector-14, Uttara,Dhaka-1230<br/>
            Bangladesh
        </p>
        <br />
        <h3 class="title"><i class="fa fa-umbrella"></i>&nbsp;<strong>Contact Information</strong></h3>
        <p>
            <i class="fa fa-user"></i>&nbsp;Md Shafiqul Islam<br />
            <i class="fa fa-phone"></i>&nbsp;+88 01828 148 148<br />
            <i class="fa fa-envelope"></i>&nbsp;<a href="mailto:info@terminalbd.com"> info@terminalbd.com</a><br />
        </p>
    </div>

{% endblock %}