{% extends ':bindu/mobile:base.html.twig' %}
{% block body %}
    <div class="bannerPane bannerPane-business-locaton">
        <div class="overlay"></div>
        <div class="s-banner-content">
            <div><img width="100" src="{{ asset('assets/frontend/img/logo.png') }}" /></div>
            <div class="page-title"> Business Location Available</div>
        </div>
    </div>
    <div id="content">
        <div id="directory">
            {% render controller("BinduBundle:Widget:location") %}
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}