{% extends ':bindu/mobile:base.html.twig' %}
{% block body %}
    <div id="content">
        <form id="signupForm" class="signupForm sendSMS">
            <div style="position: relative">
                <h2 id="modal1Title">Sending SMS</h2>
                <div id="modal1Desc">
                    <p>
                        <span class="fa-icon"><i class="fa  fa-user"></i></span>
                        <input type="text" required="required" name="name" id="name" placeholder="Enter your name">
                    </p>
                    <p><span class="fa-icon"><i class="fa  fa-mobile"></i></span>
                        <input type="text" required="required" class="mobile" name="mobile" id="mobile" placeholder="Enter your mobile no ">
                    </p>
                    <p>
                        <textarea  required="required" name="content"  id="" class="message" placeholder="Message..."></textarea>
                    </p>
                    <input type="hidden" name="globalOption" id="globalOption" value="1"  >
                </div>
            </div>
            <button data-remodal-action="cancel" class="remodal-cancel tm-btn red small">Cancel</button>
            <button type="submit"  class="tm-btn dark small">Send</button>
            <br>
        </form>
    </div>
        <!-- <a href="#" class="home-footer">
            About us
        </a> -->
    </div>
{% endblock %}