{% extends ':bindu/mobile:base.html.twig' %}
{% block body %}
    <div class="bannerPane bannerPane-business-locaton">
        <div class="overlay"></div>
        <div class="s-banner-content">
            <div><img width="100" src="{{ asset('assets/frontend/img/logo.png') }}" /></div>
            Our Product & Service
        </div>
    </div>
    <div id="content">
    <div class="tm-accordion tm-style4">
        <div class="accordion-title">
            <h3><a href="javascript:"  ><i class="fa fa-external-link-square"></i>&nbsp;General Module</a></h3>
        </div>
        <div class="accordion-container">
            {% render controller("BinduBundle:Widget:module") %}
            <div class="brclear"></div>
        </div>
        <div class="accordion-title">
            <h3><a href="javascript:"  ><i class="fa fa-external-link-square"></i>&nbsp;Business Module</a></h3>
        </div>
        <div class="accordion-container">
            {% render controller("BinduBundle:Widget:syndicateModule") %}
            <div class="brclear"></div>
        </div>
        <div class="accordion-title">
            <h3><a href="javascript:"  ><i class="fa fa-external-link-square"></i>&nbsp;Software Module</a></h3>
        </div>
        <div class="accordion-container">
            {% render controller("BinduBundle:Widget:appModule") %}
            <div class="brclear"></div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}