{% for entity in entities %}
    <div class="tm-row">
        <div class="header-line-right">
            <h3 class="tm-title">{{ entity.name }}</h3>
        </div>
        <p>
            {{ entity.description|raw }}</p>
        <br>
    </div>
{% endfor %}
