.btn-ajax-loading {
    position:inherit;
}
.big {
    font-size: 16px!important;
}
.tabbable-custom .nav-tabs > li{
    height: 34px!important;
}

.dropdown-menu .divider{
    margin: 0;
}
#showPayment{
    display: none;
}
.particular-info{
    background: #ddd;
    padding: 10px;
    padding-left:0;
    padding-right: 4px;
}

div.checker {
    border: 3px solid red;
    margin-top: -4px;
}

.btn-show{
    display: block!important;
}

.table-striped tbody>tr.min:nth-child(odd)>td, .table-striped tbody>tr.min:nth-child(odd)>th{
    background-color: yellow;
}

input.m-wrap.input-error , select.m-wrap.input-error{
    border: 1px solid red !important;
}

.input-error{
    border: 1px solid red !important;
}

.controls ul li , .control-group ul li {
    list-style: none;
    color: #f0262f;
    padding-left: 6px;
    line-height: 24px;
}

#particular-table .table-fixed {
    width: 100%;
}

#particular-table  thead tr th{
    background-color: #a48334;
    border-color:#dbb233;
}
.referred-add{
    display: none;
}

.referred-add{
    display: none;
}
.select2Item{
    border: 5px solid #4b8df8
}
.sales-right{
    padding-right: 10px;
    float: right;
    text-align: right;
    width: 140px;
}
.sales-right input[class*="span"].m-wrap{
    font-weight: bold;
    margin-top: -1px;
    text-align: right;
    border: 2px solid #4b8df8!important;
    height: 23px!important;
}
.select2-search{
    padding-left: 0;
    padding-right: 0;
}
.select2-search input{
    border: 1px solid #35aa47!important;
}

.discount-type{
    margin-left: 8px!important;
    height: 20px!important;
    border: 2px solid red !important;
}

.patient-info{

}
.form-horizontal .patient-info .control-group{
    margin-bottom: 0!important;
}
.form-horizontal .patient-info .control-label{
    float: left;
    text-align: left;
    background: #e6e0e0;
    color: #000;
    margin:0!important;
    width: 100%;
    font-size: 14px;
    border: 1px solid #888888;
}

.referred-info{
    border: 1px solid #D7EAE5;
}
.form-horizontal .referred-info .control-group{
    margin-bottom: 0!important;
}
.form-horizontal .referred-info .control-label{
    float: left;
    text-align: left;
    background: #F1F9F7;
    color: #000;
    line-height:20px;
    height: 25px;
    margin:0!important;
    width: 100%;
    font-size: 14px;
}
.form-horizontal .payment-info .control-group{
    margin-bottom: 0!important;
    border-bottom: 1px solid #2e2e2e;
}
.form-horizontal .payment-info .control-label{
    float: left;
    text-align: left;
    background: #f9f9f9;
    color: #000;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    margin:0!important;
    width: 100%;
    font-size: 14px;
}

.form-horizontal .payment-info .control-label .label {
    padding-left: 8px!important;
    background: none;
    font-weight: bold;
    color: #000;
    font-size: 14px;
}

.form-horizontal .patient-info .control-label span ,  .form-horizontal .referred-info .control-label span {
    padding-left: 8px;
}

.form-horizontal .controls{
    margin-left: 0;
}

input[class*="span"].m-wrap  {
    height: 34px!important;
    background: #ffffff;
}

.select-custom{
    height: 33px!important;
}

.payment-info{
    border: 1px solid #222;
}

.select2-container .select2-choice {
    height: 30px!important;
}
.grandTotal{
    font-weight: bold;
    font-size:15px;
}


.label-custom{
    background: transparent;
    padding: 0;
    width: 180px;
    display: inline-block;
    text-align: right;
    padding-right: 15px;
}

.yellow-alert td{
    background-color: yellow!important;
}

.tooltip-inner{
    background-color: #d12610;
}
.tooltip.top .tooltip-arrow{
    color: #d12610 !important;
}
.close{
    background-image: none!important;
}
.dialogModal .dialogModal_top .dialogModal_header{
    width: 100%!important;
}
.dialogModal .dialogModal_body{
    width: 100%!important;
}
.dialogModal .dialogModal_content{

}
.dialogModal_content .mini{
    height: 20px!important;
}

.check-list label{
    width: 97%;
}
.feeds .col1 .cont .cont-col2 .desc{
    margin-left: 10px;
}
.portlet.box .form .form-actions, .portlet.solid .form .form-actions {
    margin-top: -9px !important;
}
.row-fluid label{
    line-height: 30px!important;
}

input[class*="span"].wrap-custom{
    height: 30px!important;
}

li.active > a {
    color: #d12610 !important;
}
.tabs-right.tabbable-custom .nav-tabs > li a, .tabs-left.tabbable-custom .nav-tabs > li a {
    padding: 8px 10px;
    font-weight: bold;
}

.select2-container-multi .select2-choices {
    min-height: 30px;
}
.select2-container-multi .select2-choices .select2-search-choice div {
    color: #000!important;
    text-align: center;
}
.form-control-select{
    width: 100%;
    overflow-y:scroll;
}
#project-label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
}
#project-icon {
    float: left;
    height: 32px;
    width: 32px;
}
#project-description {
    margin: 0;
    padding: 0;
}


.checkbox-custom.focus{
    border:red 1px solid ;
}
.preview-print{
    float: right;
}

/* TAB & PRODUCT */
.tabbable-custom .nav-tabs > li{
    height: 39px!important;
    border-top: 0!important;
}

.tabbable-custom .nav-tabs > li > a{
    height: 36px!important;
    box-shadow:-2px 0px 2px -2px rgba(0, 0, 0, .1);
    top: 1px;
    border-width: 1px 1px 0 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    background: linear-gradient(to bottom,#5cb85c 0%,#4cae4c 100%);
    border-color: #4cae4c;
    border-style: solid;
    margin-right: -1px;
    min-height: 1px;
    font-size: 13px;
    padding: 0px 12px;
    line-height: 36px;
    font-weight: bold;
    color: #FFFFff!important;
}

.tabbable-custom .nav-tabs > li > a:hover {
    background: #21ADDF;
}

.tabbable-custom .nav-tabs > li.active > a{
    background: #fff;
    font-weight: bold;
    color: #0487BD!important;
}

.bs-calltoaction{
    position: relative;
    width:auto;
    padding: 15px 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.bs-calltoaction > .row{
    display:table;
    width: calc(100% + 30px);
}

.bs-calltoaction > .row > [class^="col-"],
.bs-calltoaction > .row > [class*=" col-"]{
    float:none;
    display:table-cell;
    vertical-align:middle;
}

.cta-contents{
    padding-top: 10px;
    padding-bottom: 10px;
    height:75px;
}

.cta-title {
    padding: 0px 5px 0px 8px;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}
.cta-desc{
    padding: 0;
}

.cta-desc p:last-child{
    margin-bottom: 0;
}

.cta-button{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 75px;
}

@media (max-width: 991px){
    .bs-calltoaction > .row{
        display:block;
        width: auto;
    }

    .bs-calltoaction > .row > [class^="col-"],
    .bs-calltoaction > .row > [class*=" col-"]{
        float:none;
        display:block;
        vertical-align:middle;
        position: relative;
    }

    .cta-contents{
        text-align: center;
    }
}
.bs-calltoaction.bs-calltoaction-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.bs-calltoaction.bs-calltoaction-primary{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.bs-calltoaction.bs-calltoaction-info{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.bs-calltoaction.bs-calltoaction-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.bs-calltoaction.bs-calltoaction-warning{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.bs-calltoaction.bs-calltoaction-danger{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.bs-calltoaction.bs-calltoaction-primary .cta-button .btn,
.bs-calltoaction.bs-calltoaction-info .cta-button .btn,
.bs-calltoaction.bs-calltoaction-success .cta-button .btn,
.bs-calltoaction.bs-calltoaction-warning .cta-button .btn,
.bs-calltoaction.bs-calltoaction-danger .cta-button .btn{
    border-color:#fff;
}
/* TAB & PRODUCT */