.portlet.box.royal-blue{
    margin-bottom: 0!important;
    padding-bottom: 0!important;
}
#invoiceForm{
    margin-bottom: 0!important;
}
.btn.receiveBtn{
    color: #fff !important;
}
.btn.royal-blue,.btn.royal-blue:focus{
    background-color: #36bae6 !important;
    color: #fff !important;
}

.btn.royal-blue:hover,.btn.royal-blue:focus,
.btn.royal-blue:active,
.btn.royal-blue.active,
.btn.royal-blue.disabled,
.btn.royal-blue[disabled] {
    background-color: #36bae6 !important;
    color: #fff !important;
}

.portlet.box.royal-blue {
    border: 1px solid #125de9;
    border-top: 0;
}

.portlet.box.royal-blue > .portlet-title {
    background-color: #36bae6;
}

.head-royal-blue {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #125de9;
    background-color: #36bae6;
}

select.m-wrap.sales-by{
   border: 5px solid #36bae6!important;
    height: 54px!important;
}


.contentWrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    border-bottom: 5px solid #36bae6;
}

.tabsWrapper {
    width: 100%;
    height: 110px;
    overflow: hidden;
    position: relative;
    margin-left: 30px;
}
.table-tab{
    margin-right: 36px!important;
}
.tabs {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: -25px;
    left: 60px;
    right: 0;
    white-space: nowrap;
    overflow: auto;
}
.tabs li {
    display: inline-block;
    background-color: #eff2f7;
    padding: 15px 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: #0593af;
    min-width: 90px;
    text-align: center;
    height: 80px;
    border: 1px solid #9bdae6;
}
.table-tab li.active {
    background-color:#36bae6;
    color:#ffffff;
}
.next, .previous {
    position: absolute;
    padding: 45px 30px;
    top: 0;
    background-color:#444d58;
    font-size: 30px;
    color: #ffffff;
}
.next {
    right: 0px;
}
.previous {
    left: 0px;
}
.next:hover, .previous:hover {
    background-color: #333333;
    cursor:move;
}

.table-sales-time{
    background: #dddddd;
    display: inline-flex;
    padding: 5px;
    font-size: 12px;
    color: #444d58;
    margin-top: 1px;
}

.group-label{
    font-weight: bold;
    border-bottom: 1px solid #36bae6
}
.bar-tabs>li{
    float: left;
    list-style: none;
}
.bar-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    position: relative;
    display: block;
    padding: 10px 15px;
    width: 150px
}

.bar-tabs>.active>a, .bar-tabs>.active>a:hover, .bar-tabs>.active>a:focus {
    color: #ffffff !important;
    cursor: default;
    background-color: #c49f47;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs>li{
    width: 100%;
}
.nav-tabs>li>a {
    line-height: 32px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px #9bdae6 solid;
    color: #0593af!important;
}


.nav-tabs>.active>a, .nav-tabs>li>a:hover, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    color: #ffffff !important;
    cursor: hand!important;
    background-color: #36bae6;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.select2-container .select2-choice {
    height: 30px!important;
    z-index: 99999!important;
}

.customer-box{
    border: 2px solid #36bae6; background: #36bae6
}
.customer-box .select2Customer{
    margin-left:0!important; width: 90%!important;
}
select[class*="span"].m-wrap, textarea[class*="span"].m-wrap{
    background: #ffffff;
}

.table-tab .process{
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.table-tab .Created{
    background: #333333;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.table-tab .New{
    background: #5f39d7;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.table-tab .Kitchen{
    background:#5f39d7;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.table-tab .Free{
    background:red;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.table-tab .Hold{
    background: #dbac14;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.table-tab .Cancel{
    background: #ff2515;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.table-tab .Order{
    background: #0e6d1f;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.table-tab .Reserved{
    background: #925d4e;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.table-tab .Delivered , .table-tab .Done{
    background: #0a7265;
    font-size: 13px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

.sales-right {
    width: 50%;
}

input[type="text"].inline-m-wrap {
    width: 30px;
    font-size: 12px;
    border: 1px solid #c49f47;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    height: 11px;
}

div.checker {
    border: 3px solid #c49f47;
    margin-top: 2px;
    margin-bottom: 3px;
}

input[class*="span"].m-wrap-bg{
    height: 50px!important;
    background: #ffffff;
    font-size: 30px;
}

input.m-wrap , select.m-wrap , textarea.m-wrap{
    border: 1px solid #36bae6!important;
}
table.table {
    clear: both;
    margin-bottom: 0 !important;
    max-width: none !important;
    font-size: 11px;
}

.table th, .table td{
    padding: 0;
    margin: 0;
    padding-left: 0px;
}

select.m-wrap {
    height: 34px!important;
}

.product-content{
    width:100%;
    text-align: center;
    float: left;
    font-size: 12px!important;
    cursor: pointer;
}
.payment-info{
    border: transparent;
}
.form-horizontal .payment-info .control-group {
    margin-bottom: 0!important;
    border-bottom:transparent;
}

.sales-right input[class*="span"].payment, .sales-right input[class*="span"].discount, .sales-right input[class*="span"].discountCoupon{
    border: 1px solid #36bae6!important;
    font-size: 15px;
}

.sales-right input[class*="span"].payment{
    border: 2px solid #ff2515 !important;
    font-size: 20px;
    height: 42px!important;
}

.bankHide , .mobileBankHide , .customer{
    display: none;
}
.all-product-box{
    overflow-y: scroll;

}
.label-custom {
    width: 150px;
}
.accordion-container {
    position: relative;
    width: 100%;
    border: 1px solid #36bae6;
    border-top: none;
    outline: 0;
    cursor: pointer
}

.accordion-container .accordion-title {
    display: block;
    position: relative;
    margin: 0;
    padding: 0.625em 0.625em 0.625em 2em;
    font-size: 1.25em;
    font-weight: normal;
    color: #fff;
    background: #000;
    cursor: pointer;
}

.accordion-container .accordion-title:hover,
.accordion-container .accordion-title:active,
.accordion-container .content-entry.open .accordion-title {
    background-color: #00aaa7;
    color: white;
}

.accordion-container .accordion-title:hover i:before,
.accordion-container .accordion-title:hover i:active,
.accordion-container .content-entry.open i {
    color: white;
}
.accordion-container .accordion-title {
    background: #00584F;
    cursor: pointer;
    border-top: 1px solid #fff;
    padding: 0.625em 0.625em 0.625em 8px;
}
.accordion-title{
    position: relative;
}

.accordion-title:after {
    content: "";
    position: absolute;
    right: 25px;
    top: 38%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.accordion-title.open:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 45%;
}
.table-list{
    width: 33%;
    float: left;
    line-height: 20px;
    display: flex;
}
.table-list .checkbox{
    width: 24px;
    float: left;
    display: flex;
}
.table-list span{
    padding-left: 3px;
}

.user-list{
    width: 50%;
    float: left;
    line-height: 20px;
    display: flex;
}
.user-list .checkbox{
    width: 24px;
    float: left;
    display: flex;
}
.user-list span{
    padding-left: 3px;
}

.calltoaction-royal-blue {
    color: #444d58;
    background-color:#eff2f7;
    border-color: #9bdae6;
    box-shadow: rgb(38 57 77) 0px 20px 30px -10px;
    margin:2px;
}

.table th.product-title {
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    text-align: right;
    padding-right: 5px;
}
.table th.product-title-name {
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    text-align: left;
    padding-right: 5px;
}

.table td.product-title {
    font-size: 12px;
    height: 36px;
    color: #000;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 12px;
}

.table-bordered th, .table-bordered td {
    border-left: none!important;
    border-top:none!important;
}

.table td .checkbox {
    width: 24px;
    margin-top: -5px;
}

.accordion-content {
    display: none;
    padding:15px;
}

/* CSS for CodePen */
.accordion-container {
    margin-bottom:7px;
}
#restaurant_invoice_payment{
    width: 35%;
    height: 46px !important;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.process-payment{
    display: none;
}

.receiveBtn{
    width: 49%!important;
}

.transaction-box{
    background: #dddddd;
    padding: 15px;
    height: 110px;
    margin-bottom: 15px;
    margin-top: -7px;
    border: 5px solid #36bae6;
}

.payment-box{
    background: #dddddd;
    padding: 15px;
    height: 35px;
    margin-bottom:0;
    margin-top: -5px;
    border: 5px solid#36bae6;
}

.switch-field {
    display: flex;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color:#444d58;
    color:#ffffff;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 11px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
    width: calc(100% /5);
    font-weight: bold;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color:#36bae6;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.switch-method {
    display: flex;
}

.switch-method input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-method label {
    background-color: #444d58;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
    width: calc(100% /3);
    color: #ffffff;
    font-weight: bold;
}

.switch-method label:hover {
    cursor: pointer;
}

.switch-method input:checked + label {
    background-color: #36bae6;
    box-shadow: none;
}

.switch-method label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-method label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.display {
    width: 100%;
    height: 60px;
    padding: 40px 0;
    background: #FF0509;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.cal-button {
    width: calc(100% /10)!important;
    height: 60px;
    float: left;
    padding: 0;
    box-sizing: border-box;
    background: #ecedef;
    border: 1px solid #333333;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    color: #5E5858;
    cursor: pointer;

}

.cal-button-lg {
    width: calc(100% /5)!important;
    height: 60px;
    float: left;
    padding: 0;
    box-sizing: border-box;
    background:#36bae6;
    border: 1px solid #36bae6;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;

}

.red {
    background: #FF0509 !important;
    color: #ffffff !important;

}


