{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <h3 class="page-title">
                    {{ user.profile.name }}
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="">Home</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Dashboard</a></li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <div id="dashboard">
            <!-- BEGIN DASHBOARD inventory -->
            {#{{ include ('UserBundle:Default/widget:inventory.html.twig')}}#}
            <!-- END DASHBOARD inventory -->
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}
