<html lang="en">
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <title>TERMINALBD.COM is Most of popular Website,Application & Mobile application create & manage</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta name="MobileOptimized" content="320">
    <meta property="og:site_name" content="-CUSTOMER VALUE-">
    <meta property="og:title" content="-CUSTOMER VALUE-">
    <meta property="og:description" content="-CUSTOMER VALUE-">
    <meta property="og:type" content="website">
    <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
    <meta property="og:url" content="-CUSTOMER VALUE-">
    <link rel="shortcut icon" href="favicon.ico">
    {% stylesheets filter='cssrewrite'

        'assets/bindu/css/style.css'
        'assets/bindu/css/shortcode.css'
        'assets/bindu/css/responsive.css'
        'assets/bindu/3rd/font-awesome/font-awesome.css'
        'assets/bindu/3rd/pretty-photo/pretty-photo.css'
        'assets/bindu/3rd/layerslider/css/layerslider.css'
        'assets/bindu/3rd/pretty-photo/pretty-photo.css'
        'assets/bindu/3rd/layerslider/css/layerslider.css'
        'assets/bindu/3rd/simple-editor/css/jquery.classyedit.css'
        'assets/bindu/3rd/tooltip/css/iml-styles.css'
        'assets/bindu/3rd/jQuery.filer/css/jquery.filer.css'
        'assets/bindu/3rd/jQuery.filer/css/themes/jquery.filer-dragdropbox-theme.css'
        'assets/bindu/3rd/rcswitcher/css/rcswitcher.min.css'
        'assets/bindu/3rd/jscroll/css/jscroll.css'
        'assets/bindu/3rd/select2/select2.css'
        'assets/bindu/3rd/colorpicker/css/evol.colorpicker.min.css'
        'assets/bindu/3rd/time-picker/css/jquery.ptTimeSelect.css'
        'assets/bindu/css/custom.css'

    %}

    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<header>
    <div id="tm-header-top">
        <div class="tm-wrap tm-table">
            <div class="tm-logo">
                <a href="/" class="tm-logo-simple">
                    <img style="height: 60px" alt="Logo" src="{{ asset('assets/frontend/img/logo.png') }}">
                </a>
                <a href="/" class="tm-logo-retina">
                    <img alt="Logo" width="142" height="60" src="{{ asset('assets/frontend/img/logo.png') }}">
                </a>
            </div>

        </div>
        <!--tm-wrap-->
    </div>
</header>
{% block body %}{% endblock %}

{% javascripts
    'assets/bindu/3rd/jquery/jquery-core.js'
    'assets/bindu/3rd/jquery/jquery-ui.js'
    'assets/bindu/3rd/jquery/jquery-tinynav.js'
    'assets/bindu/3rd/jquery/jquery-isotope.js'
    'assets/bindu/3rd/jquery/jquery-flexslider.js'
    'assets/bindu/3rd/jquery/jquery-countdown.js'
    'assets/bindu/3rd/jquery/jquery-masonry.js'
    'assets/bindu/3rd/jquery/jquery.leanModal.min.js'
    'assets/bindu/3rd/jquery/jquery-validate.js'
    'assets/bindu/3rd/pretty-photo/pretty-photo.js'
    'assets/bindu/3rd/select2/select2.js'
    'assets/bindu/3rd/jquery-validation/jquery.validate.min.js'
    'assets/bindu/3rd/layerslider/js/greensock.js'
    'assets/bindu/3rd/layerslider/js/layerslider.kreaturamedia.jquery.js'
    'assets/bindu/3rd/layerslider/js/layerslider.transitions.js'
    'assets/bindu/3rd/mask/js/jquery.maskedinput.min.js'
    'assets/bindu/3rd/simple-editor/js/jquery.classyedit.js'
    'assets/bindu/3rd/tooltip/js/iml.js'
    'assets/bindu/3rd/jQuery.filer/js/jquery.filer.min.js'
    'assets/bindu/3rd/cookietab/js/jquery.cookie.js'
    'assets/bindu/3rd/cookietab/js/cookie-based-jquery-tab.js'
    'assets/bindu/3rd/jscroll/js/jquery.jscroll.min.js'
    'assets/bindu/3rd/rcswitcher/js/rcswitcher.min.js'
    'assets/bindu/3rd/colorpicker/js/evol.colorpicker.min.js'
    'assets/bindu/3rd/time-picker/js/jquery.ptTimeSelect.js'
    'assets/bindu/js/theme.js'

%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascriptBlock %}
{% endblock %}
<!--[if IE]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<![endif]-->
<script type="text/javascript">

     jQuery(document).ready(function () {

        $(".mobile").mask("(99999) 999-999");
        {% block documentready %}
        {% endblock %}

    });
</script>

<style>

    #tm-page-body{
        width: 95%;
    }
    .fa-icon {
        display: inline-block;
        top: 12px;
        position: absolute;
        left: 10px;
    }
    .error{
        color: #fff;
        margin-top: 2px;
        line-height: 15px;
        border-radius: 2px;
        font-weight: normal;
        padding-left:5px;
    }
    .page-content .entry-container #respond #commentform p label.error {
        line-height: 30px!important;
    }

</style>

</body>
</html>
