/* here you can put your own css to customize and override the theme */
.navbar-collapse{
    padding-left: 0!important;
    padding-right: 0!important;
}
ul.page-sidebar-menu > li > ul.sub-menu{
    padding-left: 0!important;
}
ul.page-sidebar-menu > li > ul.sub-menu > li > a{
    padding-left: 35px!important;
}

.margin-left-39{
    margin-left: -39px;
}
.form-group ul li{
    list-style: none;
    /*margin-left: -39px;*/
}
.width100{
    width: 100px;
}

.background0353D6{
    background: #0353D6;
}

.height400{
    height:400px;
}

.paddingLeft15{
    padding-left: 15px !important;
}

.paddingLeft10{
    padding-left: 10px !important;
}

.margin-top10{
    margin-top: 10px !important;
}

.marginLeft-30{
    margin-left: -30px !important;
}

.marginLeft30{
    margin-left: 30px !important;
}

.marginLeft15{
    margin-left: 15px !important;
}

.marginLeft-10{
    margin-left: -10px !important;
}

.height300{
    height:300px;
}

.height70{
    height:70px;
}

.height50{
    height:50px;
}

.height100{
    height:100px;
}

.bodyWidth{
    width: 1000px;
}

.backgroundWhite{
    background: #ffffff;
}

.backGroundLightGrey{
    background: lightgrey;
}

.colorWhite{
    color: white ;
}

.style-content{
    height: auto;
    background: #eee !important;
}

.backgroundTableHeader{
    background: #4b8df8;
}

.margin-top-30{
    margin-top: 30px !important;
}

.margin-top100{
    margin-top: 100px !important;
}

.border-1-ghostwhite{
    border: 1px solid ghostwhite !important;
}

.paddind-top-18{
    padding-top: 18px !important;
}

.paddind-top-11{
    padding-top: 11px !important;
}

.btnColor{
    font-family: 'Open Sans', sans-serif;
    color: black !important;
}

.btn{
    font-family: 'Open Sans', sans-serif;

}

thead, tr, th{
    font-family: 'Open Sans', sans-serif;
    color: #FFF;

}

table, tr, td{
    font-family: 'Open Sans', sans-serif;
    color: black !important;
    font-weight: normal !important;
}

[tooltip]:before {
    position : absolute;
    content : attr(tooltip);
    opacity : 0;
}

[tooltip]:hover:before {
    margin-top: -30px;
    opacity : 1;
    width: auto;
    background: #4b8df8;
    color: #fff;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

.left_top {
    margin-left: 14px !important;
    margin-top: 12px !important;
}

textarea {
    height: 100px;
}

.border_cat {
    border: 1px solid lightgray;
}

.margin_cat_top {
    margin: 10px;
}

.form-control{
    border:1px solid #666;
}
.height-div {
    height: 50px;
}

.form-actions {
    margin-top: 10px !important;
}

.form-group-custom{
    margin-bottom: 0;
}
.tabbable-custom{
    margin-bottom: 0;
    padding-bottom: 1px;
}

.navigation-paging{
    text-align: center;
}
.page-content .page-breadcrumb.breadcrumb{
    margin-bottom: 2px!important;
}

.breadcrumb > li + li:before{
    content: none;
}

.date-tooltip{

    background: none repeat scroll 0 0 #e02222;
    color: #f5f5f5;
    float: right;
    font-family: "Open Sans",sans-serif;
    height: 33px;
    margin-top: -3px;
    padding: 8px;
    text-align: center;

}

.modal-dialog-form{
    width: 100%;
    padding-top: 25px!important;
}

.nav-custom{
    border-bottom: 1px solid #000033 !important;
}

.custom-pull-right{
    margin-top:-7px;

}
.custom-pull-right a{
    color: #FFF!important;
}
.custom-pull-right a.active{
    color: #000!important;
}


.form-group-error ul{
    margin-left: -40px!important;
}
.form-group-error ul li{
    color: red;
}


.btn-action{
    background-color: #ddd;
    background-image: none;
    border: 0 none;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #333333;
    cursor: pointer;
    filter: none;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 12px;
    outline: medium none;
    padding: 2px 10px;
    text-shadow: none;
}


.alert-danger, .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}

.alert-warning{

    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
}
.search-input{
    float: right;
    display: inline-block;
    margin-top: -2px;
}
.search-input .input-sm {
    height: 34px!important;
}
.search-btn{
    float: right;
    display: inline-block;
    margin-top: -2px;
}

.sorted a{
    color: #FFF;
}
a.sortable{
    color: #FFF;
}
.custom-fa{
    float: right;
    margin-top: 4px;
}
.modal-content{
  padding-bottom: 25px;
}
.table-striped > tbody > tr > td:nth-child(1){
    width: 20%!important;
}

/* Theme custom image size preview */

.theme-thumb-preview{
    width: 50%;
    height: 50%;
}

.form-line-height{
    line-height: 33px;
}

ol.sortable,ol.sortable ol {
    list-style-type: none;
}

.sortable li div {
    cursor: move;
}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
    border-color: #999;
}

.sortable li.mjs-nestedSortable-collapsed > ol {
    display: none;
}

.ui-datepicker{
    width: 97%;
    margin: 0 auto;
}
.ui-datepicker .ui-widget-header{
    height: 45px!important;
    background: #555555!important;

}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
    top: 8px;
    background: #cccccc;
}
.ui-datepicker .ui-datepicker-title{
    font-size: 25px!important;
    font-weight: bold!important;
    line-height: 1.5em!important;
    color: #f5f5f5!important;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight , .ui-datepicker .ui-datepicker-calendar .ui-state-active {
    background-color: #e02222 !important;
    background-image: none !important;
    border-color: #FFFFFF!important;
    color: #f5f5f5!important;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-default{
    text-align: center;
    font-size: 25px!important;
    font-weight: bold!important;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a{
    background: #e02222 !important;
    border-color: #FFFFFF!important;
    color: #f5f5f5 !important;
    font-size: 25px!important;
    font-weight: bold!important;
    text-transform: uppercase !important;
}

.thumbnail{
    height: 100px!important;
}

.m-wrap{
    border: 1px solid #666666;
    margin-left: 5px;
}
.no-resize{
    resize: none;
}
.clone-block-title{
    background: #555555 !important;
    padding-top: 10px;
    padding-bottom: 10px
}

.clone-block{
    border: 1px solid #cccccc !important;
    padding-top: 10px;
    padding-bottom: 10px
}
.clone-block-select{
    margin-top: 10px;
    margin-bottom: 10px
}
.clone-block-content{
    resize: none;
    height: 120px!important;

}
.plupload_filelist_footer{
    height: 40px;
}

.dd4-content {
    background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    color: #333;
    display: block;
    font-weight: 400;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px 5px 5px;
    text-decoration: none;
}

.product-categories{
    height: 160px;
    margin-bottom: 15px;
    overflow: scroll;
    border: 1px solid #666666;
    padding: 10px;
}

.input-custom-large{
    width: 98%;
}
.small-input{
    border: 1px solid #666;
    height: 24px;
    margin-top: 5px;
    width: 24%;
    margin-bottom: 5px;
}
.medium-input{
    border: 1px solid #666;
    height: 24px;
    margin-top: 5px;
    width: 49%;
    margin-bottom: 5px;
}
.description{
    margin-top: 5px;
}
.popover{
    width: 300px!important;

}
.popover .popover-title{
    padding: 10px;
}
.popover .popover-content{
    padding: 10px;
    padding-top: 0;
}





