body {
    background-color: #f4f4f4 !important;
}

.page-sidebar-closed .page-content{
    background: #fefefcf7!important;
}

.page-sidebar .sidebar-search .submit {
    background-image: url('../img/search-icon.png');
}

.table-bordered caption+thead tr:first-child th, .table-bordered caption+tbody tr:first-child th, .table-bordered caption+tbody tr:first-child td, .table-bordered colgroup+thead tr:first-child th, .table-bordered colgroup+tbody tr:first-child th, .table-bordered colgroup+tbody tr:first-child td, .table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td{
    vertical-align: middle!important;
}
.table-bordered th, .table-bordered td{
    vertical-align: middle!important;
}

/***
Sidebar toggler
***/
.sidebar-toggler {
    background-image: url('../img/sidebar-toggler.jpg');
    background-color: #242424;
}

/* search box bg color on expanded */
.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container {
    background-color: #3d3d3d !important;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container .remove {
    background-image: url("../img/sidebar-search-close.png");
}

/* sub menu bg color on hover menu item */
.page-sidebar-closed ul.page-sidebar-menu > li:hover .sub-menu {
    background-color: #3d3d3d;
}

/***
Horizontal Menu(new in v1.2)
***/
/*search*/
.header .hor-menu .hor-menu-search-form-toggler.off {
    background: #000000 url("../img/hor-menu-search-close.png") no-repeat center;
}

.header .hor-menu .search-form {
    background: #000000;
}

.header .hor-menu .search-form .btn {
    color: #d6d6d6;
    background: #000000 url("../img/search-icon.png") no-repeat center;
}



input.m-wrap {
    border: 1px solid #999 !important;
}
select.m-wrap, input[type="file"].m-wrap{
    border: 1px solid #999 !important;
}
.page-sidebar {
    background-color: #f4f4f4;
}

ul.page-sidebar-menu > li > a {
    border-top: none !important;
    border-bottom: 1px solid #343E43 !important;
    color: #ffffff !important;
}

.page-sidebar .page-sidebar-menu>li>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i{
    color: #ffffff!important;
}
.page-sidebar .page-sidebar-menu .sub-menu>li>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i{
    color: #ffffff!important;
}
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a{
    background: transparent!important;
    color:#ffffff;
}

.hide{
    display:none;
}
.show{
    display:block;
}

.input-icon.left input{
    padding-left: 35px!important;
}

.search-form select[class*="span"].m-wrap, .search-form textarea[class*="span"].m-wrap ,.search-form input[class*="span"].m-wrap{
    border: 2px solid #4d90fe!important;
    height: 38px!important;

}
.search-form .btn{
    padding: 9px 14px!important;
}
.search-form .select2-container, .search-form .select2-search, .search-form .select2-search input{
    border: 2px solid #4d90fe!important;
}

ul.page-sidebar-menu > li > ul.sub-menu > li > a {
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px;
    padding-left: 25px !important;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    background: none;
    border-bottom: 1px solid #2F373E
}


ul.page-sidebar-menu > li.current_ancestor > a {
    background: none repeat scroll 0 0 #0052cc !important;
    border-top-color: transparent !important;
}

ul.page-sidebar-menu > li.current_ancestor > ul.menu_level_1 {

}

ul.page-sidebar-menu > li.current_ancestor > a .selected {
    display: block;
    width: 8px;
    height: 25px;
    background-image: url("../img/sidebar-menu-arrow.png");
    float: right;
    position: absolute;
    right: 0px;
    top: 8px;
}

.page-sidebar .page-sidebar-menu>li.active>a>i{
 color: #ffffff!important;
}

ul.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {
    padding-left: 25px !important;
}

ul.page-sidebar-menu > li > ul.sub-menu > li.active > ul{
    display: block;
}

ul.page-sidebar-menu > li > ul.sub-menu > li > a {
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px;
    padding-left: 25px !important;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    background: none;
}

ul.page-sidebar-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {
    padding-left: 35px;
}

.head-green {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #cacaca;
    background:#039be5;

}

.head-blue {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #cacaca;
    background:#039be5;


}


.head-grey{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #cacaca;
    background: #555555!important;
}

.portlet.box.blue > .portlet-title {
    background-color: #27a9e3;
}

.portlet.box.silver > .portlet-title {
    background-color: #d7dada;
    color: #0b0e23!important;
}


.head-silver{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #d7dada;
    background: #BDBDBD;
}

.portlet.box.sky-blue > .portlet-title {
    background-color: #3b5998;
}

.portlet.box.sky-blue > .portlet-title{
    color: #ffffff;
}


.head-sky-blue{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #dfe3ee;
    background-color: #8b9dc3;

}


.portlet.box.bottle-green > .portlet-title {
    background-color: #00b22d;
}

.head-bottle-green{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #00b22d;
    background-color: #00b22d;

}


.head-yellow{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #fccb7e;
    background-color: #c49f47;
}


.head-red{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ef8476;
    background-color:#cb5a5e;


}


.head-purple{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #af5cc1;
    background-color: #852b99;

}



.td-search-button{
    line-height: 30px!important;
}

input[class*="span"].m-wrap{
    height: 33px!important;
}
.select2-container .select2-choice{
    height: 30px!important;
}

.leftMargin , .select2Brand, .select2Category, .select2Vendor, .select2Color, .select2Size, .select2Unit , .select2Product{
    margin-bottom: 10px;
}

.showing-overview{
    display: none;
}
.nav-tabs > li > a{
    color: #000000!important;
}
.table thead tr th {
    font-size: 13px;
    font-weight: normal;
}
.pull-center{
    text-align: center!important;
}
select{
    width: auto;
}
.span-line-height{
    line-height: 32px;
    display: inline!important;
}
.span-select-box{
    margin-left: -10px !important;
}
.form-horizontal .control-custom{
    border-left: 1px solid #ccc!important;
    margin-top: 7px !important;
    padding-left: 10px;

}
.fileupload-preview{
    max-width: 200px;
    max-height: 150px;
    line-height: 20px;
}
.head-grey{
    background:lightgrey;
}
.search{
    margin: auto;
}
.search .search-input{

    background-color: #fff;
    border: 1px solid #555555;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    color: #555;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 0 !important;
    padding: 1px 6px;
    vertical-align: middle;
    width: 150px;
}
.search .search-input-product{

    width: 219px;
    height: 26px;
    line-height: 26px;

}
.flip-scroll td .inner-table{
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    width: auto;
}
.flip-scroll .inner-table tr th , .flip-scroll .inner-table tr td{
    border: none!important;
}
.badge-custom{
    padding-left: 3px;
    padding-right: 3px;;
}

.small-sorting{
    border: 1px solid #666;
    height: 24px;
    margin-top: 10px;
    width: 70px
}
.popover{
    width: auto !important;
}
.popover .popover-title{
    padding: 10px;
}
.popover .popover-content{
    padding: 10px;
    padding-top: 0;
}

.check-list{

    margin-top: 12px;
}
.check-list .checker{
    float: left;
}
.check-list label{
    float: left;
    width: 90%;
}

div.radio-list .radio{
    float: left;
}

div.radio-list label{
    float: left;
}
.input-sm-td{
    width: 70% !important;
}
.short-description{
    height: 75px;
    margin-top: 5px;
    width: 240px;
}
.select-box-td{
    width: 220px;
}
.multiselect-container>li>a>label {
    padding: 3px 20px 3px 40px!important;
}
.controls ul{
    margin-bottom: 0!important;
    margin-left: 0!important;
}
.controls ul li{
    list-style: none;
    color: #f0262f;
}
.portlet-tabs .nav-tabs{
    top: -52px!important;
}

.input-append-inner-table, .input-prepend-inner-table{
    margin-bottom: 0!important;
}

.td-label{
    vertical-align: middle!important;
}

.selectBox-options, .selectBox-options LI, .selectBox-options LI A{
    cursor: pointer;
    text-decoration: none;
}
/*div.checker{
    float: left;
}*/
.multiple-select{
    border: 1px solid #0353D6;
}

label.error {
    color: red;
    background-color: #fff;
    background-position: 9px 5px;
    padding-left: 30px;
    margin-top: 2px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    font-weight: normal;
}

.ajax-loading {
    transition: all 0.3s;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background: #000033;
    opacity: 0.5;
    display: block;
    background-image:url("../img/loader-red.gif");
    background-position: center center;
    background-repeat: no-repeat;

}

.btn-ajax-loading {
    position: absolute;
    z-index: 9999;
    opacity: 0.5!important;
    background-image:url("../img/loader-red.gif")!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    cursor: not-allowed;

}


.loading {

    transition: all 0.3s;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background: #000033;
    opacity: 0.5;
    display: block;
}

.mini-loading {

    transition: all 0.3s;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background: #000033;
    opacity: 0.5;
    display: block;

}

#message{
    color: #f6e8fc;
    line-height: 32px;
    text-align: right;
}

.caption a{
    color: #ffffff!important;
}
.form-margin-top{
    margin-top: 70px;
}
.selectBox-dropdown{
    margin-left: 0!important;
}
.portlet.box > .portlet-body{
    padding: 10px!important;
}
.numeric input{
    margin-bottom: 0;
    min-height: 25px;
}

/* This parent can be any width and height */
.barcode-block {
    text-align: center;
    white-space: nowrap;
    width: 190px;
    float: left;
    height: 80px;
    border: 1px solid #ccc;
    margin: 2px;
}

/* The ghost, nudged to maintain perfect centering */
.barcode-block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can also be of any width and height */
.centered {
    display: inline-block;
    vertical-align: middle;
    width: 160px;
}
.centered p{
    padding: 0!important;
    margin: 0!important;
}

.centered .left{
    text-align: left;
    float: left;
    display: inline-block;
}
.centered .right{
    text-align: right;
    float: right;
    display: inline-block;
}

.add-on-height{
    height: 24px !important;
}

.ajax-loading-blue {
    background: black url("../img/loader-red.gif");
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.7;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99;
}

.ajax-loading-red {
    background: black url("../img/loader-red.gif");
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.7;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99;
}
ul.ui-autocomplete{
    background-color: #dddddd;
}
ul.ui-autocomplete li{
    margin: 0;
    cursor: pointer;
    width:100%!important;
    display: inline-block;
    border-top:1px solid #8a8a8a;
}

ul.ui-autocomplete li a{
    position: relative;
    height: 30px!important;
    line-height: 30px!important;
    text-decoration: none!important;
    padding-left:1%!important;
    display: inline-block;
    width:99%!important;
}
ul.ui-autocomplete li:hover , ul.ui-autocomplete li a:hover{
    background:#4b8df8!important;
    color: #ffffff!important;
    cursor: default;
}

.editable-input input[type="text"].m-wrap{

}
.editable-buttons {
    margin-left: 15px!important;
}
.editable-input {
    width: auto!important;
}
.editable-buttons .editable-cancel {
    margin-left: 0!important;
}

/*.ui-autocomplete-input{
    background: white url("../img/loader-red.gif") right center no-repeat;
}*/

/* ====== Checkbox Form */

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox {
    min-height: 1rem;
    padding-left: 0;
    margin-right: 0;
    cursor: pointer;
}
.custom-checkbox .custom-control-indicator {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 10px;
    background-color: #818181;
    border-radius: 15px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    vertical-align: middle;
    margin: 0 16px;
    box-shadow: none;
}
.custom-checkbox .custom-control-indicator:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #f1f1f1;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -2px;
    top: -4px;
    -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
    transition: left .3s ease, background .3s ease, box-shadow .1s ease;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background-color:#0a79df;
    background-image: none;
    box-shadow: none !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
    background-color:#0a79df;
    left: 15px;
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none !important;
}
