/*
.table{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    font-family:tahoma, geneva, sans-serif;
}
.table tr.head th, .table tr.head td{
    font-size: 15px;
    background: #333;
    color: #fff;
    height: 40px;
}

.table tr.sub-head th, .table tr.sub-head td{
    font-size: 15px;
    background: #666;
    color: #fff;
    height: 40px;
}

.table th, .table td{
    border: 1px solid #e5e5e5;
    text-align: left;
    padding-left: 20px;
    height: 30px;
    line-height: 30px;

}
h3 {
    font-size: 24px;
    display: block;
    padding: 0;
    margin: 0;
    line-height: 45px;
    height: 45px;
}
.pull-center{
    background: #e5e5e5;
    text-align: center!important;

}
.pull-right{
    text-align: right!important;
    display: block;
    padding-right: 20px;
}

ul.unstyled {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
}
.clear{
    clear: both;
}
.span12{
    width: 100%
}
.span4{
    width: 33.33%
}
.pull-left{
    text-align: left!important;
    display: block;
    padding-left: 20px;
}
*/

h1 , h2 , h3 , h4 , h5 , h6,p{
    display: block;
    padding: 0;
    margin: 0;
}
h3 {
    font-size: 24px;
    line-height: 45px;
    height: 45px;
}

body{
    background-color:#fff!important;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
}

ul{
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

ul li {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}
.pull-right {
    float: right;
    text-align: right;
    width: 220px!important;
}

.table-margin{
    margin-bottom: 15px!important;
    margin-top: 15px !important;
}

label{
    text-decoration:underline;
    font-size:13px
}

table.table {
    clear: both;
    margin-bottom: 6px !important;
    max-width: none !important;
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 100%;
}



table.table-border{
    border: 1px solid #100f0f !important;
}

table.table-no-border {
    clear: both;
    max-width: none !important;
    border-collapse: collapse;
    width: 100%;
    border: none!important;
}

.print-header{
    height: 50px;
    border: 1px solid #100f0f;
}
.print-header .title{
    float: left;
    padding-left: 10px;
    line-height: 50px;
    font-size: 18px;
    clear: both;
    display: inline-block;

}
.print-header .title-center{
    padding-left: 10px;
    line-height: 50px;
    font-size: 18px;
    clear: both;
    display: inline-block;
}

.print-header .barcode-left{
    float: left;
    padding-left: 10px;
    margin-top: 5px;
}

.print-header .barcode-right{
    float: right;
    padding-right: 10px;
    margin-top: 5px;
}

.print-header .barcode{
    float: right;
    padding-right: 10px;
    margin-top: 5px;
}


.table td {
    padding:1px;
    line-height: 20px;
    vertical-align: top;
    font-size: 11px;
    padding-left: 8px;
    padding-right: 8px;
}

.table thead th {
    vertical-align: bottom;
}
.table thead tr th {
    font-size: 11px;
    line-height: 30px;
    padding-left: 10px!important;
    padding-right: 10px!important;
}
.table-bordered tr td{
    border: 1px solid #100f0f !important;
}

.table-no-border tr td{
    border: 0!important;
    padding: 0!important;
}

.table-no-border tr td .table-bordered tr td{
    padding-left: 8px!important;
    padding-right: 8px!important;
}


.table-striped tbody>tr:nth-child(add)>td,
.table-striped tbody>tr:nth-child(add)>th {
    background-color: #313131;
}
.table-striped tbody>tr:nth-child(odd)>td,
.table-striped tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9;
}

.head-blue{
    background:#ddd!important;
    height: 30px;
    color: #000;
    line-height: 30px;
    border:1px solid #100f0f;
    text-align: left;
    padding-left:10px;
}

.header .navbar-inner{
    display: none;
}
.page-sidebar{
    display: none;
}

.page-content{
    margin-left: 0 !important;
}
.table{
    border: none!important;
}
.table th, .table td{
    border-top: none;
}
.table th .span4, .table td .span4{
    width: 100%;
}
.table-bordered th, .table-bordered td{
    border-left:none;
}

.footer{
    display: none!important;
}
.page-content{
    margin: 0 auto !important;
    width: 100%;
}

.barcode-block {
    text-align: center!important;
    white-space: nowrap;
    width: 100%;
    float: left;
    min-height: 80px;
    border: 1px solid #ccc;
    border-right: none;
    border-top: none;
}

/* The ghost, nudged to maintain perfect centering */
.barcode-block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can also be of any width and height */
.centered {
    display: inline-block;
    vertical-align: middle;
    width: auto;
}
.centered p{
    padding: 0!important;
    margin: 0!important;
    display: block;
    height: 14px;
    font-size: 11px;
    line-height: 13px;
    font-weight: bold;
}

.centered .left{
    text-align: left;
    float: left;
    display: inline-block;
    height: 14px;
    font-size: 9px;
}
.centered .center{
    text-align: center;
    display: inline-block;
    height: 14px;
}
.centered .right{
    text-align: right;
    float: right;
    display: inline-block;
    height: 14px;
    font-size: 9px;
}

.text-left{
    text-align: left!important;
}
.text-center{
    text-align: center !important;
}
.text-right{
    text-align: right !important;
}
.span12{
    width: 100%
}
.span9{
    width:75%
}
.span8{
    width:66.66666667%
}
.span6{
    width: 50%
}
.span4{
    width: 33.33333333%
}
.span3{
    width: 25%
}
.span2{
    width: 12.50%
}
.span1{
    width: 8.33333333%
}

.approve-box{
    height:30px;
    padding-top: 40px;
    text-align:center;
    font-weight:bold;
    float: left;
}


.grid-print {
    display: grid;
    grid-template-columns: auto auto auto;
    padding:1px;
}
.grid-print-item {
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 4px;
    text-align: center;
}


/*
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
td:nth-child(n) {}
*/