{% extends '::base.html.twig' %}
{% block body %}
    <div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                Super Admin

            </h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.html">Home</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Super Admin</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li><a href="#">Dashboard</a></li>
            </ul>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <!-- END PAGE CONTENT-->
    </div>

{% endblock %}
