{% extends "login.html.twig" %}
{% block body %}
    <div class="page-lock">
        <div class="page-logo">
            <a class="brand" href="{{ path('home') }}">
               <span class="logo"></span>
            </a>
        </div>
        <div class="page-body">
            <img class="page-lock-img" src="../../assets/img/profile/profile.jpg" alt="">
            <div class="page-lock-info">
                <h1>Bob Nilson</h1>
                <span>bob@keenthemes.com</span>
                <span><em>Locked</em></span>
                <form class="form-search" action="index.html">
                    <div class="input-append">
                        <input type="text" class="m-wrap" placeholder="Password">
                        <button type="submit" class="btn blue icn-only"><i class="m-icon-swapright m-icon-white"></i></button>
                    </div>
                    <div class="relogin">
                        <a href="/login">Not Bob Nilson ?</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="page-footer">
            2013 &copy; Business Booster limited.
        </div>
    </div>
{% endblock body %}
{% block documentReady %}
    Lock.init();
{% endblock documentReady %}
