
.search-form{
    margin: 0!important;
}
.cashPayment{
    display: none;
}
.customer{
    display: none;
}

.bankHide, .mobileHide {
    display: none;
}
#bankMethod, #mobileMethod {
    display: block;
}

.form .control-group .controls ul {
    margin-left: 0;
    margin-top: 0!important;
}


.form .control-group .controls ul{
    margin-left: 0;
    margin-top: -10px;
}
#error-msg{
    color: #f0262f;
}


.select2-container{
    margin-left: 15px!important;
}
.select2Item{
    float: left!important;
    margin-left: 0!important;
}

.search-form{
    margin: 0!important;
}

.search-form .search-input{
    height: 34px !important;
    min-height: 34px!important;
}

.search-portlet.box{
    margin-bottom: 0!important;
    height: 34px!important;
    border-bottom: 1px solid #555555!important;
    border-top: 1px solid #555555!important;
}

#message {
    line-height: 21px;
    text-align: right;
    font-weight: bold;
    color: #ffffff;
}

.select2{
    margin-left: 0!important;
}

.leftMargin {
    margin-left: 0!important;
}
.popover .popover-title {
    padding: 10px;
    margin-bottom: 5px!important;
}
.editable-input input.m-wrap{
    height: 20px!important;
}

.search-form .search-input {
    height: 38px !important;
    min-height: 38px!important;
}