<!-- Header -->
<style>
    a.p-link-back {
        color: #FFF;
        position: fixed !important;
        left: 10px;
        top: 10px;
        background: #0A0302!important;
        z-index: 0 !important;
        font-size: 17px;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        height: 24px!important;
        border-radius: 4px;
    }
    a.login {
        color: #FFF;
        position: fixed !important;
        right: 10px;
        top: 10px;
        background: #fa403c!important;
        z-index: 0 !important;
        font-size: 17px;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        height: 24px!important;
        border-radius: 4px;
    }
</style>
<div id="header">
    <div class="header-content">
        <a class="menu-btn" href="#menu"></a>
        <a href="javascript:history.back();" class="p-link-back"><i class="fa fa-arrow-left"></i></a>
        <a href="{{ path('bindu_login') }}" class="login"><i class="fa fa-lock"></i></a>
    </div>
</div>
<!-- Content -->
