<div class="remodal" data-remodal-id="sms-modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
    <form id="smsForm" class="signupForm sendSMS">
        <div style="position: relative">
            <h2 id="modal1Title">Sending SMS</h2>
            <div id="modal1Desc">
                <p>
                    <span class="fa-icon"><i class="fa  fa-user"></i></span>
                    <input type="text" required="required" name="name" id="name" placeholder="Enter your name">
                </p>
                <p><span class="fa-icon"><i class="fa  fa-mobile"></i></span>
                    <input type="text" required="required" class="mobile" name="mobile" id="mobile" placeholder="Enter your mobile no ">
                </p>
                <p>
                    <textarea  required="required" maxlength="250" name="content"  id="" class="message" placeholder="Message..."></textarea>
                    <span id="sms-rchars">250</span> Character(s) Remaining
                </p>
                <input type="hidden" name="globalOption" id="globalOption" value="1"  >
            </div>
        </div>
        <button data-remodal-action="cancel" class="remodal-cancel tm-btn red small">Cancel</button>
         <button type="submit"  class="tm-btn dark small">Send</button>
        <br>
    </form>
</div>

<div class="remodal" data-remodal-id="email-modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
    <form id="signupForm" class="signupForm sendEmail">
        <div style="position: relative">
            <h2 id="modal1Title">Sending Email</h2>
            <div id="modal1Desc">
                <p>
                    <span class="fa-icon"><i class="fa  fa-user"></i></span>
                    <input type="text" required="required" name="name" id="name" placeholder="Enter your name">
                </p>
                <p><span class="fa-icon"><i class="fa  fa-envelope"></i></span>
                    <input type="text" required="required" class="email" name="email" id="email" placeholder="Enter your email address ">
                </p>
                <p>
                    <textarea id="" required="required" maxlength="512" name="content" id="" class="email-message" placeholder="Message..."></textarea>
                    <span id="email-rchars">512</span> Character(s) Remaining
                </p>
                <input type="hidden" name="globalOption" id="globalOption" value="1"  >
            </div>
        </div>
        <button data-remodal-action="cancel" class="remodal-cancel tm-btn red small">Cancel</button>
        <button type="submit"  class="tm-btn dark small">Send</button>
        <br>
    </form>
</div>

<div class="remodal" data-remodal-id="map-modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
    <div id="modal1Desc" style="padding: 1px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.4788484295605!2d90.35037491184286!3d23.80156561219735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjPCsDQ4JzA1LjQiTiA5MMKwMjEnMDkuMiJF!5e0!3m2!1sen!2sbd!4v1465999161467" height="300" frameborder="0" style="border:0; width: 100%" allowfullscreen></iframe>
        <div id="content">
            <br />
            <h3 class="title"><i class="fa fa-home"></i>&nbsp;Location</h3>
            <p>
                29 Gausul Azam Avenue<br/>
                Sector-14, Uttara,Dhaka-1230<br/>
                Bangladesh
            </p>
            <br />
            <h3 class="title"><i class="fa fa-umbrella"></i>&nbsp;Contact Information</h3>
            <p>
                <i class="fa fa-user"></i>&nbsp;Md Shafiqul Islam<br />
                <i class="fa fa-phone"></i>&nbsp;+88 01828 148 148<br />
                <i class="fa fa-envelope"></i>&nbsp;<a href="mailto:info@terminalbd.com"> info@terminalbd.com</a><br />
            </p>
        </div>
    </div>
    <br>
</div>

<style>
    .remodal #modal1Title {
        color: #fff;
        font-size: 17px;
        padding-top:0;
        top: 0;
        position: absolute;
    }
    #modal1Desc p span i.fa{
        color: #121e32;
    }
    .tm-btn.red, .button.red, input[type="submit"].red {
        background: #f7827e;
    }
    .tm-btn.blue, .button.blue, input[type="submit"].blue {
        background: #009eca;
    }
    .message{
        height: 120px;
        resize: none;
    }
    .email-message{
        height: 220px;
        resize: none;
    }
</style>
