<div class="page-sidebar">
    <aside class="widget widget_text">
        <div class="tm-accordion tm-style4">
            <div class="accordion-title">
                <h3><a href="#">University</a></h3>
            </div>
            <div class="accordion-container" style="display: none;">
                <aside class="widget tm-list-style1">
                    <ul>
                        <li>
                            <a href="#">New products</a>
                        </li>
                        <li>
                            <a href="#">Top sellers</a>
                        </li>
                        <li>
                            <a href="#">Specials</a>
                        </li>
                        <li>
                            <a href="#">Manufacturers</a>
                        </li>
                        <li>
                            <a href="#">Suppliers</a>
                        </li>
                        <li>
                            <a href="#">Customer Service</a>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="accordion-title">
                <h3><a href="#">English Medium</a></h3>
            </div>
            <div class="accordion-container" style="display: none;">
                <aside class="widget tm-list-style1">
                    <ul>
                        <li>
                            <a href="#">New products</a>
                        </li>
                        <li>
                            <a href="#">Top sellers</a>
                        </li>
                        <li>
                            <a href="#">Specials</a>
                        </li>
                        <li>
                            <a href="#">Manufacturers</a>
                        </li>
                        <li>
                            <a href="#">Suppliers</a>
                        </li>
                        <li>
                            <a href="#">Customer Service</a>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="accordion-title ">
                <h3><a href="#">School</a></h3>
            </div>
            <div class="accordion-container" style="display: none;">
                <aside class="widget tm-list-style1">
                    <ul>
                        <li>
                            <a href="#">New products</a>
                        </li>
                        <li>
                            <a href="#">Top sellers</a>
                        </li>
                        <li>
                            <a href="#">Specials</a>
                        </li>
                        <li>
                            <a href="#">Manufacturers</a>
                        </li>
                        <li>
                            <a href="#">Suppliers</a>
                        </li>
                        <li>
                            <a href="#">Customer Service</a>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>

    </aside>
    <aside class="widget widget_text">
        <div class="textwidget">
            <a href=""> <img alt="img" style="margin-bottom:20px" src="../../assets/frontend/img/sample/home/slider/flexslider/9.jpg"></a>
        </div>
        <div class="textwidget">
            <a href=""> <img alt="img" style="margin-bottom:20px" src="../../assets/frontend/img/sample/home/slider/flexslider/9.jpg"></a>
        </div>

    </aside>
</div>