<section id="branch">
    <div class="container">
        <div class="text-center">
            <h2>{% if pageModule.name is not empty %}{{ pageModule.name }}{% else %}Latest Events {% endif %}</h2>
            <img class="img-responsive displayed" src="{{ asset('assets/template/desktop/patros/images/short.png') }}" alt="about">
        </div>
        <div class="row">
        </div>
    </div>
</section>