{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
<div class="form-actions portlet box grey">
    <div class="pull-center">
        <button class="btn green" type="submit"><i class="icon-ok"></i>&nbsp;{{ 'change_password.submit'|trans }}</button>
    </div>
</div>
{{ form_end(form) }}
