
.product-canvas .product-eye {
    bottom:inherit;
}

.product-canvas:hover .product-eye {
    left: 33%!important;
    top: 25%!important;
    bottom: inherit;
    opacity: 1;
    z-index: 99;
}

.product-canvas .product-eye , .product-canvas .product-buy{
    width: auto;
}
.product-canvas .product-buy {
    position: absolute;
    /* bottom: 3px; */
    cursor: pointer;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    width: auto;
    opacity: 0;
    right: 0;
}

.cart-input{
    border: #ffffff!important;
}

.caption .brand{
    font-size: 11px;
}

.input-group .input-number {
    text-align: center;
    font-weight: bold;
    width: 100%!important;
}

.input-group-btn-left{
    display: none;
}



