.title-head{
    font-size: 16px;
    line-height: 30px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 15px;
    margin-top: 15px;
    background: #d0d0d0;
}

#stock-product-box{
    padding-top: 15px;
    background: #e2cebb;
    padding-bottom: 15px
}
#stock-product-box-search{
    padding-top: 15px;
    background: #e2cebb;
    padding-bottom: 15px
}
#prescription-content{

}
#itemQuantity{
    width: 100%;
    height: 50px;
    font-size: 20px;
}
.accordion {
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #212121;
    cursor: pointer;
    display: block;
    text-align: left;
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 15px;
}

.accordion-control {
    background: #fff;
    cursor: pointer;
    display: block;
    padding: 8px 15px;
    text-align: left;
    position: relative;
    border-bottom: 1px solid #f88216;
}

.accordion-control::after {
    width: 8px;
    height: 8px;
    border-right: 1px solid #4a6e78;
    border-bottom: 1px solid #4a6e78;
    position: absolute;
    right: 10px;
    content: " ";
    top: 13px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.accordion-control.active::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.accordion li {
    padding: 0;
    list-style-type:none;
}
.accordion-panel {
    display:none;
    padding: 15px;
}
.payment-hide{
    display: none;
}
.modal-dialog , .product-modal-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel-body , .modal-footer {
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0!important;
}
input.form-cart, .form-cart:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fff;
    color: #000;
    border-radius: 0;
    font-size: 12px;
    padding: 0px 0px;
    height: 28px;
    border: 1px solid transparent!important;
    border-bottom: 1px solid #ddd!important;
    width: 100%;
    line-height: 28px;

}
input.form-cart:focus,select.form-cart:focus,textarea.address:focus{
    border-bottom: 1px solid #6165dd !important;
}

.select-cart {
    text-align: center;
    height: 32px!important;
    border: 1px solid transparent;
    padding: 0px 0px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    background-color: #fff;
    line-height: 12px;
    margin-top: 8px;
}

#couponCode {
    border: 2px solid #f88216!important;
    text-align: right;
}

.cart-quantity{
    width: 50px;
    border: 1px solid #ffffff!important;
    height: 30px;
    text-align: center;
    display: inline-block;
}
.cart-input-group{
    width: 110px;
    border: 1px solid #DDDDDD;
}
.cart-product-title{
    font-size: 11px;
    line-height: 14px;
    display: block;
}

.address {
    width: 100%;
    padding: 3px 0px;
    resize: none;
    height: 48px!important;
    line-height: 18px;
    border: 1px solid transparent;
    border-bottom: 1px solid #ddd;
}

.address:focus{
    border: 1px solid transparent!important;
    border-bottom: 1px solid #6165dd !important;
}

.cart-head {
    padding-bottom: 15px;
    color: #f88216;
    margin-left: 15px;
    margin-top: 15px;
}

ul.accordion li span{
    display: block;
    min-height: 60px;
}


span label{
    height: 18px;
    display: block;
    font-weight: normal;
    margin-bottom: 0;
    color: #999999;

}
p label{
    line-height: 11px;
    height: 11px;
    display: block;
    font-weight: normal;
    margin-bottom: 0;
    color: #999999;

}
.dropzone-upload{
    overflow: hidden!important;
}
.closest-dropzone {
    line-height: 15px;
    font-size: 11px;
}

.cart-box {
    background: #f5f5f5;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
}

#cart-item-list #cart-item-list-box{
    max-height: 400px;
}

#customerOtp{
    display: none;
}
.login-area {
    width: 100%;
}
.modal-close-btn {
    position: absolute;
    right: 0;
    top: 15px!important;
    color: red!important;
}
.help-inline-otp {
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 8px;
    text-align: center;
    width: 100%;
}
#success-msg{
    color: #009b3a;
    font-size: 11px;
    line-height: 28px;
    display: none;
}


#cart-item-list {
    border: 1px solid #f5f5f5;
    margin: 10px auto;
    margin-top: 15px;
}

#cart-item-list #cart-item-list-box {
    overflow-y: auto;
    width: 100%;
}

#cart-item-list dl {
    border-bottom: 1px solid #f5f5f5;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}

#cart-item-list dt {
    font-weight: normal;
}

#cart-item-list dt img {
    border: 1px solid #fafafa;
    float: left;
    margin: 0 15px 0 0;
}

#cart-item-list dd {
    margin-top: 10px;
    overflow: auto;
}

#cart-item-list .bottom {
    background-color: #f5f5f5;
    color: #000;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    overflow: auto;
    text-align: center;
}

/*
#cart-item-list .top {
    background-color: #f5f5f5;
    height: 40px;
    overflow: auto;
    padding-left: 11px;
    text-align: left;
}
*/

#cart-item-list .dd-span {
    padding-left: 10px;
    padding-right: 10px;
}


#cart-item-list .dd-span-action {
    display: inline-block;
    width: 13%;
    text-align: left;
}

#cart-item-list .dd-span-price {
    display: inline-block;
    width: 85%;
    text-align: right;
}

#cart-item-list p {
    padding-top: 5px;
    text-align: center;
    color: red;
    font-size: 12px;
}

#cart-item-list .dd-span-name {
    align-items: center;
    display: flex;
    width:60%;
    height: 75px;
    font-size: 12px;
    padding-right: 7px;
    float: left;
}
#cart-item-list .dd-span-remove {
    align-items: center;
    display: flex;
    height: 75px;
    font-size: 12px;
    padding-right: 7px;
}

.list-group-cash {
    padding-left: 0;
    margin-left: 0;
}
#payment-transaction{
    margin-top: 15px;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
  vertical-align: middle;
}

.item-product{
    display: flex;
    align-items: center;
    float: left!important;
}
.upload-file{
    border-bottom: 1px solid #E12454;
    background: #E12454;
    color: #ffffff;
}

.modal-body {
    padding: 0 !important;
    padding-top: 15px!important;
    padding-bottom:50px!important;
}
