.clearfix{
    clear: both; display:block
}
.o-margin-padding{
    margin: 0;
    padding: 0;
}

.margin-top{
    margin-top: 20px;
}

.margin-bottom{
    margin-bottom: 20px;
}

.has-error .select2-selection {
    border: 1px solid #a94442;
    border-radius: 4px;
}

.help-block{
    margin-top: 0 !important;
}

/*  bhoechie tab */

div.bhoechie-tab-container{
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border:1px solid #ddd;
    margin-top: 20px;
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

div.bhoechie-tab-menu{
    padding-right: 0;
    padding-left: 4px;
    padding-bottom: 0;
    border-bottom: 1px solid #ddd;

}
div.bhoechie-tab-menu div.list-group{
    margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
    margin-bottom: 0;
    border-top-right-radius: 0 !important;
    -moz-border-top-right-radius: 0 !important;
    border-radius: 0 !important;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
    color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
    background-color: #5A55A3;
    color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #5A55A3;
}

div.bhoechie-tab-content{
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-top: 10px;
    padding-bottom:20px
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
    display: none;
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left:-4px;
    margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius:0;
}
.list-group-horizontal .list-group-item:last-child {
    border-bottom-left-radius:0;
}

.list-table{

}
.list-table tr{
    height: 35px;
}

.odd{
    background-color: #ffffff;
}

.even{
    background-color: #FAFAFA;
}

#catlist{
    border-bottom:none;
    margin:10px auto;
}

#catlist dl{
    margin:0 auto;
    border-bottom:1px solid #F5F5F5;
    padding:10px;
    overflow:hidden;
}

#catlist dl:last-child{
    border-bottom: none;
}

#catlist dd{
    overflow:auto;
    margin-top: 10px;

}

#catlist dt strong{
    float:right;
    padding:0 0 0 20px;
}

#catlist dt img{
    float:left;
    margin:0 10px 0 0;
    border:1px solid #FAFAFA;
}
* html dd{height:1%} /* 3px jog*/