body{
    background-color:#fff!important;
}
.header .navbar-inner{
    display: none !important;
}
.page-sidebar{
    display: none !important;
}

.page-content{
    margin-left: 0 !important;
}
.table{
    border: none!important;
}
.table th, .table td{
    border-top: none !important;
}
.table th .span4, .table td .span4{
    width: 100% !important;
}
.table-bordered th, .table-bordered td{
    border-left:none;
}


.barcode-block {
    text-align: center;
    white-space: nowrap;
    width: 140px;
    float: left;
    height: 80px;
    border: 1px solid #ccc;
    border-right: none;
    border-top: none;
}

/* The ghost, nudged to maintain perfect centering */
.barcode-block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can also be of any width and height */
.centered {
    display: inline-block;
    vertical-align: middle;
    width: 113px;
}
.centered p{
    padding: 0!important;
    margin: 0!important;
    display: block;
    height: 14px;
    font-size: 10px;
    line-height: 14px;
}

.centered .left{
    text-align: left;
    float: left;
    display: inline-block;
    height: 14px;
}
.centered .center{
    text-align: center;
    display: inline-block;
    height: 14px;
}
.centered .right{
    text-align: right;
    float: right;
    display: inline-block;
    height: 14px;
}
