a{
  color: #0d8bb3;
}

.page-title{
  background: black;
  opacity: 0.8;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-transform:uppercase;
}

ul.header-top-menu li{
  float: right;
  margin-right: 10px;
}
ul.header-top-menu li a{
  color: #ffffff;
}

header #tm-header-nav.tm-menu-style2 nav.tm-nav ul.tm-menu > li > a{
  color: #f2f2f2;
}

header #tm-header-nav.tm-menu-style2 nav.tm-nav ul.tm-menu > li.current-menu-item > a{
  color: #A9A9A9;
}

.anchor-white{
  background: none!important;
}
.anchor-white:hover{
  color: #f2f2f2;
  text-decoration: underline;

}

.tm-btn.light:hover, .button.light:hover, input[type="submit"].light:hover {
  color: #ffffff;
  background-color: red;
}

.tm-btn.mini , .button.mini, input[type="submit"].mini {
  padding: 0 15px;
  height: auto;
  line-height: 1.8;
  font-size: 13px;
  font-weight: normal;
}

.brclear{
  margin-top: 15px;
  clear: both;
}
.align-left{
  float: left;
}
.align-right{
  float: right;
}
.small-text{
  font-size: 10px;
}

.themeSelected{
  border: 5px solid #008d71;
}

.smart-forms{
  background-color: #1ABC9C;
  border-top: 1px solid #23E0BA;
  border-bottom: 5px solid #16A085;
}

#container-form{
  background: #000;
  border: 5px #eee solid;
  border-radius: 2px;
}
.tm-container .page-content .entry-container{
  padding: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}
.tm-container .page-content .entry-container #respond #commentform p input[type="text"] , .tm-container .page-content .entry-container #respond #commentform p input[type="password"]{
  width: 100%;
}
.tm-container .page-content .entry-container #respond #commentform p input[type="text"],.tm-container .page-content .entry-container #respond #commentform p input[type="password"]{
  font-size: 13px;
  padding-left: 25px!important;
}
.tm-container .page-content .entry-container #respond #commentform p{
  text-align: left;
  position: relative;
}

.tm-container .page-content .entry-container #respond #commentform p select{
  width: 297px;
}
.fa-icon {
  display: inline-block;
  top: 6px;
  position: absolute;
  left: 10px;
}

.hide-scroll {
  background-image: url(../img/fixscroll.png);
  position: absolute;
  height: 779px;
  width: 29px;
  margin-left: 352px;
  margin-top: 11px;
  z-index: 99999;
}


.device_preview {
  background-position:center;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 25px;

}

.smartPhone_preview  {
  height: 604px;
  background: url(../img/divice/mobile.png) no-repeat center;
  display: none;
}

.smartPhone_preview .mobile_wrap{
  width: 312px;
  height: 478px;
  padding: 60px 0 0 0;
  margin:0 auto;
}

/*
.smartPhone_preview  {
  height: 800px;
  background: url(../img/divice/iphone6.png) no-repeat center;
  display: none;
}

.smartPhone_preview .mobile_wrap{
  width: 320px;
  height: 568px;
  padding: 125px 0 0 0;
  margin:0 auto;
}
*/

.phablet_preview  {
  height: 791px;
  background: url(../img/divice/nexus5.png) no-repeat center;
  display: none;
}

.phablet_preview .mobile_wrap{
  width: 360px;
  height: 613px;
  padding: 89px 0 0 0;
  margin:0 auto;
}

.tablet_preview  {
  height: 1285px;
  background: url(../img/divice/ipad.png) no-repeat center;
  display: none;
}

.tablet_preview .mobile_wrap{
  width: 769px;
  height: 1002px;
  padding: 150px 0 0 0;
  margin:0 auto;
}

.laptop_preview  {
  height:523px;
  background: url(../img/divice/mac-computer.png) no-repeat center;
  display: none;
}

.mac_preview  {
  height:850px;
  background: url(../img/divice/macbook-desktop.png) no-repeat;
  display: none;
}

.laptop_preview .mobile_wrap{
  width: 634px;
  height: 396px;
  padding: 44px 0 0 0;
  margin:0 auto;
}


.iphone_bg {
  width: 420px;
  height: 816px;
  float: left;
  background: url(../img/iphone.png) no-repeat center;
  margin-left: 8%;
}


.laptop_wrap {
  width:1026px!important;
  padding: 45px 0 0 48px;
}


.mobile_wrap {
  width: 320px;
  height: 568px;
  padding: 120px 0 0 50px;
}

.iphone {
  position: absolute;
  z-index: 999;
  margin-left: 30px;
  margin-top: 117px;
  left: 30px;
}

.tm-row-bg {
  background: #58c5c0;
  height: 50px;
}


ul.tm-filter.tm-style4 li a.selected {
  position: relative;
  background: #58c5c0;
}

.tm-accordion-setting{
  position: absolute;
  top: 12px;
  right: 30px;
  padding: 0;
  margin: 0;
}
.tm-accordion-setting dl dt{
  float: left;
  padding-right: 8px;
  cursor: pointer;
  background: #fff;
  margin-right: 8px;
  padding-left: 8px;
  height: 24px;
}
.tm-accordion-setting dl dt:last-child{
  margin-right: 0!important;
}
.setting-hidden{
  display: none;
  visibility: hidden;
}
.setting-tab{
  display: block;
  visibility: visible;
}

section {
  border-bottom: 1px solid #e6e6e6;
  padding: 30px 0;
  font-size: 13px;
}
section:first-child {
  padding-top: 0;
  margin-top: -5px;
}
section:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
section.tags i {
  font-size: 16px;
  color: #f2f2f2;
  vertical-align: middle;
}
section.tags ul {
  display: inline-block;
  vertical-align: middle;
  float: right;
}
section.tags ul li {
  display: inline-block;
}
section.tags ul li:after {
  content: "•";
  padding: 0 10px;
  color: #cccccc;
}
section.tags ul li:last-child:after {
  content: "";
  padding: 0;
}
section.tags ul li a {
  color: #f2f2f2;
  margin-left: 5px;
}
section.tags ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.tm-style4{
  border: 1px solid #c4c4c4;
}
.accordion-title {
  position: relative;
}

.tm-accordion.tm-style4 .accordion-title h3 a {

  background: #eee;
  background: -moz-linear-gradient(top,#fafafa,#e1e1e1);
  background: -webkit-gradient(linear,left top,left bottom,from(#fafafa),to(#e1e1e1));
  -pie-background: linear-gradient(top,#fafafa,#e1e1e1);
  border-bottom: 1px solid #999;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -khtml-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px;
  -moz-box-shadow: 0 1px 1px #bbb;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 1px #bbb;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -khtml-box-shadow: 0 1px 1px #bbb;
  -khtml-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -pie-box-shadow: none;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  display:block;
}

.tm-accordion.tm-style4 .accordion-title h3 a:hover {
  background: -webkit-linear-gradient(#ffffff, #f2f2f2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ffffff, #f2f2f2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ffffff, #f2f2f2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ffffff, #f2f2f2); /* Standard syntax */
  color: #444;
  display: block;
  padding: 10px 11px;
  border-bottom: 1px solid #c4c4c4;
}



.tm-accordion.tm-style4 .accordion-title.active h3 a {
  color: #333;
  background: -webkit-linear-gradient(#ffffff, #f2f2f2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ffffff, #f2f2f2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ffffff, #f2f2f2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ffffff, #f2f2f2); /* Standard syntax */

}

.tm-accordion.tm-style4 .accordion-title.active:after {
  border: 10px solid transparent;
  border-bottom: 10px solid #000;
}

.tm-accordion.tm-style4 .accordion-container {
  padding: 20px;
  background: #f2f2f2;
  color: #000;
  border-bottom: 1px solid #c4c4c4;
  line-height: 20px;
  font-size: 13px;
}

.tm-btn, input[type="submit"] {
  color: #ffffff;
  background-image: none;
  background-color: #ff0800;
  padding: 0 25px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  height: 36px;
  line-height: 36px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  display: inline-block;
  margin: 5px;
}

.tabs a{
  padding:6px 12px;
  font-weight: 300;
  text-decoration: none;
  color: #008d71;
  background: #ffffff;

}

.preview-tab a{
  padding:6px 12px;
  font-weight: 300;
  text-decoration: none;
  color: #008d71;
  background: #ffffff;
  font-size: 15px;
  text-align: center;

}



.tabs .active{
  color:#fff;
  background: #008d71;
}

#profileTabList{

  padding: 10px 15px;
  border-top: 1px solid #ddd;
  border-bottom: 10px solid #008d71;
  background:#555;
  padding-bottom: 0;
  background-color: #555;
  background-image: -webkit-gradient(linear,rgba(0,0,0,0.0),rgba(0,0,0,0.2));
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.2));
  background-image: -moz-linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.2));
  background-image: -o-linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.2));
  background-image: -ms-linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.2));
  background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.2));
}

.create-bottom{
  border-top: 1px solid #ddd;
  border-bottom: 5px solid #008d71;
  background:#555;
  padding-bottom: 0;
  background-color: #555;
  background-image: -webkit-gradient(linear,rgba(0,0,0,0.0),rgba(0,0,0,0.2));
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.2));
  background-image: -moz-linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.2));
  background-image: -o-linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.2));
  background-image: -ms-linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.2));
  background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.2));
}



.tab_content{
  display:none;
  clear:both;
}

.one-half-first{
  width: 52%;
  margin-right: 0!important;
}

.design-form {
  padding-top: 0;
}
.design-form {
  margin-top:10px;
}
.design-form p {
  margin-bottom: 20px;
  position: relative;
}
.design-form p label {
  display: block;
  font-weight: bold;
  color: #000000;
  margin-bottom: 5px;
}
.design-form p label span {
  color: #cccccc;
}
.design-form p input[type="text"] {
  width: 100%;
  height: 30px;
  border: 1px solid #A9A9A9;
  padding-left: 25px;
  color: #000033;
}
.design-form p select {
  width: 100%;
}

.design-form p textarea {
  width: 100%;
  resize: vertical;
  height: 100px;
}
.design-form p input[type="submit"] {
  border: none;
  cursor: pointer;
  margin: 0;
}

.image-icon-blank {
  background-color: blue!important;
  background-size: cover!important;
  background-image: -webkit-gradient(linear,45deg,right top,color-stop(0,#ccc),color-stop(0.25,#ccc),color-stop(0.25,#bbb),color-stop(0.5,#bbb),color-stop(0.5,#ccc),color-stop(0.75,#ccc),color-stop(0.75,#bbb))!important;
  background-image: -webkit-linear-gradient(45deg,#ccc 0,#ccc 25%,#bbb 25%,#bbb 50%,#ccc 50%,#ccc 75%,#bbb 75%)!important;
  background-image: -moz-linear-gradient(45deg,#ccc 0,#ccc 25%,#bbb 25%,#bbb 50%,#ccc 50%,#ccc 75%,#bbb 75%)!important;
  background-image: -ms-linear-gradient(45deg,#ccc 0,#ccc 25%,#bbb 25%,#bbb 50%,#ccc 50%,#ccc 75%,#bbb 75%)!important;
  background-image: -o-linear-gradient(45deg,#ccc 0,#ccc 25%,#bbb 25%,#bbb 50%,#ccc 50%,#ccc 75%,#bbb 75%)!important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc',endColorstr='#bbbbbb',GradientType=0)!important;
  background-image: linear-gradient(45deg,#ccc 0,#ccc 25%,#bbb 25%,#bbb 50%,#ccc 50%,#ccc 75%,#bbb 75%)!important;
  border: 0;
  height: 120px;
}

.jFiler-items-grid .jFiler-item .jFiler-item-container .jFiler-item-thumb{
  width: 129px!important;
  height: 90px;
  min-height: 90px;
}

table#colors-swatchs div.swatch-wrapper {
  height: 30px;
  width: 115px;
  vertical-align: middle;
}

table#colors-swatchs div.swatch {
  height: 20px;
  width: 83px;
  border: 1px solid #000;
  margin: 4px;
  cursor: pointer;
  float: left;
}

/*-------------------*/

.ui-modal-heading {
  background: none repeat scroll 0 0 #3fa2ff;
  min-height: 32px;
}

.ui-modal-heading .close {
  float: right;
  color: #fff;
  background: 0;
  border: 0;
  line-height: 27px;
  font-size: 28px;
}

.ui-modal-footer {
  border-top: 1px solid #ddd;
  padding: 10px;
  text-align: right;
  background-color: #eff0f1;
}

.ui-modal-heading h3 {
  padding: 7px;
  color: #fff;
  font-size: 18px;
}

.helpPageContainer h1 {
  color: #696669;
  font-size: 14px;
  font-weight: normal;
  padding: 0 0 20px 0;
}
.helpPageContainer ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
}

#quick-links li {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-size: 14px;
  color: #049904;
  display: inline;
}

.helpPageContainer #quick-links a {
  text-decoration: underline;
  border-right: 1px solid #000;
  padding: 0 5px 0 5px;
  font-size: 14px;
}

.helpPageContainer p, .helpPageContainer li {
  color: #333;
  margin-bottom: 12px;
  text-align: justify;
}
.helpPageContainer .to-top {
  padding-bottom: 20px;
}
.helpPageContainer .to-top a {
  float: right;
}

.helpPageContainer .video-container {
  z-index: 10;
  position: relative;
  float: right;
  margin-left: 20px;
}

.video-wrapper {
  float: right;
  width: 190px;
}
.video {
  position: relative;
  padding: 10px 10px 12px 10px;
  width: 200px;
  height: 175px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#e9eaeb),to(#fff));
  background-image: -webkit-linear-gradient(top,#e9eaeb,#fff);
  background-image: -moz-linear-gradient(top,#e9eaeb,#fff);
  background-image: -ms-linear-gradient(top,#e9eaeb,#fff);
  background-image: -o-linear-gradient(top,#e9eaeb,#fff);
  background-image: linear-gradient(top,#e9eaeb,#fff);
  -moz-box-shadow: 0 1px 3px 1px #d7d7d7;
  -webkit-box-shadow: 0 1px 3px 1px #d7d7d7;
  box-shadow: 0 1px 3px 1px #d7d7d7;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.helpPageContainer a {
  color: #39f;
  text-decoration: none;
  cursor: pointer;
}
.helpPageContainer li strong {
  color: #049904;
  font-size: 14px;
}
.helpPageContainer strong {
  font-weight: bold;
}

#commentform ul li{
  color: red;
  background-image: url("../img/error.png");
  background-repeat: no-repeat;
  background-color: #fff;
  padding-left: 35px;
  background-position: 9px 5px;
  margin-bottom: 2px;
  height: 30px;
  line-height: 30px;
}

.tm-container .page-content .entry-container #respond #commentform p label.error{
  color: red;
  background-image: url("../img/error.png");
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: 9px 5px;
  padding-left: 30px;
  margin-top: 2px;
  line-height: 10px;
  border-radius: 2px;
  font-weight: normal;

}


.ajax-loading {
  transition: all 0.3s;
  position: absolute;
  height: 100%;
  width:100%;
  z-index: 9999;
  background:#000033;
  opacity: 0.5;
  display: none;

}

.loading {
  position: absolute;
  margin:0;
  height: 100%;
  width: 100%;
  background-image: url('../img/please_wait.gif');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.inner-load {
  margin:0;
  height: 100%;
  width: 100%;
  background-image: url('../img/loader-red.gif');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}


.main-setting {
  transition: all 0.3s;
  position: absolute;
  height: 100%;
  width:100%;
  z-index: 999;
  background:#555;
  display: block;

}

.main-setting-inner {

  position: absolute;
  top: 25%;
  left: 27%;
  margin-top: -50px;
  margin-left: -50px;
  width: 55%;
  background: #ffffff;
  padding: 35px;
  border: 1px solid silver;
  /* background-image: url('../img/please_wait.gif');
   background-size: auto;*/
}

.main-setting-inner .fa-icon {
  display: inline-block;
  top: 3px;
  position: absolute;
  cursor: pointer;
  left: 96%;
}

.design-form p label.error{
  color: red;
  font-weight: normal;
  font-size: 13px;

}

h4 {
  font-size: 13px;
  color: red;
}

/* Time Picker */

#ptTimeSelectCntr .ui-widget.ui-widget-content {
  margin-top: 0;
  background: #eee;
  border: 1px solid #c4c4c4;
}

#ptTimeSelectCntr .ui-widget-header {
  padding: .2em;
  background: #ddd;
}
#ptTimeSelectCntr #ptTimeSelectUserTime {
  width: 90%;
}

#ptTimeSelectCntr .ptTimeSelectTimeLabelsCntr {
  height: 20px;
  background: #c4c4c4;
}

#ptTimeSelectCntr #ptTimeSelectSetButton a {
  background: #008d71;
  color:#ffffff;
}

blockquote.tm-style2-overwrite {
  background: #f2f2f2;
  padding: 5px;
  font-style: italic;
  border-left: 5px solid #fff7eb;
}

.tm-alert {
  padding: 5px;
  color: #ffffff;
  position: relative;
}

/* Organization listing */

.listing-block {
  text-align: center;
  margin: 5px;
  width: 24%;

}
.listing-block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */

  /* For visualization
  background: #808080; width: 5px;
  */
}

.centered {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  border: #a0a0a0 solid 1px;
  background-color: #f5f5f5;
  background-image: url('../img/apple-icon-114x114px.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}
ul.social-networks li a{
  width: 35px;
  z-index: 9;
}
ul.social-networks li a.last{
  margin-right: 0;
}
.organization-title{
  line-height: 15px;
  font-size: 15px;
}

.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}

.tm-col-4 li{
  width: auto;
}
.org-title {
  text-align: center;
  height: 40px;
  line-height: 15px;
}
.img-ceneter{
  position: absolute; top: 35%; left: 50%;transform: translate(-50%, -50%);
  width: 75% !important;
  max-height:50%;
}
#tm-portfolio.tm-portfolio-classic .tm-content article .tm-mask .tm-mask-content{
  width: 95% !important;
}
#tm-portfolio.tm-portfolio-classic .tm-content article .tm-mask{
  z-index: 9;
  font-size: 12px;
}

.signupForm {
    margin-top: 30px;
}

.signupForm input[type="text"]{
  width: 100%;
  background-color: #FFF;
  border: 1px solid #D7D9DB;
  padding: 3px 10px;
  height: 35px;
  color: #555;
  outline: none;
  font-size: 14px;
  box-shadow: none;
  margin-bottom: 5px;
}


.tm-container .page-content .entry-container #respond #signup p input[type="text"], .tm-container .page-content .entry-container #respond #signup p input[type="password"]
.signupForm .select2 {
  width: 100%;
  height: 35px;
}
.tm-container .page-content .entry-container #respond #signup p input[type="text"], .tm-container .page-content .entry-container #respond #signup p input[type="password"] {
    font-size: 13px;
    padding-left: 25px!important;
}

.select2-container .select2-choice {
  height: 35px;
  line-height: 32px;
}
.signupForm ul{
  margin-bottom: 2px;
}
.signupForm ul li{
  list-style: none;
  color: red;
}

.signupForm .submit {
  background-color: #131e2d;
  color: #FFF;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 10px;
}

.signupForm p {
    text-align: left;
    position: relative;
}
.signupForm p {
    margin-bottom: 20px;
}

#logoPreview{
  max-height:120px;
}
#bgImagePreview{
  max-height: 300px;
}

.content-title{
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
}

.testimonial{
  padding: 70px 30px 50px;
  margin: 50px 30px 30px;
  border: 1px solid #ddd;
  position: relative;

}
.testimonial .pic{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #ddd;
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
}
.testimonial .pic img{
  width: 100%;
  height: auto;
}
.testimonial .description{
  font-size: 15px;
  color: #5e595b;
  line-height: 27px;
  text-align: center;
  margin: 0;
  position: relative;
  height: 125px;
}
.testimonial .description:before{
  content: "\f10d";
  font-family: 'FontAwesome';
  font-size: 25px;
  color: #d7d7d7;
  position: absolute;
  top: 0;
  left: -10px;
}
.testimonial .title{
  display: inline-table;
  padding: 10px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 13px;
  font-weight: 700;
  color: #c7373c;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  bottom: -22px;
  left: 22px;
  right: 0;
}
.testimonial .post{
  font-size: 10px;
  color: #671a36;
}
.owl-theme .owl-controls{
  width: 100%;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 38%;
}
.owl-theme .owl-controls .owl-buttons div{
  width: 50px;
  height: 50px;
  line-height: 40px;
  border-radius: 0;
  background: transparent;
}
.owl-prev{
  position: absolute;
  left: -5%;
}
.owl-next{
  position: absolute;
  right: -5%;
}
.owl-prev:after,
.owl-next:after{
  content: "\f104";
  font-family: 'FontAwesome';
  font-size: 30px;
  color: #c7373c;
  opacity: 1;
}
.owl-next:after{ content: "\f105"; }

@media only screen and (max-width: 479px){
  .testimonial{ padding: 70px 10px 30px; }
  .testimonial .description:before{ top: -20px }
  .testimonial .title{ font-size: 12px; }
  .testimonial .post{ font-size: 11px; }
}
.client-logo{
  height: 200px;
  width: 250px
}
ul.social-networks {
  /* fallback */
  background-position: center center;
  background-repeat: no-repeat;
  padding-left: 18px!important;
}
.ul.social-networks li a::before{
  width: 200px;
}

#tm-template-default-box.tm-container{
  margin-top: 0;
}
.flex-caption {
  width:100%;
  padding: 15px;
  left: 0;
  bottom:45px;
  background:#000101;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  line-height: 18px;
  text-align: center;
  position: absolute;
  opacity:0.8;
}
.flex-caption h3{
  font-size: 18px!important;
  color: #ffffff;
  padding-bottom: 12px;
}


.pagination {
  margin: 20px 0;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}

.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 17.5px;
}

.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}

.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}

.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
}

.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
}

.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px;
}

.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 0 6px;
  font-size: 10.5px;
}



