body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    font-size: 14px;
    direction: ltr;
}
#content, .content{
    margin-bottom: 40px;
    text-align: justify;
    margin-top: 10px;

}
.bannerPane{}
.bannerPane-webbuilder { text-align:center; overflow: hidden; height:150px; position:relative;
    background: url("../img/web-builder.jpg") no-repeat center center; background-size:cover;}

.bannerPane-business-directory { text-align:center; overflow: hidden; height:150px; position:relative;
    background: url("../img/business-directory.jpg") no-repeat center center; background-size:cover;}

.bannerPane-business-locaton { text-align:center; overflow: hidden; height:150px; position:relative;
    background: url("../img/business-location.jpg") no-repeat center center; background-size:cover;}

.bannerPane-find-business { text-align:center; overflow: hidden; height:150px; position:relative;
    background: url("../img/find-business.jpg") no-repeat center center; background-size:cover;}

.bannerPane .overlay { background:#000; opacity:0.3;  position:absolute; z-index:1; width:100%; top:0px; left:0px; height:100%; }
.s-banner-content { position:absolute; bottom:10px; width:100%; text-align:center; z-index:2; color:#fff; font-size:20px; text-transform:uppercase; }

#directory {
    background: #000;
}
#directory ul{
    float: left;
    width: 100%;
    list-style: none;
    margin-top: 10px;
}
#directory ul li{
    width: 100%;
    float: left;

}
#directory ul li a {
    font-size: 12px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    background: #001e34;
    width: 93%;
    color: #fff;
    margin: 10px;
    margin-top: 5px;
    text-transform: uppercase;

}
#directory ul li a:hover{
    background: #002D31;
}
.clear{
    clear: both;
}
#mobile-footer {

    background-image:url("../img/transpBlack25.png");
    bottom:0;
    color: #EEE;
    font: 11px Arial, sans-serif;
    left: 0;
    margin: 0;
    position: fixed;
    right: 0;
    z-index: 99999;
    display: block;
    height: 36px;
    text-align: center;

}

#mobile-footer ul.social-networks{
    padding: 0!important;
    margin: 2px;

}

.signupForm  {
    margin-top:0;
}
.signupForm input[type="text"]{
    width: 100%;
    background-color: #FFF;
    border: 1px solid #D7D9DB;
    padding: 3px 10px;
    height: 35px;
    color: #555;
    outline: none;
    font-size: 14px;
    box-shadow: none;
    margin-bottom: 5px;
    padding-left: 25px !important;
}

.signupForm .select2 {
    width: 100%;
    height: 35px;
}
.select2-container .select2-choice {
    height: 35px;
    line-height: 32px;
}
.signupForm ul{
    margin-bottom: 2px;
}
.signupForm ul li{
    list-style: none;
    color: red;
}

.signupForm .submit {
    background-color: #131e2d;
    color: #FFF;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 10px;
}

.anchor-white{
    color: white!important;
}
.anchor-white:hover{
    color: #c4c4c4!important;
}

.remodal{
    padding: 5px;
    background:#000;
    width: 100%;
    min-height: 50%;
}

.remodal #modal1Title{
    color: #fff;
    font-size: 22px;
    padding: 25px;
}
.remodal #modal1Desc{
    padding: 25px;
    color: #fff;
    text-align: justify;
    padding-bottom: 0;
}

.remodal-close {
    position: absolute;
    top: 25px;
    right: 25px!important;
    width: 28px;
    height: 28px;
    text-decoration: none!important;
}
.tm-accordion.tm-style4 .accordion-title.active h3 a , .tm-accordion.tm-style4 .accordion-title h3 a{
    text-decoration: none;
    font-weight: 700;
}
.img-preview{
    width: 100px;
    height: 100px;
}

.select2{
    width: 100% !important;
}

.label-left{
    float: left!important;
}
.accordion-container .checkbox-inner label{
    width: 80%;
}

.header-line-right {
    overflow: hidden;
}

.header-line-right h1, .header-line-right h2, .header-line-right h3, .header-line-right h4, .header-line-right h5, .header-line-right h6 {
    position: relative;
    display: inline-block;
}

.tm-title {
    text-transform: uppercase;
    margin: 0 0 15px 0;
    font-weight: bold;
}
.header-double-line-right {
    overflow: hidden;
}
.header-line-right h1:after, .header-line-right h2:after, .header-line-right h3:after, .header-line-right h4:after, .header-line-right h5:after, .header-line-right h6:after {
    background: rgba(0, 0, 0, 0.1);
    height: 1px;
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -1px;
    left: 105%;
    width: 9999em;
}
.header-double-line-right h1, .header-double-line-right h2, .header-double-line-right h3, .header-double-line-right h4, .header-double-line-right h5, .header-double-line-right h6 {
    position: relative;
    display: inline-block;
}
.header-double-line-right h1:after, .header-double-line-right h2:after, .header-double-line-right h3:after, .header-double-line-right h4:after, .header-double-line-right h5:after, .header-double-line-right h6:after {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 6px;
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -3px;
    left: 105%;
    width: 9999em;
}

#accrodion {float: left; width: 100%; border-top: 1px solid #999; border-right: 1px solid #999; border-left: 1px solid #999; margin: 15px 0;}
#accrodion li a {display: block; padding: 10px 15px; background: #ccc; border-top: 1px solid #eee; border-bottom: 1px solid #999; text-decoration: none; color: #000;}
#accrodion li a:hover, #nav li a.active {background: #999; color: #fff;}
#accrodion li div {display: none;}
#accrodion li div {padding: 10px 15px; background: #ececec; border-bottom: 1px dotted #ccc;}


